{% extends 'app.twig' %}

{% import "macros/badge.twig" as badge %}

{% block main %}
<div class="heading_style-1">Heading 01</div>
<div class="heading_style-2">Heading 02</div>
<div class="heading_style-3">Heading 03</div>
<div class="heading_style-4">Heading 04</div>
<div class="heading_style-5">Heading 05</div>
<div class="heading_style-6">Heading 06</div>
<div class="paragraph_style-1">Large Paragraph dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula iaculis turpis at aliquam. Nullam eget mollis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula iaculis turpis at.</div>
<div class="paragraph_style-2">Medium Paragraph dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula iaculis turpis at aliquam. Nullam eget mollis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula iaculis turpis at.</div>
<div class="paragraph_style-3">Small Paragraph dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula iaculis turpis at aliquam. Nullam eget mollis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula iaculis turpis at.</div>


{{ badge.type('badge__color-01', 's') }}
{{ badge.type('badge__color-02', 'r') }}
{{ badge.type('badge__color-03', 'o') }}
{{ badge.type('badge__color-04', 't') }}
{{ badge.type('badge__color-05', 'b') }}

<button
    type="button"
    class="badge__button"
>
    <span class="badge__button-icon">
        <span class="badge__copy">
            0
        </span>
    </span>
    <span class="heading_style-6 badge__button-copy">
        Traditional Sliced
    </span>
</button>

<a
    href="https://www.facebook.com/"
    class="social-icon__primary"
>
    <svg
        class="social-logo__primary"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
    >
        <use xlink:href="/svgs/facebook.svg#facebook"></use>
    </svg>
</a>

<a
    href="https://twitter.com/"
    class="social-icon__primary"
>
    <svg
        class="social-logo__primary"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
    >
        <use xlink:href="/svgs/twitter.svg#twitter"></use>
    </svg>
</a>

<a
    href="https://twitter.com/"
    class="social-icon__secondary"
>
    <svg
        class="social-logo__secondary"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
    >
        <use xlink:href="/svgs/twitter.svg#twitter"></use>
    </svg>
</a>

<a
    href="https://facebook.com/"
    class="social-icon__secondary"
>
    <svg
        class="social-logo__secondary"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
    >
        <use xlink:href="/svgs/facebook.svg#facebook"></use>
    </svg>
</a>

<a
    href="/"
    class="social-icon__secondary"
>
    <svg
        class="social-logo__secondary"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
    >
        <use xlink:href="/svgs/mail.svg#mail"></use>
    </svg>
</a>

<button
    type="button"
    class="arrow-container__primary"
>
    <svg
        class="arrow-primary-left"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/arrow.svg#arrow"></use>
    </svg>
</button>

<a class="arrow-container__primary arrow-container__primary_small">
    <svg
        class="arrow-right__primary_small"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/arrow.svg#arrow"></use>
    </svg>
</a>

<button
    type="button"
    class="arrow-container__primary"
>
    <svg
        class="arrow-primary-right"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/arrow.svg#arrow"></use>
    </svg>
</button>

<button
    type="button"
    class="arrow-container__tertiary"
>
    <svg
        class="arrow-right__tertiary"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/arrow.svg#arrow"></use>
    </svg>
</button>

<button
    type="button"
    class="arrow-container__tertiary"
>
    <svg
        class="arrow-left__tertiary"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/arrow.svg#arrow"></use>
    </svg>
</button>

<button
    type="button"
    aria-label="play"
    class="play-button__container"
>
    <svg
        class="play-button"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 23 24"
    >
        <use xlink:href="/svgs/play-button.svg#play-button"></use>
    </svg>
</button>

<button
    type="button"
    aria-label="close"
    class="close-button__container"
>
    <svg
        class="close-button"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 22 22"
    >
        <use xlink:href="/svgs/close-button.svg#close-button"></use>
    </svg>
</button>

<a
    href="/"
    class="arrow-container__secondary"
>
    <svg
        class="arrow-bottom"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/arrow.svg#arrow"></use>
    </svg>
</a>

<a
    href="/"
    class="arrow-container__secondary arrow-container__secondary_small"
>
    <svg
        class="arrow-right__secondary_small"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/arrow.svg#arrow"></use>
    </svg>
</a>

<div class="squiggles">
    <div class="squiggle-container-mobile">
        <svg
            class="squiggle"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 15.147 8.824"
        >
            <use xlink:href="/svgs/squiggle-mobile.svg#squiggle-mobile"></use>
        </svg>
    </div>
    <div class="squiggle-container-desktop">
        <svg
            class="squiggle"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 15.147 8.824"
        >
            <use xlink:href="/svgs/squiggle-desktop.svg#squiggle-desktop"></use>
        </svg>
    </div>
</div>

<span class="star-container">
    <svg
        class="star star__color-01"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/star.svg#star"></use>
    </svg>
</span>

<span class="star-container">
    <svg
        class="star star__color-02"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/star.svg#star"></use>
    </svg>
</span>

<span class="star-container">
    <svg
        class="star star__color-03"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/star.svg#star"></use>
    </svg>
</span>

<span class="star-container">
    <svg
        class="star-big star__color-03"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/star.svg#star"></use>
    </svg>
</span>

<svg
    class="exclamation"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 97 113"
>
    <use xlink:href="/svgs/exclamation.svg#exclamation"></use>
</svg>

<div class="curved-arrow__container">
    <svg
        class="curved-arrow-long"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 117 207"
    >
        <use xlink:href="/svgs/curved-arrow-long.svg#curved-arrow-long"></use>
    </svg>
</div>

<div class="curved-arrow__container">
    <svg
        class="curved-arrow-short"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 117 119"
    >
        <use xlink:href="/svgs/curved-arrow-short.svg#curved-arrow-short"></use>
    </svg>
</div>

<div class="input-primary__container">
    <label
        class="access-hidden"
        for="email"
    >
        Enter your email address
    </label>
    <input
        id="email"
        type="text"
        autocomplete="email"
        class="input-primary"
        required
    >
    <span class="input-label">Email</span>
</div>

<div class="select-primary__container">
    <label
        class="access-hidden"
        for="state"
    >
        Select a state
    </label>
    <select
        id="state"
        class="select-primary"
    >
      <option disabled selected>State</option>
      <option value="California">California</option>
    </select>
        <svg
        class="select-primary__arrow"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15.147 8.824"
    >
        <use xlink:href="/svgs/arrow.svg#arrow"></use>
    </svg>
</div>

<div class="table-primary__container">
    <table class="table-primary">
        <caption class="access-hidden">description about table</caption>
        <tr
            scope="row"
            class="table-primary__row"
        >
            <th
                scope="col"
                class="header-cell"
            >
                Category
            </th>
            <th
                scope="col"
                class="header-cell"
            >
                Category
            </th>
            <th
                scope="col"
                class="header-cell"
            >
                Category
            </th>
        </tr>
        <tr
            scope="row"
            class="table-primary__row"
        >
            <td class="paragraph_style-2 data-cell__primary">Lorem ipsum</td>
            <td class="heading_style-6 data-cell__secondary">date</td>
            <td class="data-cell__tertiary">Lorem ipsum</td>
        </tr>
        <tr
            scope="row"
            class="table-primary__row"
        >
            <td class="paragraph_style-2 data-cell__primary">Lorem ipsum</td>
            <td class="heading_style-6 data-cell__secondary">date</td>
            <td class="data-cell__tertiary">Lorem ipsum</td>
        </tr>
        <tr
            scope="row"
            class="table-primary__row"
        >
            <td class="paragraph_style-2 data-cell__primary">Lorem ipsum</td>
            <td class="heading_style-6 data-cell__secondary">date</td>
            <td class="data-cell__tertiary">Lorem ipsum</td>
        </tr>
    </table>
</div>

<div style="height: 200px; padding: 74px 92px; background-color: #FF4D4D;">
    <button class="button_main_translucent">Buy Now Online</button>
</div>
<div style="height: 200px; padding: 74px 92px; background-color: #1879C9">
    <button class="button_main_blue">Buy Now Online</button>
</div>
<div style="height: 200px; padding: 74px 92px; background-color: #B0D1EC;">
    <button class="button_main_translucent">Buy Now Online</button>
</div>
<div style="height: 200px; padding: 74px 92px; background-color: #F7DD79">
    <button class="button_main_translucent">Buy Now Online</button>
</div>
<div style="height: 200px; padding: 74px 92px; background-color: #FFC2C2">
    <button class="button_main_translucent">Buy Now Online</button>
</div>
<div style="height: 200px; padding: 74px 92px; background-color: #FFF;">
    <button class="button_main_gray">Buy Now Online</button>
</div>
<div style="height: 200px; padding: 74px 92px; background-color: #EBEBEB;">
    <button class="button_main_gray">Buy Now Online</button>
</div>
{# <div style="height: 200px; padding: 74px 92px; background-color: #8E0303;">
    <ul class="footer__navigation">
        <li class="footer__navigation__item">
            <button class="button_main button_main_red">Careers</button>
        </li>
        <li class="footer__navigation__item">
            <button class="button_main button_main_red">Contact</button>
        </li>
        <li class="footer__navigation__item">
            <button class="button_main button_main_red">FAQ</button>
        </li>
    </ul>
</div> #}
<div style="max-width: 460px; padding: 30px 0">
    <div class="heading_style-5 copy_red">Recipe Made With 100% Whole Wheat</div>
    <h2 class="heading_style-2 copy_blue">Egg, Avocado, & BBQ Sandwich</h2>
    <p class="paragraph_style-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque lobortis auctor. Phasellus ac nisl ut mi bibendum dignissim. Pellentesque egestas sollicitudin rhoncus.</p>
</div>
<div style="max-width: 460px; padding: 30px 0">
    <div class="heading_style-5 copy_black">Sweepstakes</div>
    <h2 class="heading_style-3 copy_black">#BREADSELFIECHALLENGE</h2>
    <p class="paragraph_style-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque lobortis auctor. Phasellus ac nisl ut mi bibendum dignissim. Pellentesque egestas sollicitudin rhoncus.</p>
</div>
{% endblock %}
