<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>bimb-171-00w</title>
        <link rel="stylesheet" href="https://use.typekit.net/vuu1awd.css">
        {% for href in css %}
            <link rel="stylesheet" href="{{ href }}">
        {% endfor %}
    </head>
    <body>
        <div id="app">
            <div class="button-skip__container">
                <a
                    class="button-skip button_main_gray"
                    href="#main"
                >
                    Skip to Content
                </a>
            </div>
            <header>
                {% include 'components/the-header.twig' with header only %}
            </header>
            <main
                id="main"
                class="the-main"
            >
                {% for component in components %}
                    {% include 'components/' ~ component.name ~ '.twig' with component only %}
                {% endfor %}
            </main>
            {% include 'components/the-footer.twig' with footer only %}
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}"></script>
        {# <script src="https://cdn.plyr.io/3.3.23/plyr.polyfilled.js"></script> #}
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,String.prototype.startsWith,IntersectionObserver,IntersectionObserverEntry,Array.prototype.entries,Symbol,es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
        {% for src in js %}
            <script src="{{ src }}"></script>
        {% endfor %}
    </body>
</html>
