
.anchor-hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 700px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        content: "";
        background-color: $deep-salmon;
        background-image: url("/images/anchor-hero-decoration-mobile.png");

        @include breakpoint(medium) {
            right: 0;
            left: auto;
            width: 70px;
            height: 100%;
            background-image: url("/images/anchor-hero-decoration.png");
        }
    }

    &::after {
        @include breakpoint(large) {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 480px;
            height: 37px;
            content: "";
            background-color: $white;
        }
    }
}

.anchor-hero__decoration {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: $deep-salmon;

    @include breakpoint(medium) {
        right: 0;
        width: 70px;
        height: 100%;
    }
}

.anchor-hero__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.anchor-hero__heading-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

$anchor-hero-heading-padding: 25px;

.anchor-hero__heading {
    @include intersect("fade-in", 1s, "ease-in", "&", "");

    width: 100%;
    max-width: 767px;
    color: $white;
    text-align: center;

    @include breakpoint(medium) {
        padding-right: $anchor-hero-heading-padding;
        padding-left: $anchor-hero-heading-padding;
    }
}

.anchor-hero__button-container {
    margin-top: 120px;

    @include breakpoint(medium) {
        margin-top: 78px;
    }
}
