$banner-hero-index-image: -1;
$banner-hero-index-container: 1;

.banner-hero {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
}

.banner-hero__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-hero__image {
    position: relative;
    z-index: $banner-hero-index-image;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-hero__container {
    position: relative;
    z-index: $banner-hero-index-container;
    display: flex;
    align-items: center;
}

$banner-hero__badge-size: 50px;

.banner-hero__badge-container {
    @include intersect("fade-in", 1s, "ease-in", "&", "");

    display: flex;
    justify-content: center;
    align-items: center;
    width: $banner-hero__badge-size;
    height: $banner-hero__badge-size;
    margin-right: 20px;
    border-radius: 50%;
}

.banner-hero__heading {
    @include intersect("fade-in", 1s, "ease-in", "&", "");

    color: $white;
    text-align: center;
}
