$block-statement-image-height: 530px;

.block-statement {
    display: flex;
    flex-direction: column;
    background-color: $deep-salmon;

    @include breakpoint(medium) {
        height: $block-statement-image-height;
        flex-direction: row;
    }

    @include breakpoint(large) {
        height: 680px;
    }
}

.block-statement__inner {
    @include flex-grid-row;

    position: relative;
    width: 100%;

    @include breakpoint(medium) {
        order: 2;
        width: 100%;
    }
}

.block-statement__information-container {
    @include flex-grid-column(12);

    padding-top: 68px;

    @include breakpoint(medium) {
        @include flex-grid-size(6);

        position: relative;
        display: flex;
        padding-top: 0;
        margin-left: auto;
        justify-content: center;
        flex-direction: column;
        order: 2;
    }
}

.block-statement__squiggles {
    position: absolute;
    top: -15%;
    right: 30px;

    @include breakpoint(medium) {
        top: -14%;
        right: 0;
    }

    @include breakpoint(xxlarge) {
        top: -14%;
        right: -110px;
    }
}

$block-statement-headings-padding: 60px;

.block-statement__headings-container {
    @include breakpoint(medium) {
        padding-right: 10%;
    }

    @include breakpoint(large) {
        padding: 0 $block-statement-headings-padding;
    }
}

.block-statement__copy,
.block-statement__heading {
    @include intersect("fade-in", 0.75s, "ease-in", "&", "");

    color: $white;
}

.block-statement__copy {
    @include paragraph_style-3;

    margin-top: 40px;

    @include breakpoint(large) {
        @include paragraph_style-2;

        margin-top: 50px;
    }
}

.block-statement__image-container_desktop {
    display: none;

    @include breakpoint(medium) {
        @include flex-grid-column(6, 0);

        position: absolute;
        top: -60px;
        left: -100px;
        display: block;
        width: 680px;
        max-width: 58%;
        height: $block-statement-image-height;
    }

    @include breakpoint(large) {
        height: 668px;
    }
}

.block-statement__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-statement__image-container_mobile {
    position: relative;
    display: block;
    width: 100%;
    height: 360px;
    margin-top: 77px;

    @include breakpoint(medium) {
        display: none;
    }
}
