
.block-carousel {
    overflow: hidden;
    background-color: $sky-blue;
}

.block-carousel__outer {
    @include flex-grid-row;

    position: relative;
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;

    @include breakpoint(medium) {
        padding-top: $spacing-xlarge;
        padding-bottom: 75px;
    }
}

.block-carousel__decoration-mobile {
    position: absolute;
    top: -28px;
    right: 0;
    display: block;

    @include breakpoint(medium) {
        display: none;
    }
}

.block-carousel__decoration-desktop {
    display: none;

    @include breakpoint(medium) {
        position: absolute;
        bottom: 100px;
        left: -300px;
        display: block;
    }
}

.block-carousel__inner {
    @include flex-grid-column(12);

    z-index: 1;
}

.block-carousel__heading-container {
    $container-padding: 25px;

    padding-right: $container-padding;
    padding-left: $container-padding;
}

.block-carousel__heading {
    color: $black;
    text-align: center;
}

.block-carousel__list-container {
    @include push-center;

    max-width: 300px;
    margin-top: 15px;
    overflow-x: hidden;

    @include breakpoint(medium) {
        max-width: 586px;
        margin-top: 40px;
    }

    @include breakpoint(xlarge) {
        max-width: 904px;
    }
}

.block-carousel__list {
    display: flex;
    padding-top: $spacing-small;
    white-space: nowrap;
    transition: transform $transition-medium ease;
}

.block-carousel__list-item {
    $item-margin: 2px;
    $item-margin-desktop: 50px;
    $item-padding: 10px;

    display: inline-block;
    width: 300px;
    flex-shrink: 0;
    padding: 0 $item-padding;

    &:nth-child(even) {
        margin-right: $item-margin;
        margin-left: $item-margin;

        @include breakpoint(medium) {
            padding: 0;
            margin-right: $item-margin-desktop;
            margin-left: $item-margin-desktop;
        }
    }

    @include breakpoint(medium) {
        width: 268px;
    }
}

.block-carousel__list-item-inner {
    width: 100%;
}

.block-carousel__grid-item {
    background-color: rgba(255, 255, 255, 0.5);
}

.block-carousel__buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @include breakpoint(large) {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 10;
        width: 100%;
        margin-top: 0;
    }
}

.block-carousel__button {
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(large) {
        position: absolute;
        top: 20px;
        bottom: 0;
        width: 20%;
        height: 100%;
    }

    @include breakpoint(xlarge) {
        width: 10%;
    }
}

$block-carousel-button-margin: 15px;

.block-carousel__button_primary {
    margin-right: $block-carousel-button-margin;

    @include breakpoint(large) {
        left: 0;
        margin-right: 0;
    }
}

.block-carousel__button_secondary {
    margin-left: $block-carousel-button-margin;

    @include breakpoint(large) {
        right: 0;
        margin-left: 0;
    }
}

.block-carousel__link-container {
    @include push-center;

    width: 209px;
    margin-top: 45px;
}

