$block-recipes-padding: 60px;
$block-recipes-padding-desktop: 70px;

.block-recipes {
    padding-top: $block-recipes-padding;
    padding-bottom: $block-recipes-padding;

    @include breakpoint(medium) {
        padding-top: $block-recipes-padding-desktop;
        padding-bottom: $block-recipes-padding-desktop;
    }

    @include breakpoint(large) {
        padding-top: 83px;
    }
}

.block-recipes__heading {
    margin-bottom: 20px;
    color: $blue;
    text-align: center;

    @include breakpoint(large) {
        margin-bottom: 65px;
    }
}

.block-recipes__primary-container {
    @include flex-grid-row;
}

.block-recipes__select-container {
    @include flex-grid-column(12);

    margin-top: 20px;

    @include breakpoint(large) {
        @include flex-grid-size(4);
    }
}

$block-recipes-button-margin: 30px;
$block-recipes-button-margin-desktop: 40px;

.block-recipes__button-container {
    @include push-center;

    margin-top: $block-recipes-button-margin;
    margin-bottom: 10px;

    @include breakpoint(large) {
        margin-top: $block-recipes-button-margin-desktop;
    }
}

.block-recipes__button {
    color: $gray-dark;
    cursor: pointer;
    background-color: transparent;
    appearance: none;
    border: 0;
    outline: none;
    transition: color $transition-short ease;

    &:focus,
    &:hover {
        color: $blue;
    }
}

$recipes-item-spacing: 15px;

.block-recipes__list {
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: visible;
    transition: height 0.6s;

    @include breakpoint(medium) {
        padding: 0 35px;
    }

    @include breakpoint(large) {
        padding: 0;
    }
}

.block-recipes__item {
    display: inline-block;
    width: 100%;

    @include breakpoint(medium) {
        width: 50%;
        padding: 0 $recipes-item-spacing;
    }

    @include breakpoint(large) {
        width: 33.333333%;
    }
}

.block-recipes__item-link {
    position: relative;
    display: block;
    margin-top: 20px;

    @include breakpoint(medium) {
        margin-top: 40px;
    }
}

.block-recipes__image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000, transparent);
    opacity: 0.7;
}

.block-recipes__item-image-container {
    position: relative;
    display: block;
    width: 100%;
    // Perserves aspect ratio
    padding-top: 56.25%;
    overflow: hidden;
}

.block-recipes__item-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $transition-short ease;

    &:focus,
    &:hover,
    .block-recipes__item-link:focus &,
    .block-recipes__item-link:hover & {
        transform: scale(1.05);
    }
}

.block-recipes__pagination {
    margin-top: 45px;
    text-align: center;

    @include breakpoint(medium) {
        margin-top: 55px;
    }
}

.block-recipes__pagintion-item {
    $pagintion-item-size: 42px;
    $pagination-margin: 5px;

    width: $pagintion-item-size;
    height: $pagintion-item-size;
    margin-right: $pagination-margin;
    margin-left: $pagination-margin;
    background-color: $white;
    border: 0;
    border-radius: 10px;
    transition: background-color $transition-short ease-in-out;

    // Put active class here
    &:focus,
    &:hover {
        background-color: $blue;
    }
}

.block-recipes__pagintion-copy {
    @include paragraph_style-1;

    color: $gray-dark-copy;
    transition: color $transition-short ease-in-out;

    .block-recipes__pagintion-item:focus &,
    .block-recipes__pagintion-item:hover & {
        color: $white;
    }
}

.block-recipes__item-copy {
    position: absolute;
    bottom: 20px;
    left: 25px;
    z-index: 2;
    color: $white;
}

.block-recipes__arrows {
    @include push-center;

    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-top: 25px;

    @include breakpoint(medium) {
        width: 140px;
    }
}

