
.block-favorites {
    margin-bottom: 50px;

    @include breakpoint(medium) {
        margin-bottom: 75px;
    }
}

.block-favorites__heading {
    margin-bottom: 20px;
    color: $blue;
    text-align: center;
}

.block-favorites__list {
    @include flex-grid-row;

    @include breakpoint(medium) {
        padding-right: rem-calc(15px);
        padding-left: rem-calc(15px);
    }
}

.block-favorites__list-item {
    @include flex-grid-column(6);

    margin-top: 20px;

    &:nth-child(odd) {
        padding-right: rem-calc(10px);
    }

    &:nth-child(even) {
        padding-left: rem-calc(10px);
    }

    @include breakpoint(medium) {
        @include flex-grid-size(4);

        margin-top: 40px;

        &:nth-child(odd),
        &:nth-child(even) {
            padding-right: rem-calc(15px);
            padding-left: rem-calc(15px);
        }
    }
}
