
.block-history {
    position: relative;

    margin-top: 70px;
    margin-bottom: 58px;

    @include breakpoint(medium) {
        margin-top: 80px;
        margin-bottom: 150px;
    }

    @include breakpoint(large) {
        margin-bottom: 180px;
    }
}

.block-history__wrapper {
    @include flex-grid-row;
}

.block-history__copy-container {
    @include flex-grid-column(12);

    position: relative;

    @include breakpoint(medium) {
        @include flex-grid-size(7);
    }
}

.block-history__star-container_primary {
    position: absolute;
    top: -60px;
    right: 10px;
    z-index: -2;
    display: inline-block;
    transform: rotate(48deg);

    @include breakpoint(medium) {
        display: none;
    }
}

.block-history__heading {
    @include intersect("fade-in", 0.75s, "ease-out-out", "&", "");

    margin-bottom: 35px;
    color: $deep-salmon;
}

.block-history__copy {
    @include intersect("fade-in", 0.75s, "ease-in-out", "&", "");

    @include breakpoint(medium) {
        padding-left: 15%;
    }
}

.block-history__image-container {
    position: relative;
    width: 100%;
    height: 315px;
    margin-top: 40px;

    @include breakpoint(medium) {
        @include flex-grid-column(5, 0);

        position: absolute;
        right: 0;
        width: 467px;
        height: 480px;
        margin-top: 0;
    }
}

.block-history__image {
    @include intersect("fadeInRight", 0.5s, "ease-out", "", "&");

    position: absolute;
    right: 0;
    bottom: 0;
    width: 302px;
    height: 100%;
    object-fit: cover;
    object-position: left;

    @include breakpoint(medium) {
        width: 100%;
    }
}

.block-history__star-container_secondary {
    position: absolute;
    left: 40px;
    z-index: 2;

    @include breakpoint(medium) {
        bottom: 0;
        left: 0;
    }
}

.block-history__star-container_tertiary {
    display: none;

    @include breakpoint(medium) {
        position: absolute;
        bottom: 0;
        left: -50px;
        display: block;
    }
}

