
.block-ingredients {
    padding-top: 70px;
    padding-bottom: 115px;
    background-color: $bubblegum;

    @include breakpoint(medium) {
        padding-top: 95px;
    }
}

.block-ingredients__inner {
    @include flex-grid-row;
}

.block-ingredients__container {
    @include flex-grid-column(12);

    @include breakpoint(medium) {
        @include flex-grid-size(6);
    }

    @include breakpoint(large) {
        padding-left: 40px;
    }
}

.block-ingredients__container_primary {
    @include breakpoint(large) {
        @include flex-grid-size(5);
        @include grid-column-offset(1);
    }
}

.block-directions__heading {
    margin-top: 100px;
    color: $black;

    @include breakpoint(medium) {
        margin-top: 0;
    }
}

.block-ingredients__primary-list,
.block-ingredients__secondary-list {
    margin-top: 35px;

    @include breakpoint(medium) {
        margin-top: 55px;
    }
}

.primary-list__item {
    margin-top: 20px;

    &:first-of-type {
        margin-top: 0;
    }

    @include breakpoint(medium) {
        margin-top: rem-calc(15px);
    }
}

.primary-list__item-copy,
.secondary-list__item-copy, {
    @include intersect("fade-in", 0.75s, "ease-in", "&", "");
}

.secondary-list__item {
    margin-top: 40px;

    &:first-of-type {
        margin-top: 0;
    }

    @include breakpoint(medium) {
        display: flex;
        max-width: 420px;
    }
}

$item-copy-container-size: 36px;

.item__copy-container {
    @include intersect("fade-in", 0.75s, "ease-in", "&", "");

    display: flex;
    justify-content: center;
    align-items: center;
    width: $item-copy-container-size;
    min-width: $item-copy-container-size;
    height: $item-copy-container-size;
    min-height: $item-copy-container-size;
    margin-bottom: 14px;
    background-color: $bubblegum-light;
    border-radius: 50%;

    @include breakpoint(medium) {
        margin-right: rem-calc(10);
        margin-bottom: 0;
    }
}

.item-index__copy {
    margin-left: rem-calc(3);
}
