.category-index {
    padding: $spacing-large 0;

    @include breakpoint(medium) {
        padding: $spacing-large 0 100px;
    }
}

.category-index__header {
    @include flex-grid-column(12);
    @include flex-grid-row;
    justify-content: center;
}

.category-index__header + .category-index__inner {
    margin-top: $spacing-medium;
}

.category-index__inner {
    @include flex-grid-row;
    padding-right: rem-calc(10px);
    padding-left: rem-calc(10px);

    @include breakpoint(large) {
        padding-right: rem-calc(15px);
        padding-left: rem-calc(15px);
    }
}

.category-index__item {
    @include flex-grid-column(6, 0);
    border-top: 3px solid $gray-light;
    border-left: 3px solid $gray-light;

    @include breakpoint(medium) {
        @include flex-grid-column(4, 0);
    }

    .product-grid__item {
        background-color: transparent;
        border: 0 !important;
    }

    .product-grid__item__header {
        @include breakpoint(medium) {
            font-size: rem-calc(18px);
        }
    }

    .product-grid__item__image {
        @include breakpoint(large) {
            height: 260px;
        }
    }

    .product-grid__item__img {
        @include breakpoint(large) {
            max-width: 260px;
            max-height: 260px;
        }
    }

    &:nth-child(1),
    &:nth-child(2) {
        border-top: 0;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        @include breakpoint(medium) {
            border-top: 0;
        }
    }

    &:nth-child(3n - 2) {
        @include breakpoint(medium) {
            border-left: 0;
        }
    }

    &:nth-child(2n - 1) {
        @media only screen and (max-width: 640px) {
            border-left: 0;
        }
    }
}

.category-index__item_see-more {
    .product-grid__item__header {
        flex-direction: column;

        &::after {
            display: block;
            width: 150px;
            height: 30px;
            margin: $spacing-small auto 0;
            content: "";
            background-image: url("/images/category-index_squiggle.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}
