.category-index_row {
    padding: $spacing-large 0;
    background-color: $gray-slate;

    @include breakpoint(large) {
        padding: $spacing-xlarge 0;
    }
}

.category-index_row__inner {
    @include flex-grid-column(12);
    @include flex-grid-row;
}

.category-index_row__inner + .category-index_row__button {
    margin-top: $spacing-medium;
}

.category-index_row__item {
    @include flex-grid-column(6);

    @include breakpoint(medium) {
        @include flex-grid-column(4);
    }

    @include breakpoint(large) {
        flex: 1 1 0;
    }

    .product-grid__item {
        background-color: transparent;
        border: 0 !important;
    }

    .product-grid__item__image {
        @include breakpoint(large) {
            height: 200px;
        }
    }

    .product-grid__item__img {
        @include breakpoint(large) {
            max-width: 200px;
            max-height: 200px;
        }
    }
}

.category-index_row__button {
    display: table;
    margin: 0 auto;
    background-color: $gray-medium;
}
