.channelsight {
    position: relative;
}

.channelsight__button {
    width: 100%;
}

@mixin flexed-center {
    display: flex;
    align-items: center;
}

$channelsight-banner-height: 88px;
$channelsight-banner-height-desktop: 118px;
$channelsight-item-border: 1px solid $gray-medium;

.channelsight__list-header {
    @include flexed-center;

    $border-radius: 10px;

    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    height: $channelsight-banner-height;
    background-color: $white;
    border-bottom: $channelsight-item-border;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    @include breakpoint(large) {
        position: absolute;
        height: $channelsight-banner-height-desktop;
    }
}

.channelsight__banner-badge {
    @include flexed-center;

    padding-left: $spacing-small;

    @include breakpoint(large) {
        padding-right: $spacing-xlarge;
        padding-left: 42px;
    }
}

.channelsight__banner-heading {
    margin-top: 5px;
    margin-left: $spacing-small;
    color: $blue;
}

.channelsight__list-container {
    position: absolute;
    top: $channelsight-banner-height;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;

    @include breakpoint(large) {
        top: $channelsight-banner-height-desktop;
    }
}

.channelsight__list {
    $list-padding: 40px;
    $list-padding-desktop: 60px;

    height: 100%;
    padding-right: $list-padding;
    padding-left: $list-padding;

    @include breakpoint(large) {
        height: 550px;
        padding-right: $list-padding-desktop;
        padding-left: $list-padding-desktop;
    }
}

.channelsight__list-item {
    $list-item-padding: 34px;

    display: flex;
    align-items: center;
    padding-top: $list-item-padding;
    padding-bottom: $list-item-padding;
    border-bottom: $channelsight-item-border;

    @include breakpoint(medium) {
        $list-item-padding-desktop: 95px;

        padding-right: $list-item-padding-desktop;
        padding-left: $list-item-padding-desktop;
    }
}

.channelsight__list-inner {
    flex-shrink: 0;
    margin-right: $spacing-small;

    @include breakpoint(medium) {
        margin-right: 70px;
    }
}

.channelsight__list-image-container {
    width: 101px;
    height: 46px;

    @include breakpoint(large) {
        width: 133px;
        height: 61px;
    }
}

.channelsight__list-image {
    width: 100%;
    object-fit: contain;

    @include breakpoint(large) {
        height: 100%;
    }
}

.channelsight__list-text-container {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-small;
}

.channelsight__list-text {
    width: 50%;
    color: $channelsight-gray;

    &:first-child {
        border-right: 1px solid $channelsight-gray-light;
    }

    &:last-child {
        text-align: right;
    }
}

.channelsight__list-link {
    width: 100%;
    padding: 12px 20px;
}
