// stylelint-disable

@mixin close-button-container(
    $size,
    $background-color,
    $background-color-desktop,
    $background-color-hover,
    $background-color-hover-desktop,
    $scale-amount,
) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;
    cursor: pointer;
    padding: 0;
    background-color: $background-color;
    border: 0;
    border-radius: 50%;
    transition:
        background-color $transition-short ease-in-out,
        transform $transition-short ease-in-out;

    @include breakpoint(medium) {
        background-color: $background-color-desktop;
    }

    &:focus,
    &:hover {
        background-color: $background-color-hover;
        transform: scale(#{$scale-amount});

        @include breakpoint(medium) {
            background-color: $background-color-hover-desktop;
        }
    }
}

.close-button__container {
    $hsla-opacity: 0.4;
    $hsla-gray-medium: hsla(0, 0%, 92%, $hsla-opacity);
    $hsla-deep-salmon: hsla(0, 100%, 65%, $hsla-opacity);

    @include close-button-container(
        72px,
        $hsla-gray-medium,
        $gray-medium,
        $hsla-deep-salmon,
        $deep-salmon,
        1.1,
    );
}


@mixin close-button(
    $size,
    $fill,
    $hover-fill,
    $parent
) {
    width: 100%;
    height: $size;
    fill: $fill;
    transition: fill $transition-short ease-in-out;

    #{$parent}:focus &,
    #{$parent}:hover & {
        fill: $hover-fill;
    }
}

.close-button {
    @include close-button(
        20px,
        $deep-salmon,
        $gray-medium,
        ".close-button__container"
    );
}

.channelsight__close-button {
    @include close-button-container(
        40px,
        $deep-salmon,
        $deep-salmon,
        $gray-medium,
        $gray-medium,
        1,
    );

    position: absolute;
    top: $spacing-small;
    right: $spacing-small;

    @include breakpoint(large) {
        top: 40px;
        right: 46px;
    }
}

// for store locator modal
.store-modal__button-container {
    @include close-button-container(
        40px,
        $deep-salmon,
        $deep-salmon,
        $gray-medium,
        $gray-medium,
        1,
    );

    position: absolute;
    right: 0;
}

.channelsight__close-svg {
    max-width: none;
    flex-shrink: 0;
    transform: rotate(45deg);

    @include close-button(
        15px,
        $gray-medium,
        $deep-salmon,
        ".channelsight__close-button"
    );
}

.store-modal__button {
    max-width: none;
    flex-shrink: 0;
    transform: rotate(45deg);

    @include close-button(
        15px,
        $gray-medium,
        $deep-salmon,
        ".store-modal__button-container"
    );
}
