.coupon {
    height: 0;
    overflow: visible;
}

.coupon__inner {
    @include flex-grid-column(12);
    @include flex-grid-row;
    position: relative;
}

.coupon__content {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    width: 40px;
    height: 40px;
    min-height: 40px;
    padding: 0;
    overflow: hidden;
    background-color: $gray-light;
    border-radius: 5px;
    transition:
        $transition-medium width ease-in-out,
        $transition-medium height ease-in-out,
        $transition-medium padding ease-in-out;

    @include breakpoint(medium) {
        display: flex;
        min-height: none;
        justify-content: center;
        align-items: center;
    }
}

.coupon__content_active {
    width: calc(100% - 30px);
    height: 120px;
    padding: $spacing-small $spacing-medium;
    background-color: $white;

    @include breakpoint(medium) {
        height: auto;
        padding: 8px $spacing-medium;
    }

    .coupon__paragraph,
    .coupon__paragraph-star {
        visibility: visible;
        opacity: 1;
    }
}

.coupon__star {
    display: inline-block;
    width: 13px;
    height: 14px;
    fill: $deep-salmon;
}

.coupon__star + .coupon__paragraph {
    @include breakpoint(medium) {
        margin-left: $spacing-xsmall;
    }
}

.coupon__paragraph-star {
    position: absolute;
    top: 25px;
    left: 10px;
    opacity: 0;
    transition: $transition-medium opacity ease-in-out;

    @include breakpoint(medium) {
        position: static;
    }
}

.coupon__paragraph {
    visibility: hidden;
    opacity: 0;
    transition: $transition-medium opacity ease-in-out, $transition-medium visibility ease-in-out;

    @include breakpoint(medium) {
        text-align: center;
        white-space: nowrap;
    }
}

.coupon__link {
    display: block;
    transition: $transition-short color ease-in-out;

    @include breakpoint(medium) {
        display: inline;
        margin-left: $spacing-medium;
    }

    &:hover {
        color: $deep-salmon;
    }
}

.coupon__button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    padding: 12px 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.coupon__button_active {
    .coupon__star {
        display: none;
        opacity: 0;
    }

    .coupon__button__x {
        display: inline-block;
        opacity: 1;
    }
}

.coupon__button__svg {
    // position: absolute;
    transition: $transition-short opacity ease-in-out;
}

.coupon__button__x {
    display: none;
    width: 12px;
    height: 12px;
    // margin-right: 12px;
    stroke: $gray-dark;
    stroke-linecap: square;
    stroke-miterlimit: 10;
    stroke-width: 3;
    opacity: 0;
}

.coupon__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: $transition-medium opacity ease-in-out, $transition-medium visibility ease-in-out;
}

.coupon__overlay_active {
    visibility: visible;
    opacity: 1;
}
