$cta-cards-spacing: 70px;
$cta-cards-block-height: 45px;

.cta-cards {
    position: relative;

    &::after {
        display: none;
    }

    @include breakpoint(medium) {
        &::after {
            position: absolute;
            top: -$cta-cards-block-height;
            left: 0;
            display: block;
            width: 80%;
            max-width: rem-calc(1024);
            height: $cta-cards-block-height;
            content: "";
            background-color: $white;
        }
    }
}

.cta-cards__list {
    @include flex-grid-row;

    margin-bottom: $cta-cards-spacing;

    @include breakpoint(medium) {
        margin-bottom: 140px;
    }
}

.cta-cards__list-item {
    @include flex-grid-column(12);

    margin-top: $cta-cards-spacing;

    @include breakpoint(medium) {
        @include flex-grid-size(6);
    }
}

.list-item__media-container {
    position: relative;
    width: 100%;
    // Perseveres aspect 16:9 ratio
    padding-top: 56.25%;
}

.list-item__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-item__description-container {
    margin-top: 40px;
}

.list-item__heading {
    color: $blue;
}

.list-item__copy {
    padding-right: 20px;
}

.list-item__button {
    width: 100%;
    margin-top: 30px;
    text-transform: capitalize;

    @include breakpoint(medium) {
        width: 270px;
    }
}
