$cta-products-spacing: 55px;

.cta-products {
    $cta-prodcts-padding: 50px;

    position: relative;
    padding-top: $cta-products-spacing;
    padding-bottom: $cta-prodcts-padding;
    background-color: $dijon;

    @include breakpoint(medium) {
        padding-top: 0;
        padding-bottom: 0;
    }

    @include breakpoint(large) {
        padding-top: 0;
        padding-bottom: $cta-prodcts-padding;
    }
}

.cta-products__wrapper {
    @include flex-grid-row;
}

.cta-products__container {
    @include flex-grid-column(12);

    z-index: 1;

    @include breakpoint(medium) {
        @include flex-grid-size(6);
    }
}

.cta-products__container_primary {
    @include breakpoint(medium) {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.cta-products__heading {
    color: $black;

    @include breakpoint(medium) {
        max-width: 400px;
    }
}

.cta-products__container_secondary {
    margin-top: $cta-products-spacing;

    @include breakpoint(medium) {
        padding-top: 0;
    }
}

.cta-products__image {
    width: 100%;
    height: 275px;
    object-fit: cover;

    @include breakpoint(medium) {
        height: 473px;
        object-fit: contain;
    }
}

.cta-products__link {
    width: 100%;
    margin-top: 35px;

    @include breakpoint(medium) {
        width: 260px;
        margin-top: 40px;
    }
}

.cta-products__squiggle-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 90%;

    @include breakpoint(medium) {
        top: 0;
        width: 879px;
        height: 100%;
    }
}

.cta-products__squiggle {
    width: 100%;
    height: 100%;
}

.cta-products__squiggle-mobile {
    display: block;

    @include breakpoint(medium) {
        display: none;
    }
}

.cta-products__squiggle-desktop {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}
