.curved-arrow__container {
    display: none;

    @include breakpoint(medium) {
        display: block;
        width: 172px;
        height: auto;
    }
}

.curved-arrow-long {
    fill: $yellow;
}
