.footer__top {
    min-height: 300px;
    padding: 30px 0 40px;
    background-color: $red;

    @include breakpoint(large) {
        padding: 50px 0 60px;
    }
}

.footer__bottom {
    padding: 20px 0 10px;
    background-color: $crimson;

    @include breakpoint(medium) {
        padding: 20px 0;
    }

    .footer__navigation {
        @include breakpoint(medium) {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    .footer__navigation__item {
        $footer-item-margin: 15px;

        margin-right: $footer-item-margin;
        margin-bottom: $footer-item-margin;
        margin-left: $footer-item-margin;

        @include breakpoint(medium) {
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
        }
    }

    .footer__navigation__item + .footer__navigation__item {
        @include breakpoint(large) {
            margin-left: $spacing-small;
        }
    }
}

.footer__inner {
    @include flex-grid-column(12);
    @include flex-grid-row;
}

.footer__inner + .footer__inner {
    margin-top: 50px;

    @include breakpoint(large) {
        margin-top: 80px;
    }
}

.footer__inner_top {
    @include breakpoint(large) {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
}

.footer__navigation {
    @include breakpoint(large) {
        margin-right: auto;
    }
}

.footer__social {
    @include breakpoint(large) {
        display: flex;
        margin-left: auto;
        align-items: center;
    }
}

.footer__navigation,
.footer__social {
    width: 100%;
    font-size: 0;
    text-align: center;

    @include breakpoint(large) {
        width: auto;
        text-align: left;
    }
}

.footer__navigation + .footer__social {
    margin-top: 40px;

    @include breakpoint(large) {
        margin-top: 0;
    }
}

.footer__navigation__item {
    display: inline-block;
    margin-right: $spacing-xsmall;
    margin-bottom: $spacing-xsmall;
    margin-left: $spacing-xsmall;

    @include breakpoint(large) {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .button_main {
        width: 130px;
        padding: 11px;

        @include breakpoint(medium) {
            width: 150px;
        }

        @include breakpoint(large) {
            width: 110px;
        }
    }
}

.footer__navigation__item + .footer__navigation__item {
    @include breakpoint(large) {
        margin-left: $spacing-xsmall;
    }

    @include breakpoint(xlarge) {
        margin-left: $spacing-small;
    }
}

.footer__social__header {
    width: 100%;
    margin: 0 0 15px;

    @include breakpoint(medium) {
        width: auto;
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 10px;
    }
}

.footer__logo {
    display: block;
    width: 154px;
    margin: 0 auto;

    @include breakpoint(large) {
        position: absolute;
        top: -30px;
        right: 0;
        left: 0;
        width: 218px;
    }
}

.footer__logo + .footer__navigation {
    margin-top: 40px;

    @include breakpoint(large) {
        margin-top: 0;
    }
}

.footer__logo + .footer__pitch {
    margin-top: 40px;

    @include breakpoint(large) {
        margin-top: 0;
    }
}

.footer__pitch {
    width: 100%;

    @include breakpoint(large) {
        position: absolute;
        top: 130px;
        left: 0;
    }
}

.footer__pitch + .footer__navigation {
    margin-top: 40px;

    @include breakpoint(large) {
        margin-top: 0;
    }
}

.footer__pitch__wrap {
    position: relative;
    height: 60px;
    transition: 0.3s height;
}

.footer__pitch__item {
    $timing: 0.4s;

    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: $timing opacity, $timing visibility;
    transform: translate(0, -50%);
}

.footer__pitch__item_active {
    visibility: visible;
    opacity: 1;
}

.footer__bottom__navigation__link {
    @include paragraph_style-3;
    color: $pink;
    outline: none;
    transition: color $transition-short ease-in-out;

    &:focus,
    &:hover {
        color: $white;
    }
}
