
.form-cta {
    overflow: hidden;
}

.form-cta__subheading-container {
    @include flex-grid-row;

    margin-top: 70px;
    margin-bottom: 50px;

    @include breakpoint(medium) {
        margin-bottom: 100px;
    }
}

.form-cta__heading-container {
    @include push-center;

    position: relative;
    max-width: 240px;

    @include breakpoint(medium) {
        max-width: 400px;
    }

    @include breakpoint(large) {
        max-width: 550px;
    }
}

.form-cta__subheading-mobile {
    @include flex-grid-column(12);

    display: block;
    text-align: center;

    @include breakpoint(medium) {
        display: none;
    }
}

.form-cta__subheading-desktop {
    display: none;

    @include breakpoint(medium) {
        @include flex-grid-column(12);

        display: block;
        color: $black;
    }
}

.form-cta__heading {
    position: relative;
    z-index: 1;
    color: $black;
    text-align: center;
}

.form-cta__primary-container {
    @include flex-grid-row;

    $conatiner-margin: 65px;

    position: relative;
    margin-top: 70px;

    @include breakpoint(medium) {
        margin-top: $conatiner-margin;
        margin-bottom: 25px;
    }

    @include breakpoint(large) {
        margin-bottom: 35px;
    }
}

.form-cta__field-container {
    @include flex-grid-column(12);

    position: relative;
    width: 100%;

    @include breakpoint(medium) {
        @include flex-grid-size(6);
    }
}

.form-cta__field-inner {
    position: relative;
}

.form-cta__field-container_input {
    @include breakpoint(large) {
        @include grid-column-offset(2);
        @include flex-grid-size(4);
    }
}

.form-cta__field-container_select {
    margin-top: 25px;

    @include breakpoint(medium) {
        margin-top: 0;
    }

    @include breakpoint(large) {
        @include flex-grid-size(2);
    }
}

.form-cta__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 35px;

    @include breakpoint(large) {
        @include flex-grid-size(2);

        margin-top: 0;
    }
}

// Conditional style
.form-cta__success-copy-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: opacity $transition-long ease;

    &.form-cta__success-copy-container_hidden {
        opacity: 0;
    }

    &.form-cta__success-copy-container_visible {
        opacity: 1;
    }
}

.form-cta__success-copy {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

// Small squiggle
.cta-form__decoration-container-01 {
    display: none;

    @include breakpoint(large) {
        position: absolute;
        top: 0;
        left: -95px;
        display: block;
        width: 150px;
        height: 65px;
    }
}

// Bread icon
.cta-form__decoration-container-02 {
    position: absolute;
    top: -56%;
    right: -42px;
    width: 107px;
    height: 78px;

    @include breakpoint(medium) {
        width: 129px;
        height: 94px;
    }

    @include breakpoint(large) {
        top: -100%;
    }
}

// Selection graphic
.cta-form__decoration-container-03 {
    $graphic-size: 55px;
    $graphic-size-desktop: 65px;

    position: absolute;
    top: -$graphic-size;
    left: -$graphic-size;
    width: $graphic-size;
    height: $graphic-size;

    @include breakpoint(medium) {
        top: -$graphic-size-desktop;
        left: -$graphic-size-desktop;
        width: $graphic-size-desktop;
        height: $graphic-size-desktop;
    }

    @include breakpoint(large) {
        left: -30px;
    }
}

// Medium squiggle
.cta-form__decoration-container-04 {
    @include push-center;

    // Might have to change
    $decoration-padding: 10px;

    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 370px;
    padding-right: $decoration-padding;
    padding-left: $decoration-padding;
    margin-top: 0;

    @include breakpoint(medium) {
        margin-top: 20px;
    }
}

// Squiggle arrow
.cta-form__decoration-container-05 {
    display: none;

    @include breakpoint(large) {
        position: absolute;
        right: -200px;
        bottom: 25px;
        display: block;
        width: 300px;
        height: 158px;
    }

    @include breakpoint(large) {
        right: -240px;
    }
}

.cta-form__decoration {
    width: 100%;
    height: 100%;
    fill: $yellow;
    stroke: $yellow;
}

