.full-width-blocks {
    display: flex;
    flex-direction: column;

    @include breakpoint(medium) {
        flex-direction: row;
    }
}

.full-width-blocks__block {
    order: 1;
    overflow: hidden;

    @include breakpoint(medium) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 500px;
    }

    @include breakpoint(xlarge) {
        height: 624px;
    }
}

.full-width-blocks__block_image {
    height: 264px;

    @include breakpoint(medium) {
        height: 500px;
    }

    @include breakpoint(xlarge) {
        height: 624px;
    }

    @media only screen and (max-width: 640px) {
        order: 0;
    }
}

.full-width-blocks__block__content {
    padding: rem-calc(50px) rem-calc(10px);

    @include breakpoint(medium) {
        max-width: 300px;
        padding: 0;
    }

    @include breakpoint(large) {
        max-width: 400px;
    }

    @include breakpoint(xlarge) {
        max-width: 500px;
    }

    .paragraph_style-3 + .button_main_translucent {
        margin-top: $spacing-medium;
    }
}

.full-width-blocks__img-wrap {
    width: 100%;
    height: 100%;

    &.intersect-item .full-width-blocks__img {
        opacity: 0;
    }

    &.intersect-item_active .full-width-blocks__img {
        opacity: 1;
    }
}

.full-width-blocks__img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: opacity 2s;
}
