// Skip to content button related styles below
.button-skip__container {
    background-color: $yellow;

    &:focus-within {
        padding: 10px;
    }
}

.button-skip {
    position: absolute;
    opacity: 0;

    &:focus {
        position: relative;
        opacity: 1;
    }
}

.header {
    position: relative;
    z-index: 11;
    width: 100%;
    height: 60px;
    background-color: $red;

    @include breakpoint(large) {
        height: 80px;
    }
}

.header__inner {
    @include flex-grid-column(12);
    @include flex-grid-row;
}

.header__inner_desktop {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    position: absolute;
    top: 2px;
    right: 0;
    left: 0;
    width: 154px;
    margin: 0 auto;

    @include breakpoint(large) {
        top: 5px;
        width: 218px;
    }
}

.header__navigation {
    font-size: 0;
}

.header__navigation_mobile {
    padding: 0 70px;
    opacity: 0;
    transition: $transition-short opacity;
}

.header__navigation_mobile_active {
    opacity: 1;
}

.header__navigation_desktop {
    display: none;

    @include breakpoint(large) {
        display: block;
    }
}

.header__navigation__item {
    @include breakpoint(large) {
        display: inline-block;
    }
}

.header__navigation__item + .header__navigation__item {
    margin-top: $spacing-small;

    @include breakpoint(large) {
        margin-top: 0;
        margin-left: $spacing-medium;
    }

    @include breakpoint(xlarge) {
        margin-left: $spacing-large;
    }
}

.header__navigation__link {
    @include paragraph_style-2;
    padding: 0;
    font-size: 20px;
    color: $white;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    border: 0;
    transition: 0.2s color;

    @include breakpoint(large) {
        font-size: 18px;
    }

    &:hover {
        color: $deep-salmon;
    }
}

.header__navigation__search-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-bottom: -2px;
    margin-left: 5px;
    fill: $deep-salmon;
    // transition: $transition-short fill;
}

.header__navigation__search-close {
    display: inline-block;
    width: 18px;
    height: 16px;
    margin-bottom: -2px;
    margin-left: 5px;
    stroke: $deep-salmon;
    stroke-linecap: square;
    stroke-miterlimit: 10;
    stroke-width: 3;
    // transition: $transition-short stroke;
}

.header__search {
    position: absolute;
    top: 60px;
    left: -100vw;
    z-index: 10;
    width: 100%;
    padding: 120px 0 100px;
    overflow: hidden;
    background-color: $crimson;
    transition: $transition-medium left;

    @include breakpoint(large) {
        top: 80px;
    }
}

.header__search_active {
    left: 0;
}

.header__search__label {
    position: relative;
    width: 100%;
}

.header__search__label_mobile,
.header__navigation_mobile {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    transform: translate(0, -50%);
}

.header__search__label_mobile {
    padding: 0 30px;
    visibility: hidden;
    opacity: 0;
    transition: $transition-short opacity, $transition-short visibility;
}

.header__search__label_mobile_active {
    visibility: visible;
    opacity: 1;
}

.header__search__input {
    @include heading_style-2;
    width: 100%;
    padding: 0 0 20px;
    color: $white;
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid $deep-salmon;
    border-radius: 0;

    @include breakpoint(large) {
        padding: 0 240px 30px 0;
        border-bottom: 3px solid $red;
    }

    &::placeholder {
        color: $deep-salmon;
    }

    &:focus {
        outline: 0;
    }
}

.header__search__input + .header__search__button {
    margin-top: 50px;

    @include breakpoint(large) {
        margin-top: 0;
    }
}

.header__search__button {
    @include button_main($deep-salmon, $red);
    width: 100%;
    min-width: 240px;

    @include breakpoint(large) {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
    }
}

/* stylelint-disable */
.header__hamburger {
    position: relative;
    width: 21px;
    height: 14px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;

    @include breakpoint(large) {
        display: none;
    }

    span,
    span::before,
    span::after {
        position: absolute;
        left: 0;
        display: block;
        width: 21px;
        height: 3px;
        cursor: pointer;
        content: "";
        background: $deep-salmon;
        border-radius: 1px;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, background-color 0.3s ease-in-out, width 0.3s;
    }

    span {
        background: transparent;

        &::before {
            top: -4px;
        }

        &::after {
            bottom: -4px;
        }
    }
}

.header__hamburger[aria-expanded="true"],
.header__hamburger_active {
    span {
        background-color: transparent;

        &::before,
        &::after {
            top: 0;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            top: 10px;
            transform: translateY(-10px) rotate(-45deg);
        }
    }
}
/* stylelint-enable */

.header__searchbtn_mobile {
    padding: 0;
    margin: 0 0 0 auto;
    appearance: none;
    background-color: transparent;
    border: 0;

    @include breakpoint(large) {
        display: none;
    }
}

.header__searchbtn_mobile_active {
    .header__navigation__search-icon {
        fill: $white;
    }
}

.header__menu {
    position: absolute;
    top: 60px;
    left: -100vw;
    z-index: 10;
    width: 100%;
    height: calc(100% - 60px);
    background-color: $crimson;
    transition: $transition-medium left;

    @include breakpoint(large) {
        display: none;
    }
}

.header__menu_active {
    left: 0;
}

