.hero-cta {
    padding-top: 60px;
    overflow: hidden;
    background-color: $blue;

    @include breakpoint(medium) {
        padding-bottom: 100px;
    }

    @include breakpoint(xlarge) {
        height: 690px;
    }
}

.hero-cta__inner {
    @include flex-grid-row;

    position: relative;
    align-items: center;
}

.hero-cta__toast-container {
    position: absolute;
    width: 172px;
    height: 187px;
}

$toast-rotation: 15deg;

.hero-cta__toast-container-primary {
    top: -70px;
    right: -30px;
    transform: rotate(#{$toast-rotation});

    @include breakpoint(medium) {
        top: -120px;
        left: 0;
    }
}

.hero-cta__primary-container {
    @include flex-grid-column(12);

    z-index: 1;

    @include breakpoint(medium) {
        @include flex-grid-size(5);

        margin-top: auto;
        margin-bottom: auto;
    }
}

.hero-cta__secondary-container {
    width: 100%;
    margin-top: 50px;

    @include breakpoint(medium) {
        @include flex-grid-size(6);
        @include grid-column-offset(1);

        margin-top: 0;
    }
}

.hero-cta__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-cta__copy,
.hero-cta__heading {
    color: $white;
}

.hero-cta__link {
    width: 100%;
    margin-top: 42px;

    @include breakpoint(medium) {
        width: 260px;
    }
}

.hero-cta__toast-container-secondary {
    display: none;

    @include breakpoint(medium) {
        bottom: -50px;
        left: 25%;
        display: block;
        transform: rotate(-#{$toast-rotation});
    }
}

.hero-cta__toast {
    @include intersect("fade-in", 1s, "ease-in-out", "", "&");
}
