.home-hero {
    width: 100%;
    padding: $spacing-large 0;
    background-color: $deep-salmon;
    background-image: url("/images/hero-home_squiggle.svg");
    background-repeat: no-repeat;
    background-position: top -100px right -300px;
    background-size: 730px;

    @include breakpoint(medium) {
        padding: 60px 0 100px;
        background-position: top -170px right -600px;
        background-size: 1500px;
    }

    @include breakpoint(large) {
        display: flex;
        align-items: center;
        height: 690px;
        padding: 0;
    }
}

.home-hero__inner {
    @include flex-grid-row;

    @include breakpoint(large) {
        width: 100%;
    }
}

.home-hero__main,
.home-hero__image-wrap {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-column(6);
    }
}

.home-hero__main {
    display: flex;
    align-items: center;
    order: 2;
    margin-top: $spacing-large;

    @include breakpoint(large) {
        order: 1;
        margin-top: 0;
    }
}

.home-hero__content {
    max-width: 500px;
    padding-bottom: 20px;
    margin: 0 auto;

    @include breakpoint(medium) {
        padding-bottom: 0;
    }

    @include breakpoint(large) {
        max-width: none;
        padding-bottom: 0;
    }
}

.home-hero__p + .button_main_translucent {
    margin-top: 10px;
}

.home-hero__button {
    min-width: 100%;
    margin-top: 40px;

    @include breakpoint(medium) {
        min-width: 0;
    }
}

.home-hero__image-wrap {
    order: 1;

    @include breakpoint(large) {
        order: 2;

    }
}

.home-hero__img {
    max-width: 70%;
    margin: 0 auto;

    @include breakpoint(medium) {
        max-width: 60%;
    }

    @include breakpoint(large) {
        max-width: 100%;
    }
}
