
.image-block {
    background-color: $sky-blue;
    background-image: url("/static/images/image-block-decoration-mobile.png");
    background-size: cover;

    @include breakpoint(medium) {
        background-image: url("/images/image-block-decoration-desktop.png");
    }
}

.image-block__wrapper {
    @include flex-grid-row;

    position: relative;
    padding-top: 50px;

    @include breakpoint(medium) {
        padding-bottom: 100px;
    }
}

.image-block__primary-container {
    @include flex-grid-column(12);
    @include intersect("fadeInLeft", 0.75s, "ease-out", "&", "");

    position: relative;
    z-index: 1;

    @include breakpoint(medium) {
        @include flex-grid-size(5);
        @include intersect("fadeInUp", 0.75s, "ease-out", "&", "");
    }

    @include breakpoint(large) {
        height: 480px;
    }
}

.image-block__secondary-container {
    width: 100%;
    height: 100%;
    margin-top: -70px;

    @include breakpoint(medium) {
        @include intersect("fadeInRight", 0.75s, "ease-out", "&", "");

        position: absolute;
        top: 0;
        right: 0;
        left: 20%;
        width: auto;
    }
}

.image-block__primary-image,
.image-block__secondary-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpoint(medium) {
        width: auto;
    }
}

.image-block__secondary-image_mobile {
    display: block;

    @include breakpoint(medium) {
        display: none;
    }
}

.image-block__secondary-image-inner {
    @include intersect("fadeInRight", 0.75s, "ease-out", "&", "");
}

.image-block__secondary-image_desktop {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}
