
.intro-block {
    position: relative;

    // Conditional style
    &.intro-block__dark {
        background-color: $baby-blue;
    }

    // Conditional style
    &.intro-block__light {
        background-color: $white;
    }
}

.intro-block__wrapper {
    @include flex-grid-row;

    padding-top: 54px;
    padding-bottom: 82px;

    @include breakpoint(medium) {
        padding-top: 80px;
        padding-bottom: 130px;
    }
}

.intro-block__decoration-container {
    position: absolute;
    top: 20px;
    left: 0;
    width: 60%;
    height: 30%;

    @include breakpoint(medium) {
        bottom: 0;
        width: 30%;
        height: calc(100% - 50px);
    }
}

.intro-block__decoration_mobile {
    display: block;
    width: 100%;
    height: 100%;

    @include breakpoint(medium) {
        display: none;
    }
}

.intro-block__decoration_desktop {
    display: none;
    width: 100%;
    height: 100%;

    @include breakpoint(medium) {
        display: block;
    }
}

$intro-block-image-padding: 45px;

.intro-block__image-outer {
    @include flex-grid-column(12);

    padding-right: $intro-block-image-padding;
    padding-left: $intro-block-image-padding;

    @include breakpoint(medium) {
        // Conditional style
        .intro-block__dark & {
            @include grid-column-offset(1);
            @include flex-grid-column(4);
        }

        // Conditional style
        .intro-block__light & {
            @include flex-grid-size(6);
        }
    }
}

.intro-block__image-inner {
    position: relative;
    width: 100%;
    padding-top: 100%;

    // Conditional style
    .intro-block__light & {
        padding-top: 80%;
    }
}

.intro-block__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-block__copy-outer {
    @include flex-grid-column(12);

    padding-top: 70px;

    @include breakpoint(medium) {
        display: flex;
        align-items: center;
        padding-top: 30px;
        margin-top: 0;

        // Conditional style
        .intro-block__dark & {
            @include flex-grid-column(6);
            @include grid-column-offset(1);
        }

        // Conditional style
        .intro-block__light & {
            @include flex-grid-column(5);
            @include grid-column-offset(1);
        }
    }
}

.intro-block__copy-inner {
    position: relative;
}

.intro-block__brushstroke {
    position: absolute;
    top: -30px;
    left: 0;
    width: 52px;
    height: 13px;
}

.intro-block__copy {
    @include intersect("fade-in", 1s, "ease-in-out", "&", "");
}
