$play-button-container-size: 62px;

.play-button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $play-button-container-size;
    height: $play-button-container-size;
    cursor: pointer;
    background-color: $white;
    border: 0;
    border-radius: 50%;
    outline: none;
    transition:
        background-color $transition-short ease-in-out,
        transform $transition-short ease-in-out;

    &:focus,
    &:hover {
        background-color: $blue;
        transform: scale(1.1);
    }
}

.play-button {
    $arrow-size: 25px;

    width: $arrow-size;
    height: $arrow-size;
    margin-left: rem-calc(3px);
    fill: $blue;
    transition: fill $transition-short ease-in-out;

    .play-button__container:focus &,
    .play-button__container:hover & {
        fill: $white;
    }
}
