$product-cta-margin: 70px;
$product-cta-margin-desktop: 96px;
$product-cta-container-margin: 65px;

.product-cta {
    @include flex-grid-row;

    margin-top: $product-cta-margin;
    margin-bottom: $product-cta-margin;

    @include breakpoint(medium) {
        margin-top: $product-cta-margin-desktop;
        margin-bottom: $product-cta-margin-desktop;
    }
}

$product-cta-heading-padding: 25px;

.product-cta__heading-container {
    position: relative;
    width: 100%;
}

.product-cta__heading {
    text-align: center;
}

.product-cta__arrow-container {
    display: none;

    @include breakpoint(large) {
        position: absolute;
        top: 10px;
        left: 5%;
        display: block;
    }
}

.product-cta__container {
    @include flex-grid-column(12);

    @include breakpoint(medium) {
        @include flex-grid-size(6);
    }
}

.product-cta__container_primary {
    margin-top: $product-cta-container-margin;

    @include breakpoint(large) {
        @include flex-grid-column(3, 0);
        @include grid-column-offset(3);
    }
}

.product-cta__container-inner {
    width: 100%;
}

.product-cta__container_secondary {
    @include breakpoint(medium) {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: $product-cta-container-margin;
    }
}

.product-cta__list {
    max-width: 315px;
    margin-top: 30px;

    @include breakpoint(medium) {
        width: 100%;
        margin-top: 0;
    }

    @include breakpoint(large) {
        width: auto;
        padding-left: 40px;
    }
}

.product-cta__list-item {
    margin-top: 17px;

    @include breakpoint(medium) {
        margin-top: 25px;
    }
}

.item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-cta__star-container {
    display: none;

    @include breakpoint(large) {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        overflow: hidden;
    }
}
