.product-index__hero {
    padding: $spacing-xlarge 0 $spacing-large;
    background-color: $gray-light;

    @include breakpoint(large) {
        padding: $spacing-xxlarge 0 $spacing-xlarge;
    }
}

.product-index__grids {
    width: 100%;
}

.product-index__inner {
    @include flex-grid-row;
}

.product-index__hero__header-group {
    @include flex-grid-column(10);
    @include grid-column-offset(1);
    text-align: center;

    @include breakpoint(large) {
        @include flex-grid-column(8);
        @include grid-column-offset(2);
    }

    @include breakpoint(xlarge) {
        @include flex-grid-column(6);
        @include grid-column-offset(3);
    }
}

.product-index__hero__header-group + .product-index__hero__nav {
    margin-top: $spacing-xlarge;
}

.product-index__hero__nav {
    @include flex-grid-column(12);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.product-index__hero__nav__button {
    max-width: 160px;
    padding: 0;
    apperance: none;
    text-align: center;
    cursor: pointer;
    background: transparent;
    border: 0;
    transition: $transition-short transform ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    .badge {
        margin: 0 auto $spacing-xsmall;
    }

    .heading_style-5 {
        display: none;

        @include breakpoint(medium) {
            display: inline;
        }
    }
}

.product-index__nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: $gray-light;
    border-bottom: 1px solid #d4d4d4;
    opacity: 0;
    transition-duration: $transition-medium;
    transition-property: transform, opacity;
    transform: translateY(-100%);
}

.product-index__nav-wrap_active {
    opacity: 1;
    transform: translateY(0);

    // For store locator
    .hide--nav & {
        display: none;
    }
}

.product-index__nav {
    @include flex-grid-column(12);
    display: flex;
    padding: 0;

    @include breakpoint(large) {
        padding: 0 15px;
    }
}

.product-index__nav__item {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;

    &.product-index__nav__item_active {
        .badge__button_ghost {
            opacity: 0;
        }
    }

    @include breakpoint(large) {
        &:hover {
            .badge__button_ghost {
                opacity: 0;
            }
        }
    }

    .badge__button_ghost {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        pointer-events: none;
        background-color: $gray-light;
        transition: opacity $transition-short ease-in-out;
    }
}
