.product-grid {
    margin-top: $spacing-xxlarge;
}

.product-grid__inner {
    @include flex-grid-row;

    @media only screen and (min-width: 639px) and (max-width: 1024px) {
        padding: 0 rem-calc(20px);
    }

    @include breakpoint(large) {
        padding: 0 rem-calc(10px);
    }

    @include breakpoint(xlarge) {
        padding: 0 rem-calc(0);
    }
}

.product-grid__header {
    @include flex-grid-column(12);
    @include flex-grid-row;

    .badge {
        display: inline-flex;
        margin-right: $spacing-xsmall;
    }

    .heading_style-5 {
        display: block;
        width: 100%;
        padding-bottom: $spacing-small;
        border-bottom: 3px solid;
    }
}

.product-grid__header + .product-grid__items {
    margin-top: $spacing-large;
}

.product-grid__item-wrap {
    @include flex-grid-column(6);
    margin-bottom: 20px;

    @include breakpoint(medium) {
        @include flex-grid-column(4);
    }

    @include breakpoint(large) {
        @include flex-grid-column(3);
        margin-bottom: 30px;
    }

    &:nth-child(odd) {
        @media only screen and (max-width: 1024px) {
            padding-right: rem-calc(10px);
        }

        @media only screen and (min-width: 639px) and (max-width: 1024px) {
            padding-left: rem-calc(10px);
        }
    }

    &:nth-child(even) {
        @media only screen and (max-width: 1024px) {
            padding-left: rem-calc(10px);
        }

        @media only screen and (min-width: 639px) and (max-width: 1024px) {
            padding-right: rem-calc(10px);
        }
    }
}

.product-grid__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    padding: 0 10px;
    cursor: pointer;
    background-color: $gray-light;
    border: 0 solid;
    border-radius: 5px;
    transition: $transition-long opacity ease-in-out, $transition-long background-color ease-in-out;

    @include breakpoint(medium) {
        height: 360px;
    }
}

.product-grid__new-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 60px;
    height: 60px;
    // transition: $transition-short transform ease-in-out;

    .store-filter .product-grid__item:hover & {
        transform: none;
    }

    .item--active &,
    .product-grid__item:hover &,
    .item--active .product-grid__item:hover & {
        transform: translate(3px, -3px);
    }

    @include breakpoint(medium) {
        width: 70px;
        height: 70px;
    }

    @include breakpoint(large) {
        top: -20px;
        right: -20px;
        width: 80px;
        height: 80px;
    }

    .bread {
        clip-rule: evenodd;
        fill-rule: evenodd;
    }

    .text {
        clip-rule: evenodd;
        fill-rule: evenodd;
        fill: $yellow;
    }

    .sparkle {
        clip-rule: evenodd;
        fill-rule: evenodd;
        opacity: 0.15;
    }
}

.product-grid__item:hover {
    background-color: $gray-medium;
    border: 3px solid;

    .product-grid__item__content {
        transform: scale(1.05);
    }

    .store-filter & {
        border: 0;
    }
}

.item--active .product-grid__item,
.product-grid__item_active {
    background-color: $gray-medium;
    border: 3px solid;

    &:hover {
        border: 3px solid;
    }

    .product-grid__item__content {
        transform: scale(1.05);
    }
}

.product-grid__item__content {
    transition: $transition-short transform ease-in-out;
}

.product-grid__item__image {
    display: flex;
    align-items: center;
    height: 120px;

    @include breakpoint(medium) {
        height: 220px;
    }
}

.product-grid__item__img {
    max-width: 120px;
    max-height: 120px;
    margin: 0 auto;
    pointer-events: none;

    @include breakpoint(medium) {
        max-width: 220px;
        max-height: 220px;
    }
}

.product-grid__item__image + .product-grid__item__header {
    margin-top: 20px;
}

.product-grid__item__header {
    align-items: center;
    justify-content: center;
    text-align: center;

    @include breakpoint(large) {
        display: flex;
    }

    .badge {
        margin: 0 auto 10px;

        @include breakpoint(large) {
            margin: 0 10px 0 0;
        }
    }
}

.intersect-item {
    .product-grid__item {
        opacity: 0;
    }

}

.intersect-item_active {
    .product-grid__item {
        opacity: 1;
    }
}
