.product-recipe {
    position: relative;
    padding: 0 0 $spacing-large;

    @include breakpoint(large) {
        padding: $spacing-xlarge 0;
    }
}

.product-recipe__decoration-container {
    position: absolute;
    top: 20px;
    right: 0;
    width: 60%;
    height: 30%;

    @include breakpoint(medium) {
        bottom: 0;
        width: 30%;
        height: calc(100% - 50px);
    }
}

.product-recipe__decoration_desktop {
    display: none;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);

    @include breakpoint(medium) {
        display: block;
    }
}

.product-recipe__inner {
    @include flex-grid-row;
}

.product-recipe__content {
    @include flex-grid-column(12);
    order: 2;
    padding-top: $spacing-medium;

    @include breakpoint(large) {
        @include flex-grid-column(5);
        display: flex;
        align-items: center;
        order: 1;
        padding-top: 0;
    }
}

.product-recipe__buttons-wrap {
    margin-top: $spacing-medium;

    @include breakpoint(xlarge) {
        display: flex;
    }
}

.product-recipe__button {
    width: 100%;

    @include breakpoint(xlarge) {
        width: auto;
    }
}

.product-recipe__buttons-wrap__item + .product-recipe__buttons-wrap__item {
    margin-top: $spacing-small;

    @include breakpoint(xlarge) {
        margin-top: 0;
        margin-left: $spacing-small;
    }
}

.product-recipe__image {
    @include flex-grid-column(12);
    order: 1;
    height: 335px;
    padding: 0;
    overflow: hidden;

    @include breakpoint(large) {
        @include flex-grid-column(7);
        order: 2;
        height: auto;
        padding: 0 rem-calc(15px);
    }

    @include breakpoint(xlarge) {
        @include flex-grid-column(6);
        @include grid-column-offset(1);
    }
}

.product-recipe__img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;

    @include breakpoint(large) {
        width: auto;
        height: auto;
    }
}
