.product-details {
    position: relative;
    padding: 60px 0 $spacing-medium;
    background-color: $white;
    background-image: url("/images/product-details_squiggle.svg");
    background-repeat: no-repeat;
    background-position: top -360px left -900px;
    background-size: 1500px;

    @include breakpoint(medium) {
        padding: $spacing-xlarge 0;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 40px;
        content: "";
        background-color: $deep-salmon;
        background-image: url("/images/anchor-hero-decoration-mobile.png");

        @include breakpoint(medium) {
            display: none;
        }

        @include breakpoint(large) {
            display: block;
            width: 15px;
            height: 100%;
            background-image: url("/images/anchor-hero-decoration.png");
        }

        @include breakpoint(xlarge) {
            width: 70px;
        }
    }
}

.product-details__inner {
    @include flex-grid-row;
}

.product-details__inner + .product-details__inner {
    margin-top: $spacing-medium;

    @include breakpoint(large) {
        margin-top: $spacing-large;
    }
}

.product-details__image {
    @include flex-grid-column(12);

    @include breakpoint(medium) {
        @include flex-grid-column(6);
    }

    @include breakpoint(large) {
        @include flex-grid-column(5);
    }
}

.product-details__image + .product-details__description {
    margin-top: $spacing-medium;

    @include breakpoint(medium) {
        margin-top: 0;
    }
}

.product-details__image__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    overflow: hidden;

    @include breakpoint(medium) {
        height: 380px;
    }
}

.product-details__image__wrap + .product-details__dots {
    margin-top: $spacing-small;
}

.product-details__img {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: contain;
    max-width: 80%;
    max-height: 100%;
    margin: 0 auto;
    opacity: 0;
    transition: $transition-medium opacity;
    transform: translate(-50%, -50%);
}

.product-details__img_active {
    opacity: 1;
}

.product-details__dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-details__dots__item {
    vertical-align: center;
}

.product-details__dots__item + .product-details__dots__item {
    margin-left: $spacing-small;
}

.product-details__dots__button {
    position: relative;
    width: 40px;
    height: 40px;
    box-sizing: content-box;
    padding: 0;
    cursor: pointer;
    background-color: $gray-slate;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    border: 3px solid transparent;
    border-radius: 8px;
    outline: 0;
    transition: $transition-short border-color;

    &:focus,
    &:hover {
        border-color: $blue;
    }
}

.product-details__dots__button_active {
    border-color: $blue;
}

.product-details__description {
    @include flex-grid-column(12);
    display: flex;
    align-items: center;

    @include breakpoint(medium) {
        @include flex-grid-column(6);
    }

    @include breakpoint(large) {
        @include flex-grid-column(5);
    }
}

.product-details__description + .product-details__sidebar {
    margin-top: $spacing-medium;

    @include breakpoint(large) {
        margin-top: 0;
    }
}

.product-details__category {
    display: flex;

    .badge {
        margin-right: $spacing-xsmall;
    }
}

.product-details__sidebar {
    @include flex-grid-column(12);
    display: flex;
    align-items: center;

    @include breakpoint(large) {
        @include flex-grid-column(2);
    }
}

.product-details__sidebar__inner {
    display: flex;
    justify-content: center;
    width: 100%;

    @include breakpoint(large) {
        display: block;
    }
}

.product-details__stat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 132px;
    padding: 0 10px;
    text-align: center;
    background-image: url("/images/product-details_stat-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include breakpoint(large) {
        margin-right: 0;
        margin-left: auto !important;
    }

    &:nth-child(2) {
        background-image: url("/images/product-details_stat-circle2.svg");
    }

    &.intersect-item .product-details__stat__content {
        opacity: 0;
    }

    &.intersect-item_active .product-details__stat__content {
        opacity: 1;
        animation-name: bounceIn;
        animation-duration: 0.75s;
    }
}

.product-details__stat__content {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.product-details__stat + .product-details__stat {
    margin-left: rem-calc(40px);

    @include breakpoint(large) {
        margin-top: rem-calc(40px);
        margin-left: 0;
    }
}

.product-details__button-wrap {
    @include flex-grid-column(12);

    @include breakpoint(medium) {
        @include flex-grid-column(6);
    }

    @include breakpoint(xlarge) {
        @include flex-grid-column(3);
    }

    &:nth-child(2) {
        @include breakpoint(medium) {
            margin-top: 0 !important;
        }
    }
}

.product-details__button-wrap + .product-details__button-wrap {
    margin-top: $spacing-small;

    @include breakpoint(xlarge) {
        margin-top: 0;
    }
}

.product-details__button {
    width: 100%;
}

.product-details__social {
    margin: 0 0 0 auto;
    font-size: 0;
    text-align: center;

    @include breakpoint(xlarge) {
        text-align: right;
    }
}

.product-details__social__item {
    display: inline-block;

    .social-icon__primary {
        background-color: $gray-light;

        &:hover {
            background-color: $blue;

            .social-logo__primary {
                fill: $gray-light;
            }
        }
    }

    .social-logo__primary {
        fill: $blue;
    }
}

.product-details__social__item + .product-details__social__item {
    margin-left: $spacing-small;
}
