$recipe-cta-z-index: 1;
$recipe-cta-two-padding: 54px;

.recipe-cta-two {
    position: relative;
    padding-top: $recipe-cta-two-padding;
    padding-bottom: $recipe-cta-two-padding;
    overflow: hidden;
    background-color: $sky-blue;

    @include breakpoint(medium) {
        padding-top: 95px;
        padding-bottom: 81px;
    }
}

$cta-two__decoration-position: -15px;

.recipe-cta-two__decoration {
    $positon-top: -20px;

    position: absolute;
    top: $positon-top;

    @include breakpoint(medium) {
        top: calc(#{$positon-top} * 2);
        left: $cta-two__decoration-position;
        min-width: 594px;
    }
}

.recipe-cta-two__decoration-desktop {
    display: none;

    // Conditional style
    .recipe-cta-two__odd & {
        position: absolute;
        bottom: -25px;
        left: -10px;
        display: block;
        min-width: 335px;
    }

    // Conditional style
    .recipe-cta-two__odd &,
    .recipe-cta-two__even & {
        @include breakpoint(medium) {
            position: absolute;
            right: -20px;
            bottom: -33px;
            left: auto;
            display: block;
            min-width: unset;
        }
    }
}

.recipe-cta-two__heading {
    $margin-bottom: 15px;

    position: relative;
    z-index: $recipe-cta-z-index;
    margin-bottom: $margin-bottom;
    color: $black;
    text-align: center;

    @include breakpoint(medium) {
        margin-bottom: calc(#{$margin-bottom} * 2);
    }
}

.recipe-cta-two__list {
    @include flex-grid-row;

    position: relative;
    z-index: $recipe-cta-z-index;
}

.recipe-cta-two__list-item {
    @include flex-grid-column(12);

    margin-top: 30px;

    @include breakpoint(medium) {
        @include flex-grid-size(6);
    }

    // Conditional style
    .recipe-cta-two__odd & {
        position: relative;

        @include breakpoint(large) {
            @include flex-grid-size(4);
        }
    }
}

.recipe-cta-two__graphic-container {
    display: none;

    // Conditional Style
    .recipe-cta-two__odd & {
        $graphic-size: 120px;

        @include breakpoint(large) {
            position: absolute;
            top: calc(#{-$graphic-size} * 2 / 3);
            right: 0;
            z-index: $recipe-cta-z-index;
            display: block;
            width: $graphic-size;
            height: $graphic-size;
        }
    }
}

.recipe-cta-two__image-container {
    position: relative;
    width: 100%;
    // Perserves aspect ratio
    padding-top: 56.25%;
    overflow: hidden;
}

.recipe-cta-two__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "object-fit:cover";
    object-fit: cover;
    transition: transform $transition-short ease;

    &:focus,
    &:hover,
    .recipe-cta-two__link:focus &,
    .recipe-cta-two__link:hover & {
        transform: scale(1.05);
    }
}

.recipe-cta-two__item-copy {
    @include intersect("fade-in", 0.75s, "ease-in", "&", "");

    margin-top: 15px;
    color: $black;

    @include breakpoint(medium) {
        margin-top: 20px;
    }
}

.recipe-cta-two__button-container {
    display: none;

    .recipe-cta-two__odd & {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 50px;

        @include breakpoint(medium) {
            margin-top: 70px;
        }
    }
}
