$recipe-cta-three-padding: 44px;

.recipe-cta-three {
    position: relative;
    padding-top: $recipe-cta-three-padding;
    padding-bottom: 57px;
    overflow: hidden;
    background-color: $baby-blue;

    @include breakpoint(medium) {
        padding-top: calc(#{$recipe-cta-three-padding} * 2);
        padding-bottom: 97px;
    }
}

.recipe-cta-three__heading {
    position: relative;
    z-index: 1;
    color: $blue;
    text-align: center;
}

.recipe-cat-three__list {
    @include flex-grid-row;

    position: relative;
    z-index: 1;
}

.recipe-cta-three__list-item {
    @include flex-grid-column(12);

    margin-top: 33px;

    @include breakpoint(medium) {
        @include flex-grid-size(6);
    }

    @include breakpoint(large) {
        @include flex-grid-size(4);

        margin-top: 50px;
    }
}

.recipe-cta-three__image-container {
    position: relative;
    display: block;
    width: 100%;
    // Perserves aspect ratio
    padding-top: 56.25%;
    overflow: hidden;
}

.recipe-cta-three__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "object-fit:cover";
    object-fit: cover;
    transition: transform $transition-short ease;

    &:focus,
    &:hover,
    .recipe-cta-three__link:focus &,
    .recipe-cta-three__link:hover & {
        transform: scale(1.05);
    }
}

.recipe-cta-three__item-copy {
    @include intersect("fade-in", 1s, "ease-in", "&", "");

    margin-top: 15px;
    color: $black;

    @include breakpoint(medium) {
        margin-top: 20px;
    }
}

.recipe-cta-three__decoration-01 {
    position: absolute;
    top: 20px;
    left: -150px;
    width: 197px;
    height: 212px;

    @include breakpoint(medium) {
        top: 40px;
        width: 302px;
        height: 324px;
    }
}

.recipe-cta-three__decoration-02 {
    position: absolute;
    bottom: 0;
    left: 13%;
    width: 238px;
    height: 89px;

    @include breakpoint(medium) {
        left: 55%;
        width: 365px;
        height: 182px;
    }
}

.recipe-cta-three__decoration-03 {
    position: absolute;
    top: 41%;
    right: -105px;
    width: 199px;
    height: 218px;

    @include breakpoint(medium) {
        top: -20px;
        width: 305px;
        height: 334px;
    }
}
