.recipe-details {
    position: relative;
    padding: $spacing-large 0 $spacing-medium;
    background-image: url("/images/product-details_squiggle.svg");
    background-repeat: no-repeat;
    background-position: top -360px left -900px;
    background-size: 1500px;

    @include breakpoint(medium) {
        padding: $spacing-xxlarge 0 $spacing-large;
    }
}

.recipe-details__inner {
    @include flex-grid-row;
}

.recipe-details__inner + .recipe-details__image {
    margin-top: $spacing-medium;

    @include breakpoint(medium) {
        margin-top: 0;
    }
}

.recipe-details__inner_mobile {
    @include flex-grid-column(12);
    display: flex;
    justify-content: center;

    @include breakpoint(medium) {
        display: none;
    }
}

.recipe-details__content {
    @include flex-grid-column(12);

    @include breakpoint(medium) {
        @include flex-grid-column(6);
    }
}

.recipe-details__overview {
    display: flex;
    margin-top: $spacing-medium;
}

.recipe-details__overview + .recipe-details__social {
    margin-top: $spacing-medium;

    @include breakpoint(medium) {
        margin-top: $spacing-large;
    }

    @include breakpoint(large) {
        margin-top: $spacing-xlarge;
    }

    @include breakpoint(xlarge) {
        margin-top: $spacing-xxlarge;
    }
}

.recipe-details__overview__item {
    display: flex;
    align-items: center;
}

.recipe-details__overview__item + .recipe-details__overview__item {
    margin-left: $spacing-medium;
}

.recipe-details__icon {
    width: 25px;
    max-width: 25px;
    max-height: 25px;
    margin-right: $spacing-xsmall;
    fill: $gray-dark;
}

.recipe-details__social__item {
    display: inline-block;

    .social-icon__primary {
        background-color: $gray-light;

        &:hover {
            background-color: $blue;

            .social-logo__primary {
                fill: $gray-light;
            }
        }
    }

    .social-logo__primary {
        fill: $blue;
    }
}

.recipe-details__social__item + .recipe-details__social__item {
    margin-left: $spacing-small;
}

.recipe-details__image {
    position: relative;
    top: 0;
    right: 0;
    display: block;
    height: 315px;
    overflow: hidden;
    background-color: $black;

    @include breakpoint(medium) {
        position: absolute;
        width: 50%;
        height: 100%;
    }

    &::before {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 15px;
        content: "";
        background-color: $deep-salmon;
        background-image: url("/images/anchor-hero-decoration.png");

        @include breakpoint(medium) {
            top: 0;
            bottom: auto;
            display: none;
        }

        @include breakpoint(large) {
            display: block;
            width: 15px;
            height: 100%;
        }

        @include breakpoint(xlarge) {
            width: 60px;
        }
    }
}

.recipe-details__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.recipe-details__mobile {
    display: block;

    @include breakpoint(medium) {
        display: none;
    }
}

.recipe-details__desktop {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }

    &.recipe-details__overview {
        @include breakpoint(medium) {
            display: flex;
        }
    }
}
