.search-results {
    padding: 70px 0;
    background-color: $gray-slate;

    @include breakpoint(large) {
        padding: 100px 0;
    }

    .product-grid__item {
        background-color: $white;
    }
}

.search-results__inner {
    @include flex-grid-row;
}

.search-results__main {
    @include flex-grid-column(12);

    order: 1;

    @include breakpoint(medium) {
        @include flex-grid-column(8);

        order: 0;
    }

    @include breakpoint(large) {
        @include flex-grid-column(6);
        @include grid-column-offset(1);
    }
}

.search-results__main + .search-results__sidebar {
    margin-bottom: $spacing-large;

    @include breakpoint(medium) {
        margin-bottom: 0;
    }
}

.search-results__sidebar {
    @include flex-grid-column(12);

    order: 0;

    @include breakpoint(medium) {
        @include flex-grid-column(4);

        order: 1;
    }

    @include breakpoint(large) {
        @include flex-grid-column(4);
        @include grid-column-offset(1);
    }
}

.search-results__header + .search-results__item,
.search-results__header + .product-grid__item {
    margin-top: $spacing-medium;
}

.search-results__item {
    animation-duration: 1s;
    animation-fill-mode: both;

    &.intersect-item {
        opacity: 0;
    }

    &.intersect-item_active {
        opacity: 1;
        animation-name: fadeInUp;
    }
}

.search-results__item + .search-results__item {
    margin-top: $spacing-large;
}

.search-results__item__url {
    display: inline-block;
    color: #61a3da; // color not in style guide. Must revisit
    word-break: break-word;
    transition: color $transition-short;

    &:hover {
        color: $blue;
    }
}

.search-results__item__p {
    color: #939393; // color not in style guide. Must revisit
}
