
.squiggles {
    // position the container
    // Change class name
}

.squiggle-container-mobile {
    display: inline-block;
    width: 20px;
    height: 115px;

    @include breakpoint(medium) {
        display: none;
    }
}

.squiggle-container-desktop {
    display: none;

    @include breakpoint(medium) {
        display: block;
        width: 50px;
        height: 450px;
    }
}

.squiggle {
    width: 100%;
    height: 100%;
    fill: $blue;
}
