// Specific to google api default styles
.gm-style-mtc {
    display: none;
}

.keep-width {
    width: 240px;

    @include breakpoint(medium) {
        width: 300px;
    }
}

.store-results {
    @include flex-grid-row;

    -webkit-overflow-scrolling: touch;

    @include breakpoint(large) {
        margin-bottom: 80px;
    }
}

.store-results__heading {
    width: 100%;
    margin-top: 70px;
    color: $blue;
    text-align: center;

    @include breakpoint(large) {
        margin-top: $spacing-xxlarge;
    }
}

.store-results__controls-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 45px;

    @include breakpoint(large) {
        display: none;
    }
}

@mixin radio-active($view) {
    transition: background-color $transition-short ease-in-out;

    .store-results__active--#{$view} & {
        background-color: darken($red, 5%);
    }
}

.store-results__tabs {
    position: relative;
    width: 200px;
    height: 36px;
}

.store-results__tab {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    cursor: pointer;
    background-color: $gray-light;

    $radius: 10px;

    &.store-results__tab--left {
        @include radio-active("list");

        left: 0;
        border-radius: $radius 0 0 $radius;
    }

    &.store-results__tab--right {
        @include radio-active("map");

        right: 0;
        border-radius: 0 $radius $radius 0;
    }
}

.store-results__radio {
    width: 0;
    height: 0;
    appearance: none;
    background-color: transparent;
    border: 0;
}

.store-results__tab-copy {
    @include heading_style-6 ;

    color: $blue;
    transition: color $transition-short ease-in-out;

    &.store-results__tab-copy--left {
        .store-results__active--list & {
            color: $white;
        }
    }

    &.store-results__tab-copy--right {
        .store-results__active--map & {
            color: $white;
        }
    }
}

.store-results__link-container {
    @include flex-grid-column(12);

    $spacing: 42px;

    display: flex;
    margin-top: $spacing;
    margin-bottom: $spacing;

    @include breakpoint(large) {
        margin-top: $spacing-large;
        margin-bottom: calc(#{$spacing} / 2);
    }
}

.store-results__link {
    @include paragraph_style-3;
    @include push-center;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: $map-gray;
    cursor: pointer;
    background-color: $gray-light;
    border: 0;
    border-radius: 40px;
    transition:
        color $transition-short ease-in-out,
        background-color $transition-short ease-in-out;

    &:hover,
    &:focus {
        color: $blue;
    }

    @include breakpoint(medium) {
        @include paragraph_style-2;
    }

    @include breakpoint(large) {
        margin-left: 0;
    }
}

.store-results__arrow {
    $arrow-size: $spacing-xsmall;
    $arrow-size-desktop: 15px;

    width: $arrow-size;
    height: $arrow-size;
    margin-right: $spacing-xsmall;
    fill: $map-gray;
    transition: fill $transition-short ease-in-out;
    transform: rotate(90deg);

    @include breakpoint(large) {
        width: $arrow-size-desktop;
        height: $arrow-size-desktop;
    }

    .store-results__link:focus &,
    .store-results__link:hover & {
        fill: $blue;
    }
}

.store-results__list-overlay {
    display: none;

    @include breakpoint(large) {
        position: absolute;
        bottom: 0;
        z-index: 5;
        display: block;
        width: 100%;
        height: 40px;
        content: "";
        background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
}

.store-results__list-container {
    @include flex-grid-column(12, 0);

    position: relative;
    margin-bottom: $spacing-large;

    .store-results__active--map & {
        display: none;

        @include breakpoint(large) {
            display: block;
        }
    }

    @include breakpoint(large) {
        @include flex-grid-column(4, 0);
    }
}

.store-results__error-copy {
    display: block;
    text-align: center;

    @include breakpoint(medium) {
        margin-left: $spacing-small;
        text-align: left;
    }
}

$map-height: 584px;

.store-results__list {
    position: relative;

    @include breakpoint(large) {
        max-height: $map-height;
        overflow-y: auto;
    }
}

.store-results__list-item {
    $padding: 30px;

    position: relative;
    padding-top: $padding;
    padding-bottom: $padding;
    padding-left: $spacing-large;
    transition:
        opacity $transition-short ease,
        border $transition-short ease,
        background-color $transition-short ease-in-out;

    @include breakpoint(large) {
        &:hover {
            background-color: $gray-light;

            &::after {
                background-color: $gray-dark-copy;
                opacity: 1;
            }
        }
    }

    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: rem-calc(5px);
        content: "";
        opacity: 0;
    }

    &.item--active {
        background-color: $gray-light;

        &::after {
            background-color: $deep-salmon;
            opacity: 1;
        }
    }
}

.store-results__item-index {
    $size: 25px;
    $spacing: $spacing-small;

    position: absolute;
    top: 29px;
    left: $spacing;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;
    background-color: #393939;
    border-radius: 50%;
}

.store-results__item-index-copy {
    color: $white;
    letter-spacing: 0;
}

.store-results__box-wrapper {
    &::before {
        position: absolute;
        top: 0;
        right: 50px;
        left: 0;
        height: rem-calc(2px);
        content: "";
        background-color: #f1f1f1;
    }
}

.info-box__outer-wrapper {
    margin-left: 30px;
}

.info-box__heading {
    color: $deep-salmon;
}

.info-box__heading--margin {
    margin-top: $spacing-xsmall;
}

.info-box__headings {
    margin-top: $spacing-xsmall;
}

.info-box__phone-copy {
    color: $map-gray;
}

.info-box__copy {
    display: block;
    color: $map-gray;
}

$info-box-spacing: $spacing-small;

.info-box__cta-container_static {
    display: flex;
    align-items: center;
    margin-top: $info-box-spacing;
}

.info-box__cta-container {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: $info-box-spacing;
    appearance: none;
    pointer-events: auto;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;

    &.pointer--events--none {
        pointer-events: none;
    }
}

.info-box__cta-heading {
    transition: color $transition-short ease-in-out;

    &:focus,
    &:hover {
        color: $deep-salmon;
    }
}

.info-box__cta-button {
    $size: $spacing-small;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    margin-left: 5px;
    background-color: $gray-light;
    border: 0;
    border-radius: 50%;

    &.button--hide {
        display: none;
    }
}

.info-box__button-symbol {
    $icon-size: 8px;

    width: $icon-size;
    height: $icon-size;
    fill: $deep-salmon;
    stroke-width: 2;
}

.info-box__link-container {
    display: inline-flex;
    align-items: center;
    margin-top: $spacing-small;
}

.info-box__link-container--margin {
    margin-bottom: $spacing-xsmall;
}

.info-box__link {
    margin-left: $spacing-xsmall;

    &.button_map_gray,
    &.button_main_gray {
        padding: 5px 10px;
        font-size: rem-calc(13);
        font-weight: 700;
        text-transform: uppercase;
    }
}

.store-results__map {
    @include flex-grid-column(12, 0);

    width: 100%;
    height: 600px;

    .store-results__active--list & {
        display: none;

        @include breakpoint(large) {
            display: block;
        }
    }

    @include breakpoint(large) {
        @include flex-grid-column(8);

        height: $map-height;
    }
}

// Modal related styles
.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: $white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);

    @include breakpoint(large) {
        max-width: 768px;
        height: 668px;
        max-height: 90vh;
        border-radius: 10px;
    }
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    transition-duration: 500ms;
    transition-property: transform;
    transform: scale(1.1);
}

$store-interior-height: 288px;

.store-modal__image-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: $store-interior-height;
    margin-bottom: 65px;
    background-color: $black;
}

.store-modal__image {
    width: 100%;
    height: 100%;
    opacity: 0.15;
    object-fit: cover;
}

.store-modal__hero-outer {
    @include flex-grid-row;

    height: $store-interior-height;
    align-items: center;
}

.store-modal__hero-inner {
    @include flex-grid-column(10);
    @include grid-column-position(center);

    position: relative;
}

.modal-hero__heading {
    color: $white;
}

.modal-hero__item-index {
    $size: 25px;

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;
    background-color: $white;
    border-radius: 50%;
}

.map-hero__item-index-copy {
    @include heading_style-6;

    color: $black;
    letter-spacing: 0;
}

.store-modal__inner-wrapper {
    padding-left: $spacing-medium;

    @include breakpoint(medium) {
        padding-left: 50px;
    }
}

.modal-content {
    @include flex-grid-row;

    max-height: 400px;
    margin-bottom: $spacing-large;

    &.modal-content--first-product {
        margin-top: 60px;
    }
}

.modal-content__category {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-size(10);
    }
}

.modal-content__list {
    @include flex-grid-column(12);

    @include breakpoint(medium) {
        display: flex;
        flex-flow: wrap;
    }

    @include breakpoint(large) {
        @include grid-column-position(center);
        @include flex-grid-size(10);
    }
}

.modal-content__list-item {
    width: 100%;

    @include breakpoint(medium) {
        width: 50%;
    }
}

.category-product__badge {
    margin-right: 15px;
}

.category-product__heading {
    display: flex;
    align-items: center;
    margin-top: $spacing-small;
}

.store-modal__cta {
    cursor: unset;
}
