.store-filter__primary-container {
    @include flex-grid-row;

    margin-bottom: 40px;

    @include breakpoint(large) {
        margin-bottom: 90px;
    }
}

.store-filter__headings {
    margin-top: $spacing-large;
    margin-bottom: $spacing-medium;

    @include breakpoint(large) {
        margin-top: $spacing-xxlarge;
        margin-bottom: 40px;
    }
}

$store-filter_padding: $spacing-medium;

.store-filter__heading {
    padding-right: $store-filter_padding;
    padding-left: $store-filter_padding;
    color: $blue;
    text-align: center;
}

.store-filter__subheading {
    padding-right: $store-filter_padding;
    padding-left: $store-filter_padding;
    margin-top: $spacing-medium;
    text-align: center;
}

.store-filter__input-wrapper {
    @include flex-grid-column(12);

    margin-top: $spacing-small;

    @include breakpoint(large) {
        @include flex-grid-size(4);
    }
}

.store-filter__input-inner {
    position: relative;
}

.select-secondary--filter {
    height: 65px;
}

.store-filter__button-container {
    @include flex-grid-column(12);

    position: relative;
    margin-top: 40px;

    @include breakpoint(large) {
        margin-top: $spacing-small;

        @include flex-grid-size(4);
    }
}

.store-filter__button-container_secondary {
    position: fixed;
    right: 0;
    bottom: 45px;
    left: 0;
    width: 100%;

    &.fade-leave-active {
        position: fixed !important;
    }
}

.store-filter__button-secondary {
    @include push-center;

    width: 82%;
    height: 70px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);

    @include breakpoint(400px) {
        width: 372px;
    }
}

.store--button--desktop {
    display: none;

    @include breakpoint(large) {
        display: block;
    }
}

.store--button--mobile {
    display: block;

    @include breakpoint(large) {
        display: none;
    }
}

.store-filter__button {
    @include push-center;

    width: 100%;
    height: 70px;
    line-height: 1.8;

    @include breakpoint(medium) {
        width: 50%;
    }

    @include breakpoint(large) {
        width: 100%;
        margin-right: unset;
        margin-left: unset;
    }
}

.store-filter__error-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.error--mobile {
    display: block;

    @include breakpoint(medium) {
        display: none;
    }
}

.error--desktop {
    display: none;

    @include breakpoint(large) {
        display: block;
    }
}

.store-filter__error-copy {
    position: absolute;
    bottom: -30px;
}

.store-filter__reset-buttons {
    @include flex-grid-column(12);

    margin-top: 40px;

    @include breakpoint(medium) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $spacing-large;
    }
}

.store-filter__reset-buttons__inner {
    @include breakpoint(large) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
}

.store-filter__reset-button {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;

    @include breakpoint(medium) {
        width: auto;
    }
}

.store-filter__reset-button--secondary {
    margin-top: $spacing-xsmall;

    @include breakpoint(medium) {
        margin-top: 0;
        margin-left: $spacing-large;
    }
}

.store-filter__reset-button-copy {
    @include paragraph_style-2;

    color: $gray-dark-copy;
    cursor: pointer;
    transition: color $transition-short ease-in-out;

    &:focus,
    &:hover {
        color: $blue;
    }
}

.store-filter__product-grid {
    width: 100%;
    margin-top: $spacing-large;
}

.store-filter__button-container--center {
    margin-top: $spacing-large;

    @include breakpoint(large) {
        @include push-center;
    }
}
