
$table-padding-left: 40px;

.table-primary__container {
    overflow-x: auto;
}

.table-primary {
    width: 100%;
    max-width: 740px;
    border-collapse: collapse;
    border: 0;
}

.table-primary__row {
    height: 70px;
    background-color: $white;

    &:nth-child(even) {
        background-color: $gray-slate;
    }
}

.header-cell {
    @include heading_style-5;

    color: $blue;

    &:first-of-type {
        padding-left: $table-padding-left;
    }
}

.data-cell__primary {
    padding-left: $table-padding-left;
}

.data-cell__tertiary {
    @include paragraph_style-2;

    color: $deep-salmon;
}
