@import "plyr/dist/plyr.css";

.body_video-active {
    overflow: hidden;
}

.video-modal {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include breakpoint(medium) {
        width: auto;
    }
}

.modal-fade-enter-active {
    transition: opacity 1s ease;
}

.modal-fade-leave-active {
    transition: opacity 1s ease;
}

.modal-fade-enter,
.modal-fade-leave-to {
    opacity: 0;
}

.video-modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.7);
}

.video-modal__backdrop-dialog {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.video-modal__close-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 90%;
    max-width: 160vh;
    height: 90%;
    max-height: 50.625vw;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.video-modal__open-icon {
    display: inline-block;
    width: auto;
    height: 17px;
    vertical-align: top;

    .video-modal__open:hover &,
    .video-modal__open:focus &,
    .video-modal__open:active & {
        fill: $white;
    }

    .video-modal_light & {
        // fill: $purple_03;
    }

    .video-modal_light .video-modal__open:hover &,
    .video-modal_light .video-modal__open:focus &,
    .video-modal_light .video-modal__open:active & {
        // fill: $purple_02;
    }

    @include breakpoint(medium) {
        margin-right: 7px;
    }
}

.video-modal__open-label {
    display: none;

    @include breakpoint(medium) {
        display: inline-block;
    }
}

.video-modal__close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    width: 50px;
    height: 50px;
    pointer-events: auto;

    @include breakpoint(medium) {
        top: 15px;
        right: 15px;
    }

    @include breakpoint(xlarge) {
        right: -40px;
    }
}

.plyr--video {
    width: 100%;
    max-width: 177.8vh;
    height: 100%;
    max-height: 56.25vw;
}

