<template>
    <div
        :class="handleNav ? 'hide--nav' : null"
        class="product-index"
    >
        <slot
            :navActive="navActive"
            :toggleNav="toggleNav"
            :handleSection="handleSection"
            :toggleSection="toggleSection"
            :currentSection="currentSection"
        />
    </div>
</template>

<script>
export default {
    name: 'ProductIndex',
    data() {
        return {
            navActive: false,
            currentSection: '',
        };
    },
    computed: {
        handleNav() {
            return this.$root.hideNav;
        },
        handleSection() {
            return this.$root.currentSection;
        },
    },
    methods: {
        toggleSection(s, side, { boundingClientRect: { top } }) {
            if (
                (side === 'top' && top > 60)
                || (side === 'bottom' && top < 60)
            ) {
                return;
            }

            this.currentSection = s;
        },
        toggleNav(b) {
            this.navActive = b;
        },
    },
};
</script>
