<template>
    <input
        v-if="is === 'input'"
        v-model="pairValue"
    >
    <select
        v-else-if="is === 'select'"
        v-model="pairValue"
    >
        <slot/>
    </select>
    <textarea
        v-else-if="is === 'textarea'"
        v-model="pairValue"
    />
    <component
        v-else
        :is="is"
        v-model="pairValue"
    >
        <slot/>
    </component>
</template>

<script>
import builder from '@/js/util/query';
import dynamicComponent from '@/js/mixins/dynamic-component';

export default {
    name: 'QueryBuilderControl',
    mixins: [dynamicComponent],
    inject: { builder },
    props: {
        pairKey: {
            type: String,
            required: true,
        },
        initialPairValue: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            pairValue: this.initialPairValue,
        };
    },
    computed: {
        pair() {
            return [this.pairKey, this.pairValue].map(encodeURIComponent).join('=');
        },
    },
    created() {
        this.builder.$emit('created:control', this);
    },
    beforeDestroy() {
        this.builder.$emit('before-destroy:control', this);
    },
};
</script>
