<template>
    <component :is="is">
        <slot :query="query"/>
    </component>
</template>

<script>
import builder from '@/js/util/query';
import dynamicComponent from '@/js/mixins/dynamic-component';

export default {
    name: 'QueryBuilder',
    mixins: [dynamicComponent],
    provide() {
        return {
            [builder]: this,
        };
    },
    data() {
        return {
            controls: [],
        };
    },
    computed: {
        query() {
            return this.controls.map(({ pair }) => pair).join('&');
        },
    },
    created() {
        this.$on('created:control', this.createdControl);
        this.$on('before-destroy:control', this.beforeDestroyControl);
    },
    beforeDestroy() {
        this.$off('created:control', this.createdControl);
        this.$off('before-destroy:control', this.beforeDestroyControl);
    },
    methods: {
        createdControl(control) {
            this.controls.push(control);
        },
        beforeDestroyControl(control) {
            const { controls } = this;

            controls.splice(controls.indexOf(control), 1);
        },
    },
};
</script>
