<template>
    <component
        :is="is"
        @click="handleClickEvent"
    >
        <slot/>
    </component>
</template>

<script>
import { container } from '@/js/util/vimeo';
import dynamicComponent from '@/js/mixins/dynamic-component';

export default {
    name: 'VimeoButton',
    mixins: [dynamicComponent],
    defaultTag: 'button',
    inject: { container },
    methods: {
        handleClickEvent() {
            this.container.$emit('clickedButton');
        },
    },
};
</script>
