<template>
    <ul class="channelsight__list">
        <li
            v-for="product in retailers"
            :key="product.RetailerId"
            class="channelsight__list-item"
        >
            <div class="channelsight__list-inner">
                <div class="channelsight__list-image-container">
                    <img
                        :src="product.RetailerLogoUrl"
                        alt="null"
                        aria-hidden="true"
                        class="channelsight__list-image"
                    >
                </div>
                <div class="channelsight__list-text-container">
                    <p
                        class="paragraph_style-3 channelsight__list-text"
                        v-text="handlePrice(product)"
                    />
                    <p class="paragraph_style-3 channelsight__list-text">27oz</p>
                </div>
            </div>
            <a
                :href="product.ClickThruUrl"
                :class="handleInStock(product) ? 'button_main_gray-secondary' : null"
                rel="noopener noreferrer"
                target="_blank"
                class="button_main button_main_gray channelsight__list-link"
            >
                {{
                    handleInStock(product)
                        ? outOfStockText
                        : inStockText
                }}
            </a>
        </li>
    </ul>
</template>

<script>
export default {
    name: 'ChannelSightList',
    props: {
        size: {
            type: String,
            requried: true,
            default: null,
        },
        retailers: {
            type: Array,
            required: true,
        },
        inStockText: {
            type: String,
            required: true,
        },
        outOfStockText: {
            type: String,
            required: true,
        },
    },
    methods: {
        handlePrice(product) {
            const [{ Price }] = product.StockPrices;

            return Price === 0.00 ? 'N.A.' : '$'.concat(Price);
        },
        handleInStock(product) {
            const [{ Stock }] = product.StockPrices;

            return Stock !== 'InStock';
        },
    },
};
</script>
