<template>
    <div class="channelsight">
        <GlobalIntersectWrap
            class="button_main button_main_gray channelsight__button"
            @click.native="handleScroll(true)"
        >
            <span v-text="inStockText"/>
        </GlobalIntersectWrap>
        <ProductModal
            v-show="showModal"
            @click.native="handleScroll(false)"
        >
            <div
                @click.stop="() => {}"
            >
                <div class="channelsight__list-header">
                    <div class="channelsight__banner-badge">
                        <span
                            :style="{ 'background-color': color }"
                            class="badge"
                        >
                            <span
                                class="badge__copy"
                                v-text="letter"
                            />
                        </span>
                        <h2
                            class="heading_style-4 channelsight__banner-heading"
                            v-text="title"
                        />
                    </div>
                    <button
                        class="channelsight__close-button"
                        @click="handleScroll(false)"
                    >
                        <span
                            class="access-hidden"
                            v-text="'Close'"
                        />
                        <svg
                            class="channelsight__close-svg"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 119 119"
                        >
                            <use xlink:href="/svgs/plus.svg#plus"/>
                        </svg>
                    </button>
                </div>
                <div
                    v-if="retailers"
                    class="channelsight__list-container"
                >
                    <ChannelSightList
                        :retailers="retailers"
                        :in-stock-text="inStockText"
                        :out-of-stock-text="outOfStockText"
                    />
                </div>
            </div>
        </ProductModal>
    </div>
</template>

<script>
import ProductModal from '@/components/ProductModal';
import GlobalIntersectWrap from '@/components/GlobalIntersectWrap';

import ChannelSightList from '@/components/channel-sight/ChannelSightList';

export default {
    name: 'ChannelSight',
    components: {
        ProductModal,
        ChannelSightList,
        GlobalIntersectWrap,
    },
    props: {
        title: {
            type: String,
            required: true,
        },
        letter: {
            type: String,
            default: null,
            requried: true,
        },
        color: {
            type: String,
            default: null,
            requried: true,
        },
        size: {
            type: String,
            default: null,
            requried: true,
        },
        productId: {
            type: String,
            default: null,
            requried: true,
        },
        ipAddress: {
            type: String,
            required: true,
        },
        apiKey: {
            type: String,
            default: null,
            required: true,
        },
        inStockText: {
            type: String,
            required: true,
        },
        outOfStockText: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            showModal: undefined,
            retailers: undefined,
        };
    },
    computed: {
        apiEndpoint() {
            const { apiKey, productId, ipAddress } = this;

            return `https://api.channelsight.com/api/1.3/feed?key=${apiKey}&pid=${productId}&mk=US&ip=${ipAddress}`;
        },
    },
    mounted() {
        this.handleRequest();
    },
    methods: {
        async handleRequest() {
            const [{ RetailerProducts }] = await (
                await fetch(this.apiEndpoint)
            ).json();

            this.retailers = RetailerProducts;
        },
        handleScroll(preventScroll) {
            this.showModal = preventScroll;

            document.body.classList.toggle('body_video-active');
        },
    },
};
</script>
