$arrow-small: 34px;
$arrow-medium: 50px;
$arrow-large: 60px;

@mixin arrow-container($size, $background-color) {
    width: $size;
    height: $size;
    cursor: pointer;
    background-color: $background-color;
    border: 0;
    border-radius: 50%;
    outline: none;
    transition: background-color $transition-short ease-in-out;
}

@mixin arrow($arrow-width, $arrow-height, $color, $direction) {
    @include push-center;

    width: $arrow-width;
    height: $arrow-height;
    fill: $color;
    stroke: $color;
    transition:
        fill $transition-short ease-in-out,
        stroke $transition-short ease-in-out;
    transform: rotate($direction);
}

@mixin arrow-hover($parent-class, $color) {
    #{$parent-class}:hover &,
    #{$parent-class}:focus & {
        fill: $color;
        stroke: $color;
    }
}

.arrow-container__primary {
    @include arrow-container($arrow-large, $darksky);

    &:hover,
    &:focus {
        background-color: $white;
    }
}

.arrow-container__primary_small {
    @include arrow-container($arrow-small, $darksky);

    &:hover,
    &:focus {
        background-color: $white;
    }
}

$arrow-size: 50%;
$arrow-secondary-size: 100%;
$slight-padding: rem-calc(3px);

.arrow-primary-left {
    @include arrow($arrow-size, $arrow-size, $white, 180deg);
    @include arrow-hover(".arrow-container__primary", $darksky);
}

.arrow-primary-right {
    @include arrow($arrow-size, $arrow-size, $white, 0deg);
    @include arrow-hover(".arrow-container__primary", $darksky);
}

.arrow-right__primary_small {
    @include arrow($arrow-secondary-size, $arrow-secondary-size, $white, 0deg);
    @include arrow-hover(".arrow-container__primary_small", $sky-blue);
}

// Darker blue background
.arrow-container__secondary {
    @include arrow-container($arrow-medium, $blue);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
        background-color: $white;
    }
}

.arrow-container__secondary_small {
    @include arrow-container($arrow-small, $blue);

    &:hover,
    &:focus {
        background-color: $white;
    }
}

.arrow-right__secondary_small {
    @include arrow($arrow-secondary-size, $arrow-secondary-size, $white, 0deg);
    @include arrow-hover(".arrow-container__secondary_small", $blue);
}

.arrow-bottom {
    $arrow-bottom-size: 40%;

    @include arrow($arrow-bottom-size, $arrow-bottom-size, $white, 90deg);
    @include arrow-hover(".arrow-container__secondary", $blue);
}

// Grey background
.arrow-container__tertiary {
    @include arrow-container($arrow-medium, $gray-darkest);

    @include breakpoint(medium) {
        width: $arrow-large;
        height: $arrow-large;
    }
}

$arrow-paginate: 22px;

.arrow-right__tertiary {
    @include arrow($arrow-paginate, $arrow-paginate, $gray-dark, -90deg);
    @include arrow-hover(".arrow-container__tertiary", $blue);
}

.arrow-left__tertiary {
    @include arrow($arrow-paginate, $arrow-paginate, $gray-dark, 90deg);
    @include arrow-hover(".arrow-container__tertiary", $blue);
}
