$badge-size-mobile: 30px;
$badge-size-desktop: 32px;

// Badge color index
// #A71E22, $red, Sandwich thins "T"
// #408940, $green, Organic & Non GMO "O"
// #CA922B, $ochre, Buns & Rolls "B"
// #FF4D4D, $deep-salmon, Traditional Sliced "S"
// #1879C9, $blue, Ryhe "R"

@mixin badge {
    @include flexed-center;

    width: $badge-size-mobile;
    height: $badge-size-mobile;
    border-radius: 50%;

    @include breakpoint(medium) {
        width: $badge-size-desktop;
        height: $badge-size-desktop;
    }
}

@mixin badge-font($font-size) {
    margin-top: rem-calc(3px);
    -webkit-font-smoothing: antialiased;
    font-family: Kapra;
    font-size: $font-size;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0;

    // IE 11 fix for badge copy centering
    @media all and (-ms-high-contrast: none) {
        *::-ms-backdrop,
        & {
            margin-top: 0;
        }
    }
}

.badge {
    @include badge;
}

// The same for all of the badges
.badge__copy {
    @include badge-font(#{rem-calc(20px)});

    transition: color $transition-short ease-in-out;
}

// Badge button styles
.badge__button {
    display: block;
    width: 100%;
    height: 60px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: background-color $transition-short ease-in-out;

    @include breakpoint(large) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
    }
}

.badge__button-icon {
    @include push-center;
    @include badge;

    background-color: #d4d4d4;

    @include breakpoint(large) {
        margin-right: 0;
        margin-left: 0;
    }
}

.badge__button-copy {
    display: none;

    @include breakpoint(xlarge) {
        display: block;
        margin-left: 10px;
        color: #d4d4d4;
    }
}

// Only used in the banner-hero
.banner-hero__copy {
    @include badge-font(#{rem-calc(32px)});

    line-height: 1.5;
}
