@mixin button_main($text-color, $background-color, $text-hover-color: "", $background-hover-color: "") {
    @include paragraph_style-2;
    padding: 11px 50px;
    font-weight: 600;
    color: $text-color;
    text-align: center;
    cursor: pointer;
    appearance: none;
    background-color: $background-color;
    border: 0;
    border-radius: 40px;
    outline: none;
    transition: 0.2s color, 0.2s background-color;

    &:focus,
    &:hover {
        @if $text-hover-color == "" {
            color: $background-color;
        }
        @else {
            color: $text-hover-color;
        }

        @if $background-hover-color == "" {
            background-color: $text-color;
        }
        @else {
            background-color: $background-hover-color;
        }
    }
}
