
@mixin horizontol-rule($color) {
    width: 100%;
    height: rem-calc(3);
    margin: 0;
    background-color: $color;
    border: 0;
}

.hr__darker-blue {
    @include horizontol-rule($blue);
}

.hr__deep-salmon {
    @include horizontol-rule($deep-salmon);
}

.hr__green {
    @include horizontol-rule($green);
}
