
$inactive-background: $gray-slate;
$input-position-top: 20px;
$input-position-left: 30px;

@mixin input-container($width) {
    position: relative;

    @include breakpoint(medium) {
        width: $width;
    }
}

$input-padding-right: 35px;
$input-border-thickness: rem-calc(3);
$input-border-radius: 10px;
$input-border: $input-border-thickness $gray-medium solid;

@mixin input-border {
    border: $input-border-thickness $inactive-background solid;
    border-radius: $input-border-radius;
    outline: 0;

    &:hover,
    &:focus {
        border: $input-border;
    }
}

@mixin input($border) {
    @include heading_style-5;

    @if ($border) {
        @include input-border;
    }

    width: 100%;
    height: 70px;
    padding-right: $input-padding-right;
    padding-left: $input-position-left;
    background-color: $inactive-background;
    border: $input-border-thickness transparent solid;
    border-radius: 6px;
    appearance: none;
    outline: none;
    transition:
        background-color $transition-short ease-in-out,
        border-color $transition-short ease-in-out;

    // Conditional class
    &.select-secondary__expanded {
        background-color: $white;
    }

    &:hover,
    &:focus,
    .select-secondary__wrapper:focus &,
    .select-secondary__wrapper:hover & {
        background-color: $white;
        border-radius: $input-border-radius;
    }
}

.input-primary__container {
    @include input-container(100%);
}

.input-primary {
    @include input("yes");
}

// Only used in Store locator filter
.input-secondary {
    @include input("yes");

    color: $blue;
}

@mixin input-label($color) {
    @include heading_style-5;

    position: absolute;
    top: 22px;
    left: 32px;
    color: $color;
    transition: transform $transition-medium ease;

    .input-primary:valid + &,
    .input-primary:focus + &,
    .input-secondary:valid + &,
    .input-secondary:focus + & {
        transform: translate(-20px, -50px);
        transform-origin: 0 50%;
    }
}

.input-label {
    @include input-label($black);
}

// Only used in filter
.input-label__secondary {
    @include input-label($blue);

    pointer-events: none;
}

.select-primary__container {
    @include input-container(100%);
}

.select-primary {
    @include input("yes");

    // Rare use case for !important
    color: $black !important;
    cursor: pointer;

    // removes dotted focus-ring Firefox
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

.select-primary__arrow {
    $position: 30px;

    position: absolute;
    // top: $input-position-top;
    top: 25px;
    right: $position;
    width: $position;
    height: 20px;
    pointer-events: none;
    transform: rotate(90deg);

    @include breakpoint(large) {
        right: 10px;
    }
}

.select-secondary__container {
    @include input-container(100%);
}

.select-secondary__wrapper {
    @include input-border;
}

.select-secondary__inner {
    position: relative;
}

.select-secondary {
    @include input(null);

    padding-right: 50px;
    color: $blue;
    cursor: pointer;

    // removes dotted focus-ring Firefox
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

.select-secondary__heading {
    display: block;
    text-align: left;
    word-break: break-all;
}

.select-secondary__item {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-left: $input-position-left;
    background-color: $white;

    &.last-item {
        padding-bottom: 30px;
        border-radius: 50%;
    }
}

.select-secondary__item-checkbox-outer {
    $size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;
    border: rem-calc(2) $gray-medium solid;
    border-radius: 50%;
}

.select-secondary__item-checkbox-inner {
    $checkbox-size: 12px;

    width: $checkbox-size;
    height: $checkbox-size;
    padding: rem-calc(2);
    margin: 0;
    border: 0;
    border-radius: 50%;
    outline: none;
    appearance: none;
    transition: background-color $transition-short ease-in-out;

    .active + & {
        background-color: $deep-salmon;
    }

    &.active {
        background-color: $deep-salmon;
    }

    &:hover {
        background-color: $blue;
    }
}

.select-secondary__item-copy {
    @include heading_style-6;

    padding-right: 20px;
    padding-left: 12px;
}

.select-secondary__arrow-container-outer {
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    pointer-events: none;

    @include breakpoint(large) {
        right: 35px;
    }
}

.select-secondary__arrow-container--revised {
    top: 13px;
}

$secondary__arrow-container-size: 40px;
$secondary__arrow-size: 15px;

.select-secondary__arrow-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $secondary__arrow-container-size;
    height: $secondary__arrow-container-size;
    background-color: $gray-medium;
    border-radius: 50%;
}

.select-secondary__arrow {
    width: $secondary__arrow-size;
    height: $secondary__arrow-size;
    fill: $deep-salmon;
    transition: transform $transition-short ease;
    transform-style: preserve-3d;
    transform-origin: center center;

    .select-secondary__expanded & {
        transform: scaleY(-1);
    }
}
