
@mixin intersect($name, $duration, $timing-function, $inline, $parent) {
    #{$inline}.intersect-item #{$parent} {
        opacity: 0;
    }

    #{$inline}.intersect-item_active #{$parent} {
        opacity: 1;
        animation-name: unquote($name);
        animation-duration: $duration;
        animation-timing-function: unquote($timing-function);
        @content;
    }
}

