$social-logo-size: 20px;
$social-icon-size-mobile: 60px;
$social-icon-size-desktop: 50px;

@mixin social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $social-icon-size-mobile;
    height: $social-icon-size-mobile;
    cursor: pointer;
    border-radius: 50%;
    outline: none;

    @include breakpoint(medium) {
        width: $social-icon-size-desktop;
        height: $social-icon-size-desktop;
    }
}

@mixin social-logo($fill-color) {
    width: $social-logo-size;
    height: $social-logo-size;
    fill: $fill-color;
    transition: fill $transition-short ease-in-out;
}

@mixin social-icon-hover($parent-class, $fill-color) {
    #{$parent-class}:hover &,
    #{$parent-class}:focus & {
        fill: $fill-color;
    }
}

.social-icon__primary {
    @include social-icon;

    background-color: $light-red;
    transition: background-color $transition-short ease-in-out;

    &:focus,
    &:hover {
        background-color: $white;
    }
}

.social-logo__primary {
    @include social-logo($white);
    @include social-icon-hover(".social-icon__primary", $light-red);
}

// Secondary styles
.social-icon__secondary {
    @include social-icon;

    background-color: $gray-light;
    transition: background-color $transition-short ease-in-out;

    &:focus,
    &:hover {
        background-color: $blue;
    }
}

.social-logo__secondary {
    @include social-logo($blue);
    @include social-icon-hover(".social-icon__secondary", $gray-light);
}
