
$star-size-small: 50px;
$star-size-big: 75px;
$star-size-xtra-big: 120px;

@mixin star($width-mobile, $rotation, $width-desktop) {
    width: $width-mobile;
    height: $width-mobile;
    transform: rotate($rotation);

    @include breakpoint(medium) {
        width: $width-desktop;
    }
}

@mixin star-position($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

.star {
    @include star($star-size-small, 0deg, $star-size-small);
}

.star-big {
    @include star($star-size-big, 80deg, $star-size-xtra-big);
    // for positioning
    // star-position($top, $right, $bottom, $left)
}

// Star color index
// star__color-01, $ochre
// star__color-02, $pink
// star__color-03, $yellow

$star-colors: $ochre $pink $yellow;

// Modifer classes for the stars
@each $star-color in $star-colors {
    $index: index($star-colors, $star-color);

    .star__color-0#{$index} {
        fill: $star-color;
    }
}

