@mixin heading_style-1 {
    -webkit-font-smoothing: antialiased;
    font-family: Kapra;
    font-size: rem-calc(55px);
    font-weight: 700;
    line-height: (50 / 55);
    text-transform: uppercase;
    letter-spacing: rem-calc(1px);

    @include breakpoint(large) {
        font-size: rem-calc(100px);
        line-height: (100 / 100);
        letter-spacing: rem-calc(2px);
    }
}

@mixin heading_style-2 {
    font-family: proxima-nova;
    font-size: rem-calc(35px);
    font-weight: 800;
    line-height: (40 / 35);
    text-transform: uppercase;
    letter-spacing: rem-calc(1.48px);

    @include breakpoint(large) {
        font-size: rem-calc(45px);
        line-height: (50 / 45);
        letter-spacing: rem-calc(2px);
    }
}

@mixin heading_style-3 {
    font-family: Kapra;
    font-size: rem-calc(35px);
    font-weight: 700;
    line-height: (38 / 35);
    text-transform: uppercase;
    letter-spacing: rem-calc(1px);

    @include breakpoint(large) {
        font-size: rem-calc(50px);
        line-height: (50 / 50);
        letter-spacing: rem-calc(0.5px);
    }
}

@mixin heading_style-4 {
    font-family: Kapra;
    font-size: rem-calc(26px);
    font-weight: 500;
    line-height: (30 / 26);
    text-transform: uppercase;
    letter-spacing: rem-calc(1px);

    @include breakpoint(large) {
        font-size: rem-calc(30px);
        line-height: (30 / 30);
    }
}

@mixin heading_style-5 {
    font-family: proxima-nova;
    font-size: rem-calc(18px);
    font-weight: 800;
    line-height: (26 / 18);
    text-transform: uppercase;
    letter-spacing: rem-calc(2px);
}

@mixin heading_style-6 {
    font-family: proxima-nova;
    font-size: rem-calc(12px);
    font-weight: 800;
    line-height: (15 / 12);
    text-transform: uppercase;
    letter-spacing: rem-calc(0.92px);

    @include breakpoint(large) {
        font-size: rem-calc(13px);
        letter-spacing: rem-calc(1px);
    }
}

@mixin paragraph_style-1 {
    font-family: proxima-nova;
    font-size: rem-calc(20px);
    font-weight: 700;
    line-height: (28 / 20);
    letter-spacing: rem-calc(0.25px);

    @include breakpoint(large) {
        font-size: rem-calc(26px);
        line-height: (35 / 26);
        letter-spacing: rem-calc(0.5px);
    }
}

@mixin paragraph_style-2 {
    font-family: proxima-nova;
    font-size: rem-calc(17px);
    font-weight: 600;
    line-height: (26 / 17);
    letter-spacing: rem-calc(0.47px);

    @include breakpoint(large) {
        font-size: rem-calc(18px);
        line-height: (28 / 18);
        letter-spacing: rem-calc(0.5px);
    }
}

@mixin paragraph_style-3 {
    font-family: proxima-nova;
    font-size: rem-calc(15px);
    font-weight: 600;
    line-height: (26 / 15);
    letter-spacing: rem-calc(0.3px);
}
