@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3);
    }

    $scale-amount-01: 1.03;

    20% {
        transform: scale3d($scale-amount-01, $scale-amount-01, $scale-amount-01);
    }

    $scale-amount-02: 1;

    40% {
        transform: scale3d($scale-amount-02, $scale-amount-02, $scale-amount-02);
    }

    $scale-amount-03: 1.02;

    60% {
        opacity: 1;
        transform: scale3d($scale-amount-03, $scale-amount-03, $scale-amount-03);
    }

    $scale-amount-04: 0.98;

    80% {
        transform: scale3d($scale-amount-04, $scale-amount-04, $scale-amount-04);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-name: bounceIn;
    animation-duration: $transition-medium;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fade-in;
    animation-duration: 0.75s;
}

@keyframes fade-up {
    0% {
        opacity: 0.8;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeUp {
    animation-name: fade-up;
    animation-duration: 0.75s;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 0.75s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(5%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 10%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes flipInY {
    from {
        opacity: 0;
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        opacity: 1;
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.flipInY {
    backface-visibility: visible !important;
    animation-name: flipInY;
}
