// stylelint-disable comment-whitespace-inside, comment-empty-line-before, comment-whitespace-before

/*-------------------------------------------------------------------------------*/
/*--------------------------------- MAIN BUTTON ---------------------------------*/
/*-------------------------------------------------------------------------------*/

$translucent-white: rgba(255, 255, 255, 0.5);
$translucent-white_hover: rgba(255, 255, 255, 0.8);

.button_main {
    animation-fill-mode: both;

    &.intersect-item {
        opacity: 0;
    }

    &.intersect-item_active {
        opacity: 1;
        animation-name: bounceIn;
        animation-duration: 0.75s;
    }
}

.button_main_gray {
    @include button_main($blue, $gray-slate);
}

.button_main_blue {
    @include button_main($white, #3695E4);
}

.button_main_red {
    @include button_main($white, $light-red);
}

.button_main_translucent {
    @include button_main($black, $translucent-white, $black, $translucent-white_hover);
}

.button_smart-label {
    display: block;
    height: 50px;
    padding: 11px 14px;

    &:hover {
        .button_smart-label__svg {
            fill: $white;
        }

        .button_smart-label__text {
            color: $white;
        }
    }
}

.button_smart-label__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 -5px;
}

.button_smart-label__text {
    font-size: rem-calc(10px);
    font-weight: 700;
    line-height: 1;
    color: $black;
    text-align: left;
    text-transform: uppercase;
    transition: 0.2s color;
}

.button_smart-label__svg {
    width: 112px;
    height: 25px;
    margin-right: 10px;
    flex-shrink: 0;
    fill: $blue;
    transition: 0.2s fill;
}

// Only used in form-cta
.button_main_gray-secondary {
    @include button_main($gray-dark, $gray-light);

    pointer-events: none;
}

// Only used in map modal hero
.button_map_gray {
    @include button_main($white, $black);
}

// only used in store locator filter
.button_main_gray--filter {
    @include button_main($gray-dark-copy, $gray-slate);
    @include paragraph_style-1;

    display: block;
    line-height: 1.8 !important;
    pointer-events: none;

    &.button--enabled {
        @include button_main($blue, $gray-slate);
        @include paragraph_style-1;

        line-height: 1.8 !important;
        pointer-events: auto;
    }
}
