// stylelint-disable selector-max-type

label {
    display: block;
    width: 100%;
}

#{text-inputs()},
textarea {
    display: block;
    width: 100%;
}

textarea {
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    resize: vertical;
}

button {
    padding: 0;
    border-width: 0;
}

select {
    appearance: none;
}

select::-ms-expand {
    display: none;
}
