// stylelint-disable selector-max-type

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

th,
td {
    padding: 5px;
    text-align: left;
}

[v-cloak] {
    display: none;
}

::-ms-clear,
::-ms-expand {
    display: none;
}
