// stylelint-disable

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: inherit;
}

/*-------------------------------------------------------------------------------*/
/*--------------------------------- LOCAL FONTS ---------------------------------*/
/*-------------------------------------------------------------------------------*/

@font-face {
    font-family: Kapra;
    font-style: normal;
    font-weight: 400;
    src:
        url("/fonts/kapra-regular.woff2") format("woff2"),
        url("/fonts/kapra-regular.woff") format("woff");
}

@font-face {
    font-family: Kapra;
    font-style: normal;
    font-weight: 700;
    src:
        url("/fonts/kapra-regularbold.woff2") format("woff2"),
        url("/fonts/kapra-regularbold.woff") format("woff");
}

/*-------------------------------------------------------------------------------*/
/*------------------------------------ STYLES -----------------------------------*/
/*-------------------------------------------------------------------------------*/


// Headers
.heading_style-1 {
    @include heading_style-1;
}

.heading_style-2 {
    @include heading_style-2;
}

.heading_style-3 {
    @include heading_style-3;
}

.heading_style-4 {
    @include heading_style-4;
}

.heading_style-5 {
    @include heading_style-5;
}

.heading_style-6 {
    @include heading_style-6;
}

// Paragraphs
.paragraph_style-1 {
    @include paragraph_style-1;
}

.paragraph_style-2 {
    @include paragraph_style-2;
}

.paragraph_style-3 {
    @include paragraph_style-3;
}

// Modifiers
.copy_black {
    color: $black;
}

.copy_gray {
    color: $gray-dark;
}

.copy_white {
    color: $white;
}

.copy_red {
    color: $deep-salmon;
}

.copy_blue {
    color: $blue;
}

/*-------------------------------------------------------------------------------*/
/*----------------------------------- SPACEING ----------------------------------*/
/*-------------------------------------------------------------------------------*/

// Heading 1
.heading_style-1 + .paragraph_style-1 {
    margin-top: $spacing-small;
}

.heading_style-1 + .paragraph_style-2 {
    margin-top: $spacing-small;
}

// Heading 2
.heading_style-2 + .paragraph_style-2 {
    margin-top: $spacing-small;
}

.heading_style-2 + .paragraph_style-3 {
    margin-top: $spacing-small;
}

// Heading 3
.heading_style-3 + .paragraph_style-2 {
    margin-top: $spacing-medium;
}

.heading_style-3 + .paragraph_style-3 {
    margin-top: $spacing-small;
}

// Heading 5
.heading_style-5 + .heading_style-2 {
    margin-top: $spacing-medium;
}

.heading_style-5 + .heading_style-3 {
    margin-top: $spacing-medium;
}

.heading_style-5 + .heading_style-6 {
    margin-top: $spacing-xsmall;
}

.heading_style-5 + .paragraph_style-1 {
    margin-top: $spacing-small;
}

.heading_style-5 + .paragraph_style-2 {
    margin-top: $spacing-small;
}

// Heading 6
.heading_style-6 + .paragraph_style-3 {
    margin-top: $spacing-xsmall;
}
