// stylelint-disable

$path-fonts: "/fonts";

/*-------------------------------------------------------------------------------*/
/*----------------------------------- COLOURS -----------------------------------*/
/*-------------------------------------------------------------------------------*/

// Grayscale
$black:             #393939;
$gray-darkest:      #EEEEEE;
$gray-dark:         #C8C8C8;
$gray-medium:       #EBEBEB;
$gray-light:        #F8F8F8;
$white:             #FFFFFF;
$gray-slate:        #F5F5F5;

// Colors
$dark-blue:         #2367BB;
$blue:              #1879C9;
$baby-blue:         #E9F2FA;
$darksky:           #9EC2DF;
$sky-blue:          #B0D1EC;
$deep-salmon:       #FF4D4D;
$pink:              #E89C9C;
$bubblegum:         #FFEEEF;
$bubblegum-light:   #FADEDF;
$crimson:           #8E0303;
$red:               #A91616;
$light-red:         #BF2424;
$ochre:             #CA922B;
$yellow:            #FFD731;
$dijon:             #FFE789;
$pale-yellow:       #F7DD79;
$green:             #408940;

// Only for pagination buttons
$gray-dark-copy:    #9E9E9E;

// Only for map results list
$map-gray:          #A7A7A7;

// Only for map results list
$channelsight-gray: #777777;
$channelsight-gray-light: #C2C2C2;

/*-------------------------------------------------------------------------------*/
/*----------------------------------- SPACING -----------------------------------*/
/*-------------------------------------------------------------------------------*/

$spacing-xsmall:    10px;
$spacing-small:     20px;
$spacing-medium:    30px;
$spacing-large:     60px;
$spacing-xlarge:    85px;
$spacing-xxlarge:   120px;
$spacing-xxxlarge:  170px;

/*-------------------------------------------------------------------------------*/
/*--------------------------------- TRANSITOINS ---------------------------------*/
/*-------------------------------------------------------------------------------*/

$transition-short:  0.2s;
$transition-medium: 0.4s;
$transition-long:   0.6s;

$transition-vlong:  1s;

$transition-avg:    $transition-short;

/*-------------------------------------------------------------------------------*/
/*--------------------------------- BREAKPOINTS ---------------------------------*/
/*-------------------------------------------------------------------------------*/

$breakpoints: (
    small: 0,
    medium: rem-calc(640px),
    large: rem-calc(1024px),
    xlarge: rem-calc(1200px),
    xxlarge: rem-calc(1440px),
    xxxlarge: rem-calc(1600px),
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge xxxlarge);

/*-------------------------------------------------------------------------------*/
/*------------------------------------ GRID -------------------------------------*/
/*-------------------------------------------------------------------------------*/
$global-width: rem-calc(1200);
$global-max-width: rem-calc(1600);
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
    small: 60px,
    medium: 60px,
    large: 30px,
);
$grid-column-align-edge: true;
$grid-column-alias: "columns";
$block-grid-max: 8;
