<template>
    <div class="product-details">
        <slot
            :currentImage="currentImage"
            :toggleImage="toggleImage"
        />
    </div>
</template>

<script>
export default {
    name: 'ProductDetails',
    data() {
        return {
            currentImage: 1,
        };
    },
    methods: {
        toggleImage(i) {
            this.currentImage = i;
        },
    },
};
</script>
