<template>
    <div
        :class="[
            { 'item--active': handleSku },
            { 'intersect-item_active': active },
        ]"
        class="intersect-item"
    >
        <intersection
            @enter="active = true"
        >
            <slot />
        </intersection>
    </div>
</template>

<script>
export default {
    name: 'ProductGridItem',
    props: {
        sku: {
            type: [String, Number],
            default: '',
        },
    },
    data() {
        return {
            active: false,
        };
    },
    computed: {
        handleSku() {
            const { breadTypes } = this.$root;

            return breadTypes.length !== 0 ? breadTypes.includes(Number(this.sku)) : null;
        },
    },
};
</script>
