{% macro type(badge_color, badge_indicator) %}
    <div
        class="badge"
        style="background-color: {{ badge_color }};"
    >
        <span class="badge__copy">
            {{ badge_indicator }}
        </span>
    </div>
{% endmacro %}
