{% macro graphic(category_color) %}
    <svg
        class="product-grid__new-badge"
        viewBox="0 0 84.2 80.1"
        style="enable-background:new 0 0 84.2 80.1;"
    >
        <path
            class="bread"
            fill="{{ category_color }}"
            d="M80.6,14.7C76.5,9.8,63.8,3.9,47.2,1.3C29.7-1.5,17.1,0.9,13.3,2c-2.4,0.7-6.5,2.3-7.6,6C3.9,14.1,7.4,15.9,9,19c2,3.9-1,7.1-2.4,10.1C3.5,36,1.7,45.6,0.7,51.3C-1,60.8-0.1,65.5,7.2,69.9c13.1,7.7,31,9.6,51.9,10.2c7.1,0.2,11.9-2.3,14.3-10.5c3-10.1,3.7-18.1,2.1-28.5c-0.4-2.9-0.6-8.5,2-9.9c3.6-1.9,5.7-3.7,6.4-6.7C84.8,20.7,82.8,17.3,80.6,14.7"
        />
        <path
            class="text"
            d="M63,48.6c0.7,0,1.1,0.5,1,1.2c0,0.6-0.4,0.9-0.9,0.9c-0.5,0-1.2-0.8-1.2-1.3C62,48.9,62.4,48.6,63,48.6zM65.6,46.9c-0.9-0.1-1.2-0.9-0.7-2.2c0.6-1.7,1.3-3.5,1.9-5.2c0.3-1,0.7-2,1.1-2.9c0.2-0.5,0.5-1,0.9-1c1.8,0.5,1.6,1.3,1.3,2.2c-0.4,1.1-0.9,2.3-1.3,3.4c-0.9,2.1-1.2,2.7-1.9,4.4C66.7,46,66.3,47,65.6,46.9z M43,33.9c0.1,0.8-0.3,1.1-1,1.2c-1.2,0.1-2.3,0.2-3.5,0.3c-1.3,0.1-2.7,0.1-4.2,0.1c-0.3,1-0.7,2.3-1.2,3.8c2.3-0.3,4.5,0.5,6.7-0.4c0.3-0.1,0.9,0,1.1,0.1c0.4,0.5,0,0.8-0.4,1.1c-1.2,0.7-2.4,1.3-3.9,1.3c-1.2-0.1-2.5,0-3.7,0c-0.6,1.7-0.3,2.4,1.3,3c1,0.4,2.1,0.7,3.2,0.8c0.7,0.1,1.5-0.2,2.2-0.2c0.4,0,0.8-0.1,1.1-0.1c0,0.4,0.1,0.8,0,1.2c-0.1,0.8-0.7,1.2-1.5,1.4c-2.3,0.5-4.5-0.2-6.6-0.9c-1.7-0.6-2.9-3.1-2.6-5c0.3-1.7,0.9-3.3,1.4-4.9c0.1-0.2,0.2-0.4,0.3-0.6c0.3-2.3,2-2.7,4-2.8c2.1-0.1,4.1-0.3,6.1,0.3C42.3,33.7,42.7,33.8,43,33.9z M25.3,42.8c0.6-3,1.2-5.8,1.7-8.5c0.1-0.5,0.3-1,0.6-1.4c0.2-0.3,0.7-0.5,1-0.4c0.3,0.1,0.5,0.5,0.7,0.9c0.1,0.2,0,0.6-0.1,0.8c-0.5,2.3-1,4.5-1.4,6.8c-0.2,1.2-0.3,2.5-0.5,3.7c-0.1,0.5-0.2,1-0.5,1.5c-0.8,1.2-2.2,1.3-2.8,0c-1.4-2.8-3.4-5.2-5.3-7.6c-0.2-0.3-0.4-0.5-0.7-0.8c-1,2.1-1.9,4-2.8,5.9c-0.1,0.3,0.1,0.7,0.1,1c0,0.8-0.5,1.3-1.2,1.4c-0.7,0.1-1.3-0.3-1.4-1c-0.1-0.8,0.1-1.6,0.3-2.3c0.4-1.2,1.1-2.3,1.5-3.5c0.8-2,1.5-4,2.2-6c0.2-0.5,0.4-1,1-0.9c0.5,0,1.1,0.1,1.1,0.8c0,1.3,0.8,2.4,1.5,3.3C21.8,38.6,23.4,40.5,25.3,42.8z M61.7,35.7c0.5,0.6,0,1.7-0.3,3c-0.1,0.6-0.3,1.1-0.5,1.6c-1,2.5-2.1,5-3.3,7.4c-0.2,0.3-0.3,0.7-0.6,1c-0.9,1.1-2.3,1-3.1-0.1c-0.5-0.6-0.8-1.4-1.2-2.1c-0.3-0.6-0.5-1.2-0.8-1.9c-1,0.9-1.9,1.8-2.9,2.6c-1.1,0.9-2.3,0.5-2.7-0.9c-0.2-0.9-0.3-1.8-0.3-2.7c0-2.9,0-5.7,0.1-8.6c0-0.5-0.1-1.3,0.7-1.4c0.8,0,0.9,0.7,1.1,1.3c0.1,0.4-0.1,0.9,0.1,1.2c0.8,1.5,1.2,3.2,0.6,4.7C48,43,48.2,43.3,48.4,45c0.5-0.3,0.8-0.5,1-0.7c0.7-0.6,1.3-1.3,1.9-1.9c1.2-1.1,2.2-0.8,2.8,0.7c0.1,0.3,0.2,0.7,0.3,1.1c0.3,0.8,0.6,1.6,0.9,2.6c0.4-0.5,0.7-0.8,0.8-1.1c1.2-2.8,2.8-5.4,3.5-8.4c0.2-0.8,0.7-1.4,1.4-1.8C61.2,35.5,61.5,35.5,61.7,35.7z"
        />
        <path
            class="sparkle"
            d="M44.7,22.8c-0.5,0.1-1.1,0.3-1.6,0.2c-0.7-0.2-1.3-0.7-1.2-1.6c0.2-1.3,0.4-2.5,0.6-3.8c0.2-1.3,0.4-2.7,0.7-4c0.2-0.8,0.7-1.1,1.5-1c0.9,0.1,1.1,0.7,1,1.5c-0.2,2.5-0.4,5.1-0.6,7.6C45,22,44.9,22.3,44.7,22.8z M35.7,20.1c-0.4,0.4-0.7,0.9-1.1,1.2c-0.7,0.4-1.5,0.3-2-0.4c-0.7-1-1.4-2.1-2.1-3.2c-0.7-1.1-1.4-2.2-2.1-3.4c-0.4-0.7-0.3-1.3,0.4-1.7c0.7-0.5,1.3-0.2,1.7,0.4c1.5,2,3.1,4,4.6,6C35.3,19.3,35.4,19.6,35.7,20.1z M53.9,24.7c-0.4-0.3-1-0.5-1.3-0.9c-0.4-0.6-0.5-1.3,0.2-1.9c0.9-0.8,1.8-1.5,2.8-2.3c1-0.8,1.9-1.6,2.9-2.3c0.6-0.4,1.2-0.4,1.7,0.2c0.5,0.6,0.3,1.2-0.2,1.6c-1.7,1.7-3.4,3.3-5.1,4.9C54.6,24.3,54.3,24.4,53.9,24.7z M37.3,57.7c0.5-0.1,1.1-0.3,1.6-0.2c0.7,0.2,1.3,0.7,1.2,1.6c-0.2,1.3-0.4,2.5-0.6,3.8c-0.2,1.3-0.4,2.7-0.7,4c-0.2,0.8-0.7,1.1-1.5,1c-0.9-0.1-1.1-0.7-1-1.5c0.2-2.5,0.4-5.1,0.6-7.6C37,58.6,37.2,58.3,37.3,57.7z M47.6,59.6c0.4-0.4,0.7-0.9,1.1-1.2c0.7-0.4,1.5-0.3,2,0.4c0.7,1,1.4,2.1,2.1,3.2c0.7,1.1,1.4,2.2,2.1,3.4c0.4,0.7,0.3,1.3-0.4,1.7c-0.7,0.5-1.3,0.2-1.7-0.4c-1.5-2-3.1-4-4.6-6C47.9,60.4,47.8,60.1,47.6,59.6zM28.3,54.8c0.4,0.3,1,0.5,1.3,0.9c0.4,0.6,0.5,1.3-0.2,1.9c-0.9,0.8-1.8,1.5-2.8,2.3c-1,0.8-1.9,1.6-3,2.3c-0.6,0.4-1.2,0.4-1.7-0.2c-0.5-0.6-0.3-1.2,0.2-1.6c1.7-1.7,3.4-3.3,5.1-4.9C27.6,55.2,27.9,55.1,28.3,54.8z"
        />
    </svg>
{% endmacro %}
