<script>
export default {
    name: 'App',
    delimiters: ['<%', '%>'],
    data() {
        return {
            distance: 5,
            hideNav: false,
            breadTypes: [],
            showMap: false,
            allItems: false,
            filteredSkus: [],
            zipcode: undefined,
            distances: undefined,
            currentSection: undefined,
        };
    },
};
</script>

<style lang="scss" src="../scss/app.scss"></style>
