<template>
    <input
        ref="checkBox"
        v-model="$root.breadTypes"
        :id="id"
        :value="value"
        type="checkbox"
        class="checkbox"
    >
</template>

<script>
export default {
    name: 'CheckBox',
    props: {
        id: {
            type: String,
            required: true,
        },
        value: {
            type: [String, Number],
            required: true,
        },
    },
    computed: {
        handleItems() {
            return this.$root.allItems;
        },
    },
    watch: {
        handleItems() {
            return this.handleAll();
        },
    },
    methods: {
        handleAll() {
            const skuIndex = this.$root.breadTypes.indexOf(this.value);

            return skuIndex === -1 ? this.$refs.checkBox.click() : null;
        },
    },
};
</script>

<style
    lang="scss"
    scoped
>
.checkbox {
    width: 0;
    height: 0;
    appearance: none;
    border: 0;
}
</style>
