<template>
    <intersection
        @enter="timerActive()"
        @leave="couponLeave()"
    >
        <div class="coupon">
            <slot
                :active="active"
                :toggleActive="toggleActive"
            />
        </div>
    </intersection>
</template>

<script>
export default {
    name: 'Coupon',
    data() {
        return {
            timer: {},
            active: false,
        };
    },
    methods: {
        toggleActive() {
            this.active = !this.active;
        },
        timerActive() {
            this.timer = setTimeout(() => {
                this.active = true;
            }, 3000);
        },
        timerDeactivate() {
            clearTimeout(this.timer);
        },
        couponLeave() {
            if (this.active === true) {
                this.active = false;
            }

            this.timerDeactivate();
        },
    },
};
</script>
