<template>
    <div
        v-resize="divAutoResize"
        ref="wrap"
        @mouseover="focusMode = true"
        @mouseleave="focusMode = false"
    >
        <slot
            :activeSlide="activeSlide"
            :changeSlide="changeSlide"
            :nextSlide="nextSlide"
        />
    </div>
</template>

<script>
import { resize } from 'vue-resize-directive';

export default {
    name: 'FadeSlider',
    directives: {
        resize,
    },
    props: {
        slideClassName: {
            type: String,
            required: false,
            default: 'slide',
        },
        innerWrapClassName: {
            type: String,
            required: false,
            default: 'wrap',
        },
        activeSlideClassName: {
            type: String,
            required: false,
            default: 'active',
        },
        autoChangeTimer: {
            type: Number,
            required: false,
            default: 7000,
        },
    },
    data() {
        return {
            focusMode: false,
            activeSlide: 1,
            slides: undefined,
        };
    },
    created() {
        this.activeSlide = 1;
    },
    mounted() {
        this.slides = this.$refs.wrap.getElementsByClassName('slide').length;

        const theWrap = this.$refs.wrap;

        const currentDiv = theWrap.getElementsByClassName(this.activeSlideClassName)[0];
        const contentDiv = theWrap.getElementsByClassName(this.innerWrapClassName)[0];

        // Check if the browser is Safari 10 or below
        const isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification); // eslint-disable-line

        if (theWrap.getElementsByClassName(this.activeSlideClassName).length > 0) {
            contentDiv.style.height = `${currentDiv.offsetHeight}px`;
        }

        if (isSafari) {
            this.changeSlide(1);
            setTimeout(() => {
                this.autoNextSlide();
            }, 1000);
        } else {
            this.autoNextSlide();
        }
    },
    methods: {
        changeSlide(j) {
            this.activeSlide = j;
            this.divAutoResize();
        },
        nextSlide(direction) {
            const currentSlideNum = this.activeSlide;

            if (direction === 'right') {
                if (currentSlideNum === this.slides) {
                    this.activeSlide = 1;
                } else {
                    this.activeSlide += 1;
                }
            } else if (direction === 'left') {
                if (currentSlideNum === 1) {
                    this.activeSlide = this.slides;
                } else {
                    this.activeSlide -= 1;
                }
            }

            this.divAutoResize();
        },
        autoNextSlide() {
            const slider = this;

            setInterval(() => {
                if (slider.focusMode === false) {
                    slider.nextSlide('right');
                }
            }, this.autoChangeTimer);
        },
        divAutoResize() {
            const theWrap = this.$refs.wrap;

            if (theWrap.getElementsByClassName(this.activeSlideClassName).length > 0) {
                setTimeout(() => {
                    const currentDiv = theWrap.getElementsByClassName(this.activeSlideClassName)[0];
                    const contentDiv = theWrap.getElementsByClassName(this.innerWrapClassName)[0];

                    contentDiv.style.height = `${currentDiv.offsetHeight}px`;
                }, 100);
            }
        },
    },
};
</script>
