<template>
    <div>
        <slot
            :active="active"
            :toggleActive="toggleActive"
        />
    </div>
</template>

<script>
export default {
    name: 'GlobalHeader',
    data() {
        return {
            active: '',
        };
    },
    watch: {
        active(value) {
            return value ? this.preventScroll() : this.enableScroll();
        },
    },
    methods: {
        toggleActive(a) {
            if (this.active === a) {
                this.active = '';
            } else {
                this.active = a;
            }
        },
        handleScroll(e) {
            e.preventDefault();
            e.stopPropagation();
        },
        enableScroll() {
            document.removeEventListener('touchmove', this.handleScroll);
        },
        preventScroll() {
            document.addEventListener('touchmove', this.handleScroll, { passive: false });
        },
    },
};
</script>
