<template>
    <div
        :class="{ 'intersect-item_active': active === true }"
        class="intersect-item"
    >
        <intersection
            @enter="active = true"
        >
            <slot />
        </intersection>
    </div>
</template>

<script>
export default {
    name: 'GlobalIntersectWrap',
    data() {
        return {
            active: false,
        };
    },
};
</script>
