<template>
    <div>
        <slot
            :handleZip="handleZip"
            :showButton="showButton"
            :hideButton="hideButton"
            :showActive="showActive"
            :revealButton="revealButton"
            :toggleActive="toggleActive"
            :intersectTop="intersectTop"
            :toggleSection="toggleSection"
            :selectAllItems="selectAllItems"
            :handleDistance="handleDistance"
            :intersectBottom="intersectBottom"
            :handleValidation="handleValidation"
        />
    </div>
</template>

<script>
export default {
    name: 'Locator',
    data() {
        return {
            // eslint-disable-next-line
            pattern: /^\d{5}(?:[-\s]\d{4})?$/,
            primeButton: false,
            increment: 0,
        };
    },
    computed: {
        handleZip() {
            const { $root } = this;

            return this.handleValidation
                || $root.zipcode === undefined
                || $root.zipcode === '';
        },
        handleValidation() {
            return this.pattern.test(String(this.$root.zipcode));
        },
        showActive() {
            return this.$root.showMap;
        },
        handleDistance() {
            return this.$root.distance;
        },
        showButton() {
            return this.primeButton
                && this.$root.breadTypes.length !== 0
                && this.handleValidation;
        },
    },
    watch: {
        showActive() {
            this.increment = 0;
        },
    },
    created() {
        this.fetchData('distances');
    },
    methods: {
        intersectTop({ boundingClientRect }) {
            const show = boundingClientRect.top <= 0;

            this.increment += 1;

            if (this.increment <= 2) {
                return;
            }

            this.primeButton = show;
            this.$parent.toggleNav(show);
        },
        intersectBottom({ boundingClientRect, rootBounds }) {
            const show = boundingClientRect.top - rootBounds.height > 0;

            this.increment += 1;

            if (this.increment <= 2) {
                return;
            }

            this.primeButton = show;
            this.$parent.toggleNav(show);
        },
        toggleSection(section, side, { boundingClientRect: { top } }) {
            if (
                (side === 'top' && top > 60)
                || (side === 'bottom' && top < 60)
            ) {
                return;
            }

            this.$root.currentSection = section;
        },
        revealButton() {
            this.primeButton = true;
        },
        hideButton() {
            this.primeButton = false;
        },
        toggleActive() {
            this.$root.showMap = !this.$root.showMap;
        },
        selectAllItems() {
            this.$root.allItems = !this.$root.allItems;
        },
        async fetchData(data) {
            this.$root[data] = await (
                await fetch(`/${data}.php`)
            )
                .json();
        },
    },
};
</script>
