<template>
    <button
        @click.prevent="handleReset()"
        v-text="buttonCopy"
    />
</template>

<script>
export default {
    name: 'ResetFilter',
    props: {
        buttonCopy: {
            type: String,
            default: '',
            requried: true,
        },
    },
    methods: {
        handleReset() {
            this.$root.breadTypes = [];
            this.$root.zipcode = undefined;
            this.$root.distance = this.$root.distances[0].distance;
        },
    },
};
</script>

