<template>
    <input
        v-model="$root.zipcode"
        type="text"
        class="input-secondary"
        required
    >
</template>

<script>
export default {
    name: 'StoreInput',
};
</script>
