<template>
    <div
        ref="storeLocator"
        :class="`store-results__active--${mapView ? 'list' : 'map'}`"
        class="store-results"
    >
        <slot name="heading"/>
        <div class="store-results__controls-container">
            <div class="store-results__tabs">
                <label
                    for="list"
                    class="store-results__tab store-results__tab--left"
                >
                    <input
                        id="list"
                        v-model="mapView"
                        :value="true"
                        type="radio"
                        name="map-toggle"
                        class="store-results__radio"
                    >
                    <span
                        class="store-results__tab-copy store-results__tab-copy--left"
                        v-text="'list'"
                    />
                </label>
                <label
                    for="map"
                    class="store-results__tab store-results__tab--right"
                >
                    <input
                        id="map"
                        v-model="mapView"
                        :value="false"
                        type="radio"
                        name="map-toggle"
                        class="store-results__radio"
                    >
                    <span
                        class="store-results__tab-copy store-results__tab-copy--right"
                        v-text="'map'"
                    />
                </label>
            </div>
        </div>
        <div class="store-results__link-container">
            <a
                class="store-results__link"
                @click="handleBackButton()"
            >
                <svg
                    class="store-results__arrow"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 507.128 321.729"
                >
                    <use xlink:href="/svgs/acute-arrow.svg#acute-arrow"/>
                </svg>
                <span
                    v-text="'Back'"
                />
            </a>
        </div>
        <div class="store-results__list-container">
            <span
                v-if="showError"
                class="heading_style-6 store-results__error-copy"
            >
                No stores in your area
            </span>
            <div class="store-results__list-overlay"/>
            <ul
                v-if="stores"
                class="store-results__list"
            >
                <li
                    v-for="(store, index) in stores"
                    :key="store.id"
                    :class="index === currentIndex ? 'item--active' : null"
                    class="store-results__list-item"
                    @click="handleWindow(index)"
                >
                    <div class="store-results__item-index">
                        <span
                            class="heading_style-6 store-results__item-index-copy"
                            v-text="index + 1"
                        />
                    </div>
                    <div class="store-results__box-wrapper">
                        <div class="info-box__address-container">
                            <h2
                                class="heading_style-5 info-box__heading"
                                v-text="store.name"
                            />
                            <div class="info-box__headings">
                                <span
                                    class="paragraph_style-3 info-box__copy"
                                    v-text="store.address.part_one"
                                />
                                <span
                                    class="paragraph_style-3 info-box__copy"
                                    v-text="store.address.part_two"
                                />
                                <a
                                    :href="'tel:' + store.phone_number.replace(/[-\s)()]/g, '')"
                                    class="paragraph_style-3 info-box__phone-copy"
                                    v-text="store.phone_number"
                                />
                            </div>
                        </div>
                        <div
                            v-if="!itemsSelected"
                            class="info-box__cta-container_static"
                        >
                            <span
                                class="heading_style-6"
                                v-text="'0 items selected'"
                            />
                        </div>
                        <button
                            v-if="itemsSelected"
                            class="info-box__cta-container"
                            @click.capture="preventScrolling"
                        >
                            <span
                                class="info-box__cta-heading heading_style-6"
                                v-text="handleProducts(index)"
                            />
                            <span
                                class="info-box__cta-button"
                            >
                                <svg
                                    class="info-box__button-symbol"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 119 119"
                                >
                                    <use xlink:href="/svgs/plus.svg#plus"/>
                                </svg>
                            </span>
                        </button>
                        <div class="info-box__link-container">
                            <span
                                class="paragraph_style-3 info-box__copy"
                                v-text="pluralizer(store.distance, 'mile')"
                            />
                            <a
                                :href="handleUrl(store)"
                                rel="noopener noreferrer"
                                class="button_main_gray info-box__link"
                                target="_blank"
                                v-text="'Directions'"
                            />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div
            ref="map"
            class="store-results__map"
        />
        <ProductModal
            v-if="showModal"
            @click.native="enableScrolling"
        >
            <div @click.stop="noop">
                <div class="store-modal__image-container">
                    <img
                        :alt="imageAlt"
                        :src="imageSrc"
                        class="store-modal__image"
                    >
                </div>
                <div class="store-modal__hero-outer">
                    <div class="store-modal__hero-inner">
                        <button
                            class="store-modal__button-container"
                            @click="enableScrolling()"
                        >
                            <span
                                class="access-hidden"
                                v-text="'Close'"
                            />
                            <svg
                                class="store-modal__button"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 119 119"
                            >
                                <use xlink:href="/svgs/plus.svg#plus"/>
                            </svg>
                        </button>
                        <div class="modal-hero__item-index">
                            <span
                                class="map-hero__item-index-copy"
                                v-text="currentIndex + 1"
                            />
                        </div>
                        <div class="store-modal__inner-wrapper">
                            <div class="info-box__address-container">
                                <h2
                                    class="heading_style-5 modal-hero__heading"
                                    v-text="activeStore.name"
                                />
                                <div class="info-box__headings">
                                    <span
                                        class="paragraph_style-3 info-box__copy"
                                        v-text="activeStore.address.part_one"
                                    />
                                    <span
                                        class="paragraph_style-3 info-box__copy"
                                        v-text="activeStore.address.part_two"
                                    />
                                    <a
                                        :href="handlePhone"
                                        class="paragraph_style-3 info-box__phone-copy"
                                        v-text="activeStore.phone_number"
                                    />
                                </div>
                            </div>
                            <div class="info-box__cta-container store-modal__cta">
                                <span
                                    class="heading_style-6 modal-hero__heading"
                                    v-text="handleProducts(currentIndex)"
                                />
                            </div>
                            <div class="info-box__link-container">
                                <span
                                    class="paragraph_style-3 info-box__copy"
                                    v-text="`${activeStore.distance} mile`"
                                />
                                <a
                                    :href="handleUrl(activeStore)"
                                    rel="noopener noreferrer"
                                    class="button_map_gray info-box__link"
                                    target="_blank"
                                    v-text="'Directions'"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    v-for="(group, index) in activeStore.groups"
                    v-if="group.products.filter(filterGroupProduct).length"
                    :key="group.category.name"
                    :class="`modal-content--${index === 0 ? 'first-product' : null}`"
                    class="modal-content"
                >
                    <div class="product-grid__header modal-content__category">
                        <h2
                            :style="{ 'border-color': group.category.color }"
                            class="heading_style-5 copy_black"
                        >
                            <span
                                :style="{ 'background-color': group.category.color }"
                                class="badge"
                            >
                                <span
                                    class="badge__copy"
                                    v-text="group.category.letter"
                                />
                            </span>
                            <span>{{ group.category.name }}</span>
                        </h2>
                    </div>
                    <ul class="modal-content__list">
                        <li
                            v-for="(product, index) in group.products"
                            v-if="filterProducts(product.sku)"
                            :key="`${product.sku}-${index}`"
                            class="modal-content__list-item"
                        >
                            <span class="category-product__heading heading_style-6 copy_black">
                                <!-- eslint-disable-next-line max-len -->
                                <div
                                    :style="{
                                        'background-color': filterProducts(product.sku)
                                            ? group.category.color
                                            : '#D4D4D4'
                                    }"
                                    class="badge category-product__badge"
                                >
                                    <span
                                        class="badge__copy"
                                        v-text="group.category.letter"
                                    />
                                </div>
                                <!-- eslint-disable-next-line max-len -->
                                <span
                                    :style="{
                                        'color': filterProducts(product.sku)
                                            ? null
                                            : '#D4D4D4'
                                    }"
                                >
                                    {{ product.name }}
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </ProductModal>
    </div>
</template>

<script>
import styles from '@/js/json/mapStyles.json';

import ProductModal from '@/components/ProductModal';

export default {
    name: 'StoreResults',
    components: {
        ProductModal,
    },
    props: {
        imageSrc: {
            type: String,
            required: true,
        },
        imageAlt: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            markers: [],
            mapView: true,
            showModal: false,
            showError: false,
            stores: undefined,
            markerActive: false,
            preventWindow: true,
            coordinate: undefined,
            currentIndex: undefined,
        };
    },
    computed: {
        handleSku() {
            return this.$root.filteredSkus;
        },
        activeStore() {
            return this.stores[this.currentIndex];
        },
        handlePhone() {
            return `tel:${this.activeStore.phone_number.replace(/[-\s)()]/g, '')}`;
        },
        itemsSelected() {
            return this.$root.breadTypes.length !== 0;
        },
    },
    watch: {
        /* eslint-disable */
        // linter does not like google variables
        stores(newStores, oldStores) {
            if (newStores !== oldStores) {

                // When we have store data match skus
                this.matchSkus(newStores);

                const map = new google.maps.Map(this.$refs.map, {
                    zoom: 13,
                    center: new google.maps.LatLng(
                        this.coordinate.lat(),
                        this.coordinate.lng(),
                    ),
                    styles,
                });

                const activeColor = '#393939';
                const inactiveColor = '#828282';

                const icon = {
                    path: google.maps.SymbolPath.CIRCLE,
                    fillOpacity: 1,
                    fillColor: inactiveColor,
                    strokeOpacity: 1,
                    strokeWeight: 1,
                    strokeColor: inactiveColor,
                    scale: 16,
                };

                const label = {
                    fontFamily: 'proxima-nova',
                    color: '#fff',
                    fontSize: '18px',
                    fontWeight: '800',
                    letterSpacing: 0,
                    zIndex: 5,
                };

                let prevWindow = false;

                function handleIcon(self) {
                    const vueSelf = self;

                    vueSelf.markers.forEach((prevMarker) => {
                        const prevIcon = prevMarker.getIcon();

                        prevIcon.fillColor = inactiveColor;
                        prevIcon.strokeColor = inactiveColor;

                        prevMarker.setIcon(prevIcon);
                    });
                }

                newStores.forEach((store, index) => {
                    const { lat, lng } = store;

                    const storeDistance = this.pluralizer(store.distance, 'mile');

                    const infoWindow = new google.maps.InfoWindow({
                      content: `<div class="info-box__outer-wrapper"><div class="info-box__address-container"><h2 class="heading_style-5 info-box__heading info-box__heading--margin">${store.name}</h2><div class="info-box__headings"><span class="paragraph_style-3 info-box__copy">${store.address.part_one}</span><span class="paragraph_style-3 info-box__copy">${store.address.part_two}</span><a id="phone" class="paragraph_style-3 info-box__copy">${store.phone_number}</a></div></div><button id="modal" class="info-box__cta-container ${this.itemsSelected ? 'pointer--events' : 'pointer--events--none'}"><span id="amount" class="${this.itemsSelected ? 'info-box__cta-heading' : 'heading--none'} heading_style-6"></span><span class="info-box__cta-button ${this.itemsSelected ? 'button--show' : 'button--hide'}"><svg class="info-box__button-symbol"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119 119"><use xlink:href="/svgs/plus.svg#plus"></use></svg></span></button><div class="keep-width"></div><div class="info-box__link-container info-box__link-container--margin"><span class="paragraph_style-3 info-box__copy">${storeDistance}</span><a href="https://maps.google.com/?saddr=my%20location&daddr=${lat},${lng}" class="button_main_gray info-box__link" target="_blank" rel="noopener noreferrer">Directions</a></div></div>`,
                    });

                    label.text = (index + 1).toString();

                    const marker = new google.maps.Marker({
                        map,
                        icon,
                        label,
                        position: {
                            lat,
                            lng,
                        },
                        optimized: false,
                        zIndex: 99999999,
                    });

                    infoWindow.addListener('closeclick',
                        () => {
                            handleIcon(this);

                            this.currentIndex = null;
                        },
                    );

                    const currentIcon = marker.getIcon();

                    marker.addListener('click',
                        () => {
                            this.currentIndex = index;

                            if (prevWindow) {
                                prevWindow.close();
                            }

                            handleIcon(this);

                            currentIcon.fillColor = activeColor;
                            currentIcon.strokeColor = activeColor;

                            marker.setIcon(currentIcon);

                            prevWindow = infoWindow;

                            if (this.preventWindow) {
                                infoWindow.open(map, marker);
                            }

                            this.preventWindow = true;

                            const inBounds = map.getBounds().contains(marker.getPosition());

                            if (!inBounds) {
                                map.panTo(marker.getPosition());
                            }
                         },
                    );

                    const id = id => document.getElementById(id);

                    infoWindow.addListener('domready',
                        () => {
                            const phone = id('phone');
                            const modal = id('modal');
                            const amount = id('amount');

                            phone.href = 'tel:' + store.phone_number.replace(/[-\s)()]/g, '');

                            if (!this.itemsSelected) {
                                amount.textContent = '0 items selected';
                            }

                            if (this.itemsSelected) {
                                amount.textContent = this.handleProducts(index);
                            }

                            modal.addEventListener('click',
                                () => {
                                    this.preventScrolling();
                                }
                            );
                        });

                    this.markers.push(marker);
                });
            }
        },
    },
    mounted() {
        this.$root.hideNav = true;

        window.scrollTo({ top: 0 });

        this.handleCentering(this.$root.zipcode);
    },
    methods: {
        filterGroupProduct({ sku }) {
            return this.filterProducts(sku);
        },
        noop() {
            //
        },
        pluralizer(storeDistance, label) {
            if (storeDistance === 1) {
                return `${storeDistance} ${label}`;
            }
            return `${storeDistance} ${label + 's'}`;
        },
        handleBackButton() {
            this.$root.showMap = false;
            this.$root.hideNav = false;
        },
        preventScrolling() {
            this.showModal = true;

            document.body.classList.toggle('body_video-active');
        },
        enableScrolling() {
            this.showModal = false;

            document.body.classList.toggle('body_video-active');
        },
        filterProducts(sku) {
            return this.$root.filteredSkus[this.currentIndex].includes(sku);
        },
        handleUrl(store) {
            const { lat, lng } = store;

            return `https://maps.google.com/?saddr=my%20location&daddr=${lat},${lng}`;
        },
        handleProducts(index) {
            const { $root } = this;

            return  `${$root.filteredSkus[index].length}` + ` of ${$root.breadTypes.length} products available here`;
        },
        matchSkus(stores) {
            stores.forEach((store, index) => {
                const { filteredSkus } = this.$root;
                filteredSkus[index] = [];
                store.groups.forEach((group) => {
                    group.products.filter((bread) => {
                        if (this.$root.breadTypes.includes(bread.sku)) {
                            filteredSkus[index].push(bread.sku);
                        }
                    });
                });
            });
        },
        handleWindow(index) {
            this.preventWindow = false;

            return google.maps.event.trigger(this.markers[index], 'click');
        },
        handleCentering(zipcode) {
            const geocoder = new google.maps.Geocoder();

            geocoder.geocode({ address: zipcode }, (results, status) => {
                if (status === google.maps.GeocoderStatus.OK) {
                    this.coordinate = results[0].geometry.location;

                    fetch(`stores.php?distance=${this.$root.distance}&longitude=${this.coordinate.lng()}&latitude=${this.coordinate.lat()}`)
                        .then(
                            response => response.json(),
                        ).then((data) => {
                            this.stores = data;
                            this.showError = this.stores.length === 0;
                        });
                }
            });
        },
    },
};
</script>
