<template>
    <form ref="form">
        <slot name="small-squiggle"/>
        <slot name="bread-icon"/>
        <div class="form-cta__field-container form-cta__field-container_input">
            <div class="form-cta__field-inner">
                <label
                    :for="handleLabel('input')"
                    class="access-hidden"
                    v-text="`Enter your ${handleLabel('input')} address`"
                />
                <input
                    v-model="email"
                    :id="handleLabel('input')"
                    :autocomplete="handleLabel('input')"
                    :name="handleLabel('input')"
                    type="text"
                    class="input-primary"
                    required
                    @input="$v.$touch()"
                >
                <span
                    class="input-label"
                    v-text="label.input"
                />
            </div>
        </div>
        <div class="form-cta__field-container form-cta__field-container_select">
            <div class="form-cta__field-inner">
                <label
                    :for="handleLabel('select')"
                    class="access-hidden"
                    v-text="`Select a ${handleLabel('select')}`"
                />
                <select
                    ref="select"
                    v-model="state"
                    :id="handleLabel('select')"
                    :name="handleLabel('select')"
                    class="select-primary"
                >
                    <option
                        :label="label.select"
                        disabled
                        selected
                        value=""
                        v-text="label.select"
                    />
                    <option
                        v-for="state in states"
                        :key="state.name"
                        :value="state.abbreviation"
                        :label="state.name"
                        v-text="state.name"
                    />
                </select>
                <svg
                    class="select-primary__arrow"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 11 23"
                >
                    <use xlink:href="/svgs/arrow.svg#arrow"/>
                </svg>
            </div>
        </div>
        <div class="form-cta__button-container">
            <input
                :aria-label="handleAria"
                :aria-pressed="!ariaPressed ? 'false' : ariaPressed"
                :class="'button_main_gray'.concat(`${fieldsValidated ? '' : '-secondary'}`)"
                :value="buttonCopy"
                type="submit"
                class="form-cta__button"
                @click.prevent="submit"
                v-text="buttonCopy"
            >
        </div>
        <div
            aria-hidden="true"
            class="form-cta__success-copy-container form-cta__success-copy-container_visable"
        >
            <p
                v-if="!$v.email.email && $v.email.required"
                class="paragraph_style-2 form-cta__success-copy"
                v-text="formError"
            />
        </div>
        <div
            :aria-hidden="!success ? true : 'false'"
            :class="
                `form-cta__success-copy-container_${success ? 'visible' : 'hidden'}`
            "
            class="form-cta__success-copy-container"
        >
            <p
                class="paragraph_style-2 form-cta__success-copy"
                v-text="formSuccess"
            />
        </div>
        <div class="cta-form__decoration-container-04">
            <svg
                class="cta-form__decoration"
                aria-hidden="true"
            >
                <use xlink:href="/svgs/medium-squiggle.svg#medium-squiggle"/>
            </svg>
        </div>
        <div class="cta-form__decoration-container-05">
            <svg
                class="cta-form__decoration"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 303 126"
            >
                <use xlink:href="/svgs/squiggle-arrow.svg#squiggle-arrow"/>
            </svg>
        </div>
    </form>
</template>

<script>
import axios from 'axios';
import { required, email } from 'vuelidate/lib/validators';

export default {
    name: 'TheForm',
    props: {
        states: {
            type: Array,
            required: true,
        },
        buttonCopy: {
            type: String,
            required: true,
        },
        label: {
            type: Object,
            required: true,
        },
        formSuccess: {
            type: String,
            required: true,
        },
        formError: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            state: '',
            success: false,
            email: undefined,
            ariaPressed: false,
        };
    },
    validations: {
        email: {
            required,
            email,
        },
    },
    computed: {
        handleAria() {
            return this.buttonCopy.replace(/\s+/g, '-').toLowerCase();
        },
        fieldsValidated() {
            return this.validateEmail && this.state !== '';
        },
        validateEmail() {
            // eslint-disable-next-line
            const pattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

            return pattern.test(String(this.email).toLowerCase());
        },
    },
    methods: {
        handleLabel(field) {
            return this.label[field].toLowerCase();
        },
        submit() {
            this.ariaPressed = !this.ariaPressed;

            if (!this.validateEmail) {
                return;
            }

            axios.post('/', new FormData(this.$refs.form)).then(
                () => {
                    this.success = true;

                    setTimeout(
                        () => {
                            this.success = false;
                            this.email = '';
                            this.state = '';
                        },
                        3000,
                    );
                },
                () => {
                    this.success = false;
                },
            );
        },
    },
};
</script>
