<template>
    <transition name="fade">
        <slot/>
    </transition>
</template>

<script>
export default {
    name: 'TransitionFade',
};
</script>

<style
    lanegh="scss"
>
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
</style>
