<template>
    <div class="video-modal">
        <ModalButton
            :controls="id"
            :class="buttonClass"
            @click.native="preventScrolling"
        >
            <slot/>
        </ModalButton>
        <ModalBackdrop
            :id="id"
            :transition-props="{ name: 'modal-fade' }"
            class="video-modal__backdrop"
        >
            <ModalBackdropDialog
                aria-label="video"
                class="video-modal__backdrop-dialog"
            >
                <div class="video-modal__close-container">
                    <ModalButton
                        :controls="id"
                        class="close-button__container video-modal__close"
                        @click.native="enableScrolling"
                    >
                        <svg
                            class="close-button"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 22 22"
                        >
                            <use xlink:href="/svgs/close-button.svg#close-button"/>
                        </svg>
                    </ModalButton>
                </div>
                <div ref="player">
                    <iframe
                        v-if="videoSource === 'youtube'"
                        :src="'https://www.youtube.com/embed/'+ videoId + '?modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1'"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"
                    />
                    <iframe
                        v-if="videoSource === 'vimeo'"
                        :src="'https://player.vimeo.com/video/' + videoId + '?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media'"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"
                    />
                </div>
            </ModalBackdropDialog>
        </ModalBackdrop>
    </div>
</template>

<script>
import uuid from 'uuid';
import Plyr from 'plyr';
import dynamicComponent from '@/js/mixins/dynamic-component';

import ModalButton from '@/components/modal/ModalButton';
import ModalBackdrop from '@/components/modal/ModalBackdrop';
import ModalBackdropDialog from '@/components/modal/ModalBackdropDialog';

export default {
    name: 'VideoModal',
    components: {
        ModalButton,
        ModalBackdrop,
        ModalBackdropDialog,
    },
    mixins: [dynamicComponent],
    defaultTag: 'button',
    props: {
        videoId: {
            type: String,
            required: true,
        },
        videoSource: {
            type: String,
            required: true,
        },
        buttonClass: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            id: uuid(),
            player: undefined,
        };
    },
    mounted() {
        this.player = new Plyr(this.$refs.player,
            {
                controls: [
                    'play-large',
                    'play',
                    'progress',
                    'current-time',
                    'mute',
                    'volume',
                    'captions',
                    'settings',
                    'pip',
                    'airplay',
                ],
            });
    },
    methods: {
        preventScrolling() {
            this.player.play();

            document.body.classList.toggle('body_video-active');
        },
        enableScrolling() {
            setTimeout(() => this.player.stop(), 1000);

            document.body.classList.toggle('body_video-active');
        },
    },
};
</script>
