<template>
    <div>
        <label
            v-for="(expanse, index) in $root.distances"
            :key="expanse.distance"
            :class="index === $root.distances.length - 1 ? 'last-item' : null"
            class="select-secondary__item"
        >
            <span class="select-secondary__item-checkbox-outer">
                <input
                    :class="expanse.distance === $root.distance ? 'active' : null"
                    type="radio"
                    class="access-hidden"
                    @click="$root.distance = expanse.distance"
                >
                <span class="select-secondary__item-checkbox-inner"/>
            </span>
            <span
                class="select-secondary__item-copy copy_black"
                v-text="expanse.label"
            />
        </label>
    </div>
</template>

<script>
export default {
    name: 'DisclosureItem',
};
</script>

