<section class="anchor-hero">
    <img
        class="anchor-hero__image"
        src="{{ image.src }}"
        alt="{{ image.alt }}"
    >
    <div class="anchor-hero__heading-container">
        <div
            is="global-intersect-wrap"
            class="heading_style-1 anchor-hero__heading"
        >
            <h1>{{ heading }}</h1>
        </div>
        <div class="anchor-hero__button-container">
            <span
                id="jump-link"
                class="access-hidden"
            >
                Scrolls you to the next section
            </span>
            <a
                is="base-jump-link"
                jump-to="{{ jump_link }}"
                :offset-amount="-100"
                aria-labelledby="jump-link"
                class="arrow-container__secondary"
            >
                <svg
                    class="arrow-bottom"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 11 23"
                >
                    <use xlink:href="/svgs/arrow.svg#arrow"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
