<section class="banner-hero">
    <div class="banner-hero__overlay">
        <img
            class="banner-hero__image"
            src="{{ image.src }}"
            alt="{{ image.alt }}"
        >
    </div>
    <div class="banner-hero__container">
        {% if badge.letter %}
            <div
                is="global-intersect-wrap"
                class="banner-hero__badge-container"
                style="background-color: {{ badge.color }};"
            >
                <span class="banner-hero__copy">
                    {{ badge.letter }}
                </span>
            </div>
        {% endif %}
        <div
            is="global-intersect-wrap"
            class="heading_style-2 banner-hero__heading"
        >
            <h1>{{ heading }}</h1>
        </div>
    </div>
</section>
