<section
    id="block-history"
    class="block-history"
>
    <div class="block-history__wrapper">
        <div class="block-history__copy-container">
            <span
                aria-hidden="true"
                class="block-history__star-container_primary"
            >
                <svg
                    class="star star__color-01"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 52 57"
                >
                    <use xlink:href="/svgs/star.svg#star"></use>
                </svg>
            </span>
            <span
                aria-hidden="true"
                class="block-history__star-container_tertiary"
            >
                <svg
                    class="star star__color-01"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 52 57"
                >
                    <use xlink:href="/svgs/star.svg#star"></use>
                </svg>
            </span>
            <h2
                is="global-intersect-wrap"
                class="heading_style-3 block-history__heading"
            >
                <span>{{ heading }}</span>
            </h2>
            <p
                is="global-intersect-wrap"
                class="paragraph_style-2 block-history__copy"
            >
                <span>{{ copy }}</span>
            </p>
        </div>
        <div class="block-history__image-container">
            <span
                aria-hidden="true"
                class="block-history__star-container_secondary"
            >
                <svg
                    class="star star__color-01"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 52 57"
                >
                    <use xlink:href="/svgs/star.svg#star"></use>
                </svg>
            </span>
            <span
                is="global-intersect-wrap"
            >
                <img
                    class="block-history__image"
                    src="{{ image.src }}"
                    alt="{{ iage.alt }}"
                >
            </span>
        </div>
    </div>
</section>
