{% import "macros/badge.twig" as badge %}
{% import "macros/new.twig" as new %}

<section class="block-carousel">
    <div class="block-carousel__outer">
        <img
            class="block-carousel__decoration-mobile"
            aria-hidden="true"
            src="/images/plain-toast-graphic-mobile.png"
            alt="null"
        >
        <img
            class="block-carousel__decoration-desktop"
            aria-hidden="true"
            src="/images/plain-toast-graphic.png"
            alt="null"
        >
        <div class="block-carousel__inner">
            <div class="block-carousel__heading-container">
                <h1 class="heading_style-3 block-carousel__heading">{{ heading }}</h1>
            </div>
            <ul
                is="carousel-container"
            >
                {% for product in products %}
                    <li
                        class="block-carousel__list-item"
                        is="carousel-item"
                    >
                        <div class="block-carousel__list-item-inner">
                            <a
                                class="product-grid__item block-carousel__grid-item"
                                style="border-color: {{ product.color }}"
                            >
                                {% if product.new %}
                                    {{ new.graphic(product.color) }}
                                {% endif %}
                                <div class="product-grid__item__content">
                                    <div class="product-grid__item__image">
                                        <img
                                            class="product-grid__item__img"
                                            src="{{ product.image.src }}"
                                            alt="{{ product.image.alt }}"
                                        >
                                    </div>
                                    <div class="product-grid__item__header heading_style-6 copy_black">
                                        {{ badge.type(product.color, product.letter) }}
                                        {{ product.name }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div
                is="global-intersect-wrap"
                class="button_main button_main_translucent block-carousel__link-container"
            >
                <a href="{{ button_href }}" class="block-carousel__link">{{ button_copy }}</a>
            </div>
        </div>
    </div>
</section>
