<section class="block-statement">
    <div class="block-statement__inner">
        <div class="block-statement__information-container">
            <div
                aria-hidden="true"
                class="block-statement__squiggles"
            >
                <div class="squiggle-container-mobile">
                    <svg
                        class="squiggle"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 14 115"
                    >
                        <use xlink:href="/svgs/squiggle-mobile.svg#squiggle-mobile"></use>
                    </svg>
                </div>
                <div class="squiggle-container-desktop">
                    <svg
                        class="squiggle"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 46 535"
                    >
                        <use xlink:href="/svgs/squiggle-desktop.svg#squiggle-desktop"></use>
                    </svg>
                </div>
            </div>
            <div class="block-statement__headings-container">
                <h2
                    is="global-intersect-wrap"
                    class="heading_style-3 block-statement__heading"
                >
                    <span>{{ heading }}</span>
                </h2>
                <p
                    is="global-intersect-wrap"
                    class="block-statement__copy"
                >
                    <span>{{ copy }}</span>
                </p>
            </div>
        </div>
        <div class="block-statement__image-container_desktop">
            <img
                class="block-statement__image"
                alt="{{ image.alt }}"
                src="{{ image.src }}"
            >
        </div>
    </div>
    <div class="block-statement__image-container_mobile">
        <img
            class="block-statement__image"
            alt="{{ image.alt }}"
            src="{{ image.src }}"
        >
    </div>
</section>
