<section
    is="global-filter"
    class="block-recipes"
>
    <h2 class="heading_style-3 block-recipes__heading">{{ heading }}</h2>
    <div class="block-recipes__primary-container">
        {# filter is a reserved word #}
        {% for sieve in filters %}
            <div class="select-secondary__container block-recipes__select-container">
                {% set id = sieve.label|lower|replace({' ': '-'}) ~ '-' ~ random() %}
                <label
                    for="{{ id }}"
                    class="access-hidden"
                >
                    Select {{ sieve.label|lower }}
                </label>
                <div
                    tabindex="0"
                    class="select-secondary__wrapper"
                >
                    <div class="select-secondary__inner">
                        <div
                            is="disclosure-button"
                            controls="{{ id }}"
                            expanded-class="select-secondary__expanded"
                            class="select-secondary"
                        >
                            <span class="select-secondary__heading">{{ sieve.label }}</span>
                            <span class="select-secondary__arrow-container-outer">
                                <span class="select-secondary__arrow-container-inner">
                                    <svg
                                        class="select-secondary__arrow"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 507.128 321.729"
                                    >
                                        <use xlink:href="/svgs/acute-arrow.svg#acute-arrow"></use>
                                    </svg>
                                </span>
                            </span>
                        </div>
                        <div
                            is="disclosure-container"
                            id="{{ id }}"
                        >
                            {% for option in sieve.options %}
                                <label
                                    class="select-secondary__item {{ loop.last ? 'last-item' :  null }}"
                                >
                                    <span class="select-secondary__item-checkbox-outer">
                                        <button
                                            is="global-filter-button"
                                            class="select-secondary__item-checkbox-inner"
                                            filter-category="{{ option }}"
                                            type="checkbox"
                                        ></button>
                                    </span>
                                    <span class="select-secondary__item-copy copy_black">{{ option }}</span>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="block-recipes__button-container">
            <div
                is="disclosure-container"
                id="filter-button"
                style="display: block;"
            >
                <button
                    is="global-filter-button"
                    aria-label="{{ button_copy }}"
                    filter-category="All"
                    type="reset"
                    class="paragraph_style-1 block-recipes__button"
                >
                    {{ button_copy }}
                </button>
            </div>
        </div>
    </div>
    <div class="block-recipes__secondary-container">
        <ul
            is="global-filter-items-wrap"
            class="block-recipes__list"
        >
            {% for recipe in recipes %}
                <li
                    is="global-filter-item"
                    class="block-recipes__item"
                    :filter-category="{{ recipe.categories|json_encode() }}"
                >
                    <a
                        class="block-recipes__item-link"
                        href="{{ recipe.link }}"
                    >
                        <span
                            aria-hidden="true"
                            class="block-recipes__image-overlay"
                        ></span>
                        <span class="block-recipes__item-image-container">
                            <img
                                class="block-recipes__item-image"
                                src="{{ recipe.image.src }}"
                                alt="{{ recipe.image.alt }}"
                            >
                        </span>
                        <p class="paragraph_style-2 block-recipes__item-copy">
                            {{ recipe.title }}
                        </p>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="block-recipes__pagination">
            {% for page in 1..3 %}
                <span
                    for="{{ page }}"
                    class="access-hidden"
                >
                    Click page {{ page }} to retrieve more results
                </span>
                <button
                    id="{{ page }}"
                    class="block-recipes__pagintion-item"
                >
                    <span class="block-recipes__pagintion-copy">{{ page }}</span>
                </button>
            {% endfor %}
        </div>
        {% set arrows = [
            { 'name': 'left' },
            { 'name': 'right' }
        ] %}
        <div class="block-recipes__arrows">
            {% for arrow in arrows %}
                <button
                    type="button"
                    class="arrow-container__tertiary"
                >
                    <span class="access-hidden">{{ arrow.name }}</span>
                    <svg
                        class="arrow-{{ arrow.name }}__tertiary"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 507.128 321.729"
                    >
                        <use xlink:href="/svgs/acute-arrow.svg#acute-arrow"></use>
                    </svg>
                </button>
            {% endfor %}
        </div>
    </div>
</section>
