{% import "macros/badge.twig" as badge %}
{% import "macros/new.twig" as new %}

<section class="block-favorites">
    <h2
        id="{{ heading }}"
        class="heading_style-3 block-favorites__heading"
    >
        {{ heading }}
    </h1>
    <ul
        class="block-favorites__list"
    >
        {% for product in products %}
            <li class="block-favorites__list-item">
                <div is="product-grid-item" class="block-favorites__list-item-inner">
                    <a
                        class="product-grid__item"
                        style="border-color: {{ product.color }}"
                    >
                        {% if product.new %}
                            {{ new.graphic(product.color) }}
                        {% endif %}
                        <div class="product-grid__item__content">
                            <div class="product-grid__item__image">
                                <img
                                    class="product-grid__item__img"
                                    src="{{ product.image.src }}"
                                    alt="{{ product.image.alt }}"
                                >
                            </div>
                            <div class="product-grid__item__header heading_style-6 copy_black">
                                {{ badge.type(product.color, product.letter) }}
                                {{ product.name }}
                            </div>
                        </div>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
