<section class="block-ingredients">
    <div class="block-ingredients__inner">
        <div class="block-ingredients__container block-ingredients__container_primary">
            <h2 class="heading_style-3 copy_black block-ingredients__heading">{{ heading_primary }}</h2>
            <span
                id="ingredients"
                class="access-hidden"
            >
                {{ heading_primary }}
            </span>
            <ul
                class="block-ingredients__primary-list"
                aria-labelledby="ingredients"
            >
                {% for ingredient in ingredients %}
                    <li class="primary-list__item">
                        <p
                            is="global-intersect-wrap"
                            class="paragraph_style-2 copy_black primary-list__item-copy"
                        >
                            <span>{{ ingredient }}</span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="block-ingredients__container block-ingredients__container_secondary">
            <h2 class="heading_style-3 block-directions__heading">{{ heading_secondary }}</h2>
            <span
                id="directions"
                class="access-hidden"
            >
                {{ heading_secondary }}
            </span>
            <ul
                class="block-ingredients__secondary-list"
                aria-labelledby="directions"
            >
                {% for step in directions %}
                    <li class="secondary-list__item">
                        <div
                            is="global-intersect-wrap"
                            class="item__copy-container"
                        >
                            <span class="paragraph_style-2 item-index__copy">
                                {{ loop.index }}&#46;
                            </span>
                        </div>
                        <p
                            is="global-intersect-wrap"
                            class="paragraph_style-2 secondary-list__item-copy"
                        >
                            <span>{{ step }}</span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
