<section class="category-index_row">
    <h3 class="category-index__header heading_style-3 copy_blue">{{ title }}</h3>
    <div class="category-index_row__inner">
        {% for item in category_items %}
            <div is="product-grid-item" class="category-index_row__item">
                {% include "components/product-grid-item.twig" with item %}
            </div>
        {% endfor %}
    </div>
    {% if button %}
        <a
            is="global-intersect-wrap"
            class="category-index_row__button button_main button_main_gray"
            href="{{ button.url }}">
                <span>{{ button.name }}</span>
            </a>
    {% endif %}
</section>
