<section class="category-index" aria-label="Category Index">
    <h2 class="category-index__header heading_style-3 copy_black">{{ title }}</h2>
    <div class="category-index__inner">
        {% for item in category_items %}
            <div is="product-grid-item" class="category-index__item">
                {% include "components/product-grid-item.twig" with item %}
            </div>
        {% endfor %}
        <div class="category-index__item category-index__item_see-more">
            <a class="product-grid__item">
                <div class="product-grid__item__content">
                    <div class="product-grid__item__header heading_style-6 copy_black">
                        See All<br>Products
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
