<div is="coupon">
    <div slot-scope="coupon" class="coupon__inner">
        <div :class="{ 'coupon__content_active': coupon.active }" class="coupon__content">
            <svg class="coupon__paragraph-star coupon__star" viewBox="0 0 13.8 15">
                <path d="M13.6,7.3c-0.1-0.2-0.5-0.5-1.1-0.6c-0.9-0.1-1.8-0.2-2.7-0.3L9.2,6.4l0.1-0.2C10,4.8,10.7,3.4,11.4,2c0.2-0.4,0.3-0.9,0.2-1.3c-0.1-0.3-0.3-0.5-0.5-0.6c-0.7-0.3-1.4,0-1.8,0.8L8.6,2.2C8.2,3.1,7.8,4,7.3,4.9C7.3,5.1,7.2,5.2,7.1,5.4L6.8,4.6C6.5,4.2,6.3,3.8,6.1,3.3C6,3.1,5.6,2.5,5,2.5c-0.6,0-1,0.5-1.2,0.9L3.5,3.6l0.2,0.3c0.5,0.8,0.9,1.5,1.2,2.3C4.4,6.1,3.9,6,3.4,6L3,6c-0.5,0-1-0.1-1.5,0C0.9,6,0.4,6.3,0.2,6.7C0,7.1-0.1,7.6,0.1,8l0.2,0.4l0.4-0.2c0.8-0.3,1.6-0.2,2.6,0c0.7,0.1,1.4,0.2,2.1,0.3c0.1,0,0.2,0,0.3,0C5.4,9.3,5,10,4.6,10.8c-0.5,0.9-1,1.9-1.5,2.9l-0.2,0.5l0.5,0.1c0,0,0.1,0,0.1,0.1c0.2,0.1,0.5,0.2,0.8,0.1c0.5-0.2,0.8-0.5,1-0.8c0.3-0.5,0.6-1,0.9-1.4L6.5,12c0.2-0.3,0.4-0.6,0.6-1l1,3.5L8.3,15l0.5-0.1c0.2,0,0.4-0.1,0.6-0.3c0.6-0.6,0.8-1.3,0.7-2c-0.1-0.5-0.3-1-0.4-1.4c-0.3-0.8-0.5-1.5-0.8-2.3L8.7,8.7c0.2,0,0.5,0.1,0.7,0.1l0.3,0c0.8,0.1,1.7,0.2,2.5,0.3c0.3,0,1,0.1,1.3-0.7C13.9,8,13.8,7.6,13.6,7.3z"/>
            </svg>
            <p class="coupon__paragraph paragraph_style-3 copy_black">{{ copy }} <a class="coupon__link copy_blue" href="{{ link }}">Get Coupon Now</a></p>
            <button
                @click="coupon.toggleActive()"
                :class="{ 'coupon__button_active': coupon.active }"
                class="coupon__button"
            >
                <span class="access-hidden">Coupon Toggle</span>
                <svg class="coupon__star coupon__button__svg" viewBox="0 0 13.8 15">
                    <path d="M13.6,7.3c-0.1-0.2-0.5-0.5-1.1-0.6c-0.9-0.1-1.8-0.2-2.7-0.3L9.2,6.4l0.1-0.2C10,4.8,10.7,3.4,11.4,2c0.2-0.4,0.3-0.9,0.2-1.3c-0.1-0.3-0.3-0.5-0.5-0.6c-0.7-0.3-1.4,0-1.8,0.8L8.6,2.2C8.2,3.1,7.8,4,7.3,4.9C7.3,5.1,7.2,5.2,7.1,5.4L6.8,4.6C6.5,4.2,6.3,3.8,6.1,3.3C6,3.1,5.6,2.5,5,2.5c-0.6,0-1,0.5-1.2,0.9L3.5,3.6l0.2,0.3c0.5,0.8,0.9,1.5,1.2,2.3C4.4,6.1,3.9,6,3.4,6L3,6c-0.5,0-1-0.1-1.5,0C0.9,6,0.4,6.3,0.2,6.7C0,7.1-0.1,7.6,0.1,8l0.2,0.4l0.4-0.2c0.8-0.3,1.6-0.2,2.6,0c0.7,0.1,1.4,0.2,2.1,0.3c0.1,0,0.2,0,0.3,0C5.4,9.3,5,10,4.6,10.8c-0.5,0.9-1,1.9-1.5,2.9l-0.2,0.5l0.5,0.1c0,0,0.1,0,0.1,0.1c0.2,0.1,0.5,0.2,0.8,0.1c0.5-0.2,0.8-0.5,1-0.8c0.3-0.5,0.6-1,0.9-1.4L6.5,12c0.2-0.3,0.4-0.6,0.6-1l1,3.5L8.3,15l0.5-0.1c0.2,0,0.4-0.1,0.6-0.3c0.6-0.6,0.8-1.3,0.7-2c-0.1-0.5-0.3-1-0.4-1.4c-0.3-0.8-0.5-1.5-0.8-2.3L8.7,8.7c0.2,0,0.5,0.1,0.7,0.1l0.3,0c0.8,0.1,1.7,0.2,2.5,0.3c0.3,0,1,0.1,1.3-0.7C13.9,8,13.8,7.6,13.6,7.3z"/>
                </svg>
                <svg class="coupon__button__x coupon__button__svg" viewBox="0 0 13.9 13.9">
                    <line class="st0" x1="2.8" y1="2.1" x2="11.8" y2="11.1"/>
                    <line class="st0" x1="2.1" y1="11.8" x2="11.5" y2="2.4"/>
                </svg>
            </button>
        </div>
        <div :class="{ 'coupon__overlay_active': coupon.active }" class="coupon__overlay"></div>
    </div>
</div>
