<section class="cta-cards">
    <ul class="cta-cards__list">
        {% for card in cards %}
            <li class="cta-cards__list-item">
                <div class="list-item__media-container">
                    {% if card.image %}
                        <img
                            class="list-item__media"
                            src="{{ card.image.src }}"
                            alt="{{ card.image.alt }}"
                        >
                    {% else %}
                        <img
                            class="list-item__media"
                            src="{{ card.video_poster.src }}"
                            alt="{{ card.image.alt }}"
                        >
                        <div
                            is="video-modal"
                            class="list-item__media"
                            video-source="{{ card.video.src }}"
                            video-id="{{ card.video.id }}"
                            button-class="play-button__container"
                        >
                            <span class="access-hidden">Play Video</span>
                            <svg
                                class="play-button"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 23 24"
                            >
                                <use xlink:href="/svgs/play-button.svg#play-button"></use>
                            </svg>
                        </div>
                    {% endif %}
                </div>
                <div class="list-item__description-container">
                    <h2 class="heading_style-5 list-item__heading">{{ card.heading }}</h2>
                    <p class="paragraph_style-2 list-item__copy">
                        {% set maxNumber = 155 %}
                        {{ card.copy|length >= maxNumber
                            ? card.copy|slice(0, maxNumber) ~ '...'
                            : card.copy
                        }}
                    </p>
                    <a
                        is="global-intersect-wrap"
                        class="button_main button_main_gray list-item__button"
                        href="{{ card.button_href }}"
                    >
                        <span>{{ card.button_copy }}</span>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
