<section class="cta-products">
    <div class="cta-products__wrapper">
        <div class="cta-products__container cta-products__container_primary">
            <h2 class="heading_style-2 cta-products__heading">{{ heading }}</h2>
            <a
                is="global-intersect-wrap"
                href="{{ button_href }}"
                class="button_main button_main_translucent cta-products__link"
            >
                <span>{{ button_copy }}</span>
            </a>
        </div>
        <div class="cta-products__container cta-products__container_secondary">
            <img
                class="cta-products__image"
                alt="{{ image.alt }}"
                src="{{ image.src }}"
            >
        </div>
    </div>
    <div
        aria-hidden="true"
        class="cta-products__squiggle-container"
    >
        <img
            class="cta-products__squiggle cta-products__squiggle-mobile"
            src="/images/cta-squiggle-small.png"
        >
        <img
            class="cta-products__squiggle cta-products__squiggle-desktop"
            src="/images/cta-squiggle-large.png"
        >
    </div>
</section>
