<section class="form-cta">
    <div class="form-cta__subheading-container">
        <h4 class="heading_style-6 form-cta__subheading-mobile">{{ subheading_mobile }}</h4>
        <h3 class="heading_style-5 form-cta__subheading-desktop">{{ subheading_desktop }}</h3>
    </div>
    <div class="form-cta__heading-container">
        <div class="cta-form__decoration-container-03">
            <svg
                class="cta-form__decoration"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 63 60"
            >
                <use xlink:href="/svgs/selection-graphic.svg#selection-graphic"></use>
            </svg>
        </div>
        <h2 class="heading_style-3 form-cta__heading">{{ heading }}</h2>
    </div>
    {% set decoration_data = [
        {
            'view_box': '0 0 147 72',
            'name': 'small-squiggle'
        },
        {
            'view_box': '0 0 131 96',
            'name': 'bread-icon'
        }
    ] %}
    <div
        class="form-cta__primary-container"
        is="the-form"
        :states="{{ states|json_encode }}"
        button-copy="{{ button_copy }}"
        form-success="{{ form_success }}"
        form-error="{{ form_error }}"
        :label="{
            input: {{ input_label|json_encode }},
            select: {{ select_label|json_encode }}
        }"
    >
        {% for decoration in decoration_data %}
            <div
                slot="{{ decoration.name }}"
                class="cta-form__decoration-container-0{{loop.index}}"
            >
                <svg
                    class="cta-form__decoration"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="{{ decoration.view_box }}"
                >
                    <use xlink:href="/svgs/{{ decoration.name }}.svg#{{ decoration.name }}"></use>
                </svg>
            </div>
        {% endfor %}
    </div>
</section>
