<div class="full-width-blocks">
    {% for item in blocks %}
        <div class="full-width-blocks__block {% if item.type == 'image' %}full-width-blocks__block_image{% endif %}" style="background-color: {{ item.background }};">
            {% if item.type == 'content' %}
            <div class="full-width-blocks__block__content">
                {% if item.subhead %}
                    <div class="heading_style-5 copy_black">{{ item.subhead }}</div>
                {% endif %}
                {% if item.heading %}
                    <h2 class="heading_style-3 copy_black">{{ item.heading }}</h2>
                {% endif %}
                {% if item.description %}
                    <p class="paragraph_style-3 copy_black">{{ item.description }}</p>
                {% endif %}
                {% if item.button %}
                    <a is="global-intersect-wrap" class="button_main button_main_translucent" href="{{ item.button.url }}"><span>{{ item.button.name }}</span></a>
                {% endif %}
            </div>
            {% endif %}
            {% if item.type == 'image' %}
                <span class="full-width-blocks__img-wrap" is="global-intersect-wrap">
                    <img class="full-width-blocks__img" src="{{ item.image.src }}" alt="{{ item.image.alt }}">
                </span>
            {% endif %}
        </div>
    {% endfor %}
</div>
