<section class="hero-cta">
    <div class="hero-cta__inner">
        <span
            aria-hidden="true"
            is="global-intersect-wrap"
            class="hero-cta__toast-container hero-cta__toast-container-primary"
        >
            <svg
                class="toast hero-cta__toast"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 179 191"
            >
                <use xlink:href="/svgs/toast-pointed.svg#toast-pointed"></use>
            </svg>
        </span>
        <div class="hero-cta__primary-container">
            <h1 class="heading_style-1 hero-cta__heading">{{ heading }}</h1>
            <p class="paragraph_style-1 hero-cta__copy">{{ copy }}</p>
                {% if link.copy %}
                    <a
                        class="hero-cta__link button_main_blue"
                        href="{{ link.href }}"
                    >
                        {{ link.copy }}
                    </a>
                {% else %}
                    <div
                        is="video-modal"
                        video-source="{{ video.src }}"
                        video-id="{{ video.id }}"
                        button-class="hero-cta__link button_main_blue"
                    >
                        {{ video.button_copy }}
                    </div>
                {% endif %}
        </div>
        <div class="hero-cta__secondary-container">
            <img
                class="hero-cta__image"
                src="{{ image.src }}"
                alt="{{ image.alt }}"
            >
        </div>
        <span
            aria-hidden="true"
            is="global-intersect-wrap"
            class="hero-cta__toast-container hero-cta__toast-container-secondary"
        >
            <svg
                class="toast hero-cta__toast"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 172 190"
            >
                <use xlink:href="/svgs/toast-rounded.svg#toast-rounded"></use>
            </svg>
        </span>
    </div>
</section>
