<div class="home-hero">
    <div class="home-hero__inner">
        <div class="home-hero__main">
            <div class="home-hero__content">
                <h1 class="heading_style-1 copy_white">{{ title }}</h1>
                <p class="home-hero__p paragraph_style-2 copy_white">
                    {{ description }}
                </p>
                <div
                    is="video-modal"
                    video-source="{{ video.src }}"
                    video-id="{{ video.id }}"
                    button-class="home-hero__button button_main_translucent"
                >
                    {{ video.button_copy}}
                </div>
            </div>
        </div>
        <div class="home-hero__image-wrap">
            <img
                class="home-hero__img"
                src="{{ image.src }}"
                alt="{{ image.alt  }}"
            >
        </div>
    </div>
</div>
