<section class="image-block">
    <div class="image-block__wrapper">
        <div
            is="global-intersect-wrap"
            class="image-block__primary-container"
        >
            <img
                class="image-block__primary-image"
                src="{{ image_primary.src }}"
                alt="{{ image_primary.alt }}"
            >
        </div>
        <div class="image-block__secondary-container">
            <img
                class="image-block__secondary-image image-block__secondary-image_mobile"
                src="{{ image_secondary.mobile.src }}"
                alt="{{ image_secondary.mobile.alt }}"
            >
            <span
                is="global-intersect-wrap"
                class="image-block__secondary-image-inner"
            >
                <img
                    class="image-block__secondary-image image-block__secondary-image_desktop"
                    src="{{ image_secondary.desktop.src }}"
                    alt="{{ image_secondary.desktop.alt }}"
                >
            </span>
        </div>
    </div>
</section>
