<section
    class=" intro-block {{
        dark
            ? 'intro-block__dark'
            : 'intro-block__light'
    }}"
>
    <div class="intro-block__decoration-container">
        <img
            class="intro-block__decoration_mobile"
            src="/images/multiple-lines-background-{{ dark ? 'one' : 'two' }}.png"
            aria-hidden="true"
            alt="null"
        >
        <img
            class="intro-block__decoration_desktop"
            src="/images/multiple-lines-{{ dark ? 'one' : 'two' }}.png"
            aria-hidden="true"
            alt="null"
        >
    </div>
    <div class="intro-block__wrapper">
        <div class="intro-block__image-outer">
            <div class="intro-block__image-inner">
                <img
                    class="intro-block__image"
                    src="{{ image.src }}"
                    alt="{{ image.alt }}"
                >
            </div>
        </div>
        <div class="intro-block__copy-outer">
            <div class="intro-block__copy-inner">
                <img
                    class="intro-block__brushstroke"
                    src="/images/small-brushstroke.png"
                    aria-hidden="true"
                    alt="null"
                >
                <p
                    is="global-intersect-wrap"
                    class="paragraph_style-1 intro-block__copy"
                >
                    <span>{{ copy }}</span>
                </p>
            </div>
        </div>
    </div>
</section>
