<section class="product-recipe">
    <div class="product-recipe__decoration-container">
        <img
            class="product-recipe__decoration_desktop"
            src="/images/multiple-lines-two.png"
            aria-hidden="true"
            alt="null"
        >
    </div>
    <div class="product-recipe__inner">
        <div class="product-recipe__content">
            <div class="product-recipe__content__inner">
                <div class="heading_style-5 copy_red">{{ subhead }}</div>
                <h2 class="heading_style-2 copy_blue">{{ header }}</h2>
                <p class="paragraph_style-3">{{ description }}</p>
                {% if buttons %}
                    <ul class="product-recipe__buttons-wrap">
                        {% for button in buttons %}
                            <li class="product-recipe__buttons-wrap__item">
                                <a
                                    is="global-intersect-wrap"
                                    class="product-recipe__button button_main button_main_gray"
                                    href="{{ button.url }}"
                                >
                                    <span>{{ button.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="product-recipe__image">
            <img class="product-recipe__img" src="{{ image.src }}" alt="{{ image.alt }}" />
        </div>
    </div>
</section>
