{% import "macros/badge.twig" as badge %}

<intersection
    root-margin="40px 0px 0px 0px"
    @leave="index.toggleSection('{{ category.name }}', 'top', $event)"
>
    <div></div>
</intersection>
<div id="{{ category.name|replace({' ': '-'}) }}" class="product-grid">
    {% if category.name %}
        <div class="product-grid__header">
            <h2 class="heading_style-5 copy_black" style="border-color: {{ category.color }}">
                {{ badge.type(category.color, category.letter) }}
                {{ category.name }}
            </h2>
        </div>
    {% endif %}
    <div class="product-grid__items product-grid__inner">
        {% for item in products %}
            {% set item = item|merge({ 'category': category }) %}
            <div is="product-grid-item" class="product-grid__item-wrap">
                {% include "components/product-grid-item.twig" with item %}
            </div>
        {% endfor %}
    </div>
</div>
<intersection
    root-margin="0px 0px -180px 0px"
    @leave="index.toggleSection('{{ category.name }}', 'bottom', $event)"
>
    <div></div>
</intersection>
