{% import "macros/new.twig" as new %}
{% import "macros/badge.twig" as badge %}

<section class="product-cta">
    <div class="product-cta__heading-container">
        <h2 class="heading_style-3 product-cta__heading">{{ heading }}</h2>
        <span
            aria-hidden="true"
            class="curved-arrow__container product-cta__arrow-container"
        >
            <svg
                class="curved-arrow-long"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 117 207"
            >
                <use xlink:href="/svgs/curved-arrow-long.svg#curved-arrow-long"></use>
            </svg>
        </span>
    </div>
    <div class="product-cta__container product-cta__container_primary">
        <div class="product-cta__container-inner">
            <a
                class="product-grid__item"
                style="border-color: {{ category.color }}"
            >
                {% if category.new %}
                    {{ new.graphic(category.color) }}
                {% endif %}
                <div class="product-grid__item__content">
                    <div class="product-grid__item__image">
                        <img
                            class="product-grid__item__img"
                            src="{{ category.image.src }}"
                            alt="{{ category.image.alt }}"
                        >
                    </div>
                    <div class="product-grid__item__header heading_style-6 copy_black">
                        {{ badge.type(category.color, category.letter) }}
                        {{ category.name }}
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="product-cta__container product-cta__container_secondary">
        <ul class="product-cta__list">
            {% for link in links %}
                <li class="product-cta__list-item">
                    <div
                        is="global-intersect-wrap"
                        class="button_main button_main_gray item__link"
                    >
                        <a href="{{ link.href }}">{{ link.copy }}</a>
                    </div>
                </li>
            {% endfor %}
                <li class="product-cta__list-item">
                    <div
                        is="channel-sight"
                        v-bind="{{ category|json_encode }}"
                    ></div>
                </li>
                <li class="product-cta__list-item">
                    <div
                        is="global-intersect-wrap"
                        class="button_smart-label button_main button_main_gray"
                    >
                        <a href="/" class="button_smart-label__inner">
                            <svg class="button_smart-label__svg" viewBox="0 0 740.6 157.2">
                                <path d="M151.6,102c-2.1,0.2-4.2,0.4-6.2,0.5c-4,0.2-8,0.3-11.9,0.5c-3.8,0.2-7.5,0.7-11.1,1.9c-2.2,0.7-4.3,1.9-6.2,3.1
                                    c-6.9,4.4-11.8,10.5-14.6,18.1c-1,2.7-1.5,5.5-1.7,8.3c-0.1,2.1-0.1,4.3-0.2,6.4c-0.1,4.7-0.4,9.4-1,14c-0.1,0.7-0.2,1.4-0.3,2.2
                                    c-0.3,0-0.6,0-0.8,0c-19.2,0-38.4,0-57.6-0.1c-4.2,0-8.3-0.4-12.5-1C14.7,154.2,6,144.7,2.7,135.3c-0.9-2.6-1.4-5.3-1.8-8
                                    c-0.7-4.6-0.8-9.2-0.8-13.8c0-9.2,0-18.4,0-27.6c0-14.3,0-28.6,0-42.8c0-3.9,0.1-7.9,0.5-11.8c0.4-4.1,1.1-8.2,2.7-12
                                    c3.5-8.2,9.3-14.1,17.6-17.6c1.8-0.7,3.6-1.1,5.5-1.4C27.2,0.1,28.2,0,29.1,0c30.6,0,61.2,0,91.7,0c2.6,0,5.1,0.4,7.7,1
                                    c2.9,0.8,5.6,2.2,8,3.9c7,4.9,11.5,11.5,13.4,19.8c0.8,3.3,1.3,6.7,1.4,10.1c0.2,4.6,0.3,9.2,0.3,13.8c0,17.5,0,34.9,0,52.4
                                    C151.6,101.3,151.6,101.6,151.6,102z M75.8,21.7c-7.2,0-14.4,0-21.7,0c-6.7,0-13.5,0-20.2,0c-1.6,0-3.1,0.2-4.5,0.8
                                    c-4.5,2-7,6.7-6.1,11.6c0.8,4.4,4.3,7.8,8.7,8.4c0.9,0.1,1.9,0,2.8,0c27.7,0,55.5,0,83.2,0c0.5,0,1.1,0,1.6-0.1
                                    c5-0.8,8.7-5.1,8.8-10.2c0.1-5.9-4.5-10.6-10.4-10.6C103.9,21.7,89.8,21.7,75.8,21.7z M50.8,114.6c-0.1,13.6,11,24.8,24.7,24.8
                                    c13.7,0,24.7-11,24.7-24.7c0-13.7-11-24.8-24.7-24.8C61.5,89.9,50.8,101.3,50.8,114.6z M76.7,77.8c9.6,0,19.1,0,28.7,0
                                    c0.8,0,1.6-0.1,2.4-0.2c5.1-0.8,9.1-5.3,8.8-10.8c-0.3-5.6-4.7-9.6-10.3-10c-19.5,0-39,0-58.4,0c-0.7,0-1.5,0-2.2,0.2
                                    c-4.2,0.9-7.1,3.4-8.2,7.6c-1.1,4.1,0.1,7.7,3.3,10.6c2,1.8,4.4,2.6,7.1,2.6C57.4,77.8,67.1,77.8,76.7,77.8z"/>
                                <path d="M151.6,105.7c-0.2,0.4-0.3,0.7-0.4,1c-3.6,7.8-8.2,14.9-13.7,21.5c-8.1,9.7-17.5,17.9-28.1,24.8c-2,1.3-4.1,2.5-6.1,3.7
                                    c-0.3,0.2-0.5,0.3-0.9,0.5c0-0.4,0-0.7,0.1-1c0.3-3.2,0.6-6.5,0.8-9.7c0.2-2.7,0.1-5.4,0.2-8.1c0.1-2.8,0.2-5.6,0.9-8.3
                                    c0.7-3.3,2.2-6.3,4-9.1c3.7-5.7,8.7-9.9,14.9-12.5c1.8-0.8,3.8-1.2,5.8-1.4c2.6-0.3,5.2-0.5,7.8-0.6c4.1-0.2,8.3-0.4,12.4-0.6
                                    C149.9,105.9,150.7,105.8,151.6,105.7z"/>
                                <path d="M289.2,109.9c-2.3,0-4.6,0-6.9,0c0-0.4,0-0.8,0-1.2c0-12.3,0-24.6,0-36.8c0-6.7-3.6-12.2-9.6-14.6
                                    c-6.5-2.6-15.1-1.3-19.6,5.4c-1.9,2.8-2.7,5.9-2.7,9.3c0,12.2,0,24.4,0,36.7c0,0.4,0,0.8,0,1.2c-0.2,0.1-0.4,0.1-0.6,0.1
                                    c-1.9,0-3.8,0-5.8,0c-0.5,0-0.8-0.2-0.7-0.7c0-0.1,0-0.2,0-0.4c0-12.3,0-24.7,0-37c0-5,1.3-9.7,4.3-13.8c3.7-5.1,8.7-8,14.9-8.8
                                    c6.4-0.9,12.4,0.4,17.6,4.3c2.2,1.6,3.9,3.7,5.4,6c0.2-0.2,0.3-0.4,0.5-0.6c4.1-6,9.8-9.3,17.1-9.9c6.1-0.5,11.6,0.9,16.4,4.8
                                    c5.6,4.5,8.2,10.5,8.2,17.5c0.1,12.6,0,25.1,0,37.7c0,0.6-0.1,0.9-0.9,0.9c-2,0-3.9,0-6.1,0c0-0.5,0-0.9,0-1.2
                                    c0-12.3,0-24.6,0-36.8c0-5.4-2.1-10-6.7-13.1c-6.2-4.3-17.1-3.8-22.4,3.9c-1.9,2.8-2.8,6-2.8,9.4c0,12.2,0,24.4,0,36.7
                                    C289.2,109,289.2,109.4,289.2,109.9z"/>
                                <path d="M577.5,25.6c0,11.5,0,22.8,0,34.2c0.1,0,0.1,0.1,0.2,0.1c0.2-0.2,0.4-0.5,0.6-0.7c4.7-5.7,10.7-9.2,18.1-10
                                    c8-0.9,15.1,1.3,21.3,6.5c15.6,13.1,14.5,37.9-2.2,49.6c-11.7,8.2-28,6-37.4-5c-5.1-5.9-7.6-12.8-7.6-20.6c0-17.6,0-35.2,0-52.7
                                    c0-1.3,0-1.3,1.3-1.3c1.6,0,3.1,0,4.7,0C576.8,25.6,577.1,25.6,577.5,25.6z M621.9,80.3c-0.2-7.1-2.3-12.6-6.5-17.2
                                    c-7.3-8.2-19.8-9.4-28.5-2.7c-11.3,8.7-12.6,25.7-2.8,36.1c6.4,6.7,16.5,8.7,24.7,4.6C617.7,96.6,621.6,89.1,621.9,80.3z"/>
                                <path d="M696.9,86.6c-0.1,0.6-0.2,1-0.3,1.4c-2.7,9.5-8.6,16.2-17.8,19.7c-7.8,3-15.7,3-23.5-0.1c-4.4-1.7-7.9-4.8-11-8.3
                                    c-12.3-14.3-8.8-35.3,6.7-45c3.5-2.2,7.3-3.9,11.4-4.7c2.1-0.4,4.3-0.4,6.4-0.2c8.5,0.7,15.7,4.2,21.4,10.5
                                    c4.6,5.2,7.1,11.2,7.3,18.2c0,1.4,0,2.8,0,4.3c-17.8,0-35.7,0-53.7,0c0.2,1.1,0.3,2.2,0.6,3.1c3.4,13.4,17.9,21.3,30.9,16.5
                                    c6.8-2.5,11.6-7.4,14-14.4c0.3-0.9,0.7-1.1,1.5-1.1C692.9,86.6,694.8,86.6,696.9,86.6z M690.5,75.8c-0.9-9.6-11.1-20.1-24.3-19.6
                                    c-6.2,0.2-11.5,2.2-15.7,6.8c-3.4,3.6-5.6,7.9-6.4,12.8C659.7,75.8,675.1,75.8,690.5,75.8z"/>
                                <path d="M395.5,109.9c-2.2,0-4.3,0-6.5,0c-0.2,0-0.4-0.5-0.4-0.8c0-2.7,0-5.4,0-8c0-0.3,0-0.6,0-1.2c-0.4,0.4-0.6,0.6-0.7,0.8
                                    c-4.8,5.7-10.9,9.3-18.3,10.2C360,112,351.8,109,345,102c-3.9-4-6.5-8.9-7.8-14.4c-1.1-4.5-1.2-9.1-0.2-13.6
                                    c2.1-10.2,7.6-18,17.2-22.4c9.7-4.5,19.3-3.6,28.1,2.6c8.8,6.2,13.2,15.1,13.3,25.9c0.1,9.6,0,19.1,0,28.7
                                    C395.5,109.1,395.5,109.5,395.5,109.9z M343.3,79.6c0.1,6.9,2.1,12.4,6.3,17.1c8.5,9.8,23.8,10,32.6,0.4
                                    c8.9-9.7,8.8-24.5-0.2-34.1c-7-7.4-17.9-9.2-26.7-4C347.2,63.8,343.6,71.1,343.3,79.6z"/>
                                <path d="M561.8,108.9c-2.2,0-4.3,0-6.4,0c-0.6,0-0.5-0.5-0.5-0.9c0-2.5,0-4.9,0-7.4c0-0.3,0-0.6-0.2-1c-0.2,0.2-0.4,0.5-0.6,0.7
                                    c-4.8,5.5-10.7,8.9-17.9,9.7c-11.1,1.2-20-3-26.7-11.9c-8.5-11.5-7.8-27.8,1.7-39c4.8-5.6,10.8-9.1,18.2-9.9
                                    c9.4-1.1,17.5,2,24,8.9c5.8,6.1,8.5,13.5,8.5,21.9c0,9.3,0,18.5,0,27.8C561.8,108.1,561.8,108.4,561.8,108.9z M554.9,80.7
                                    c-0.1-7.4-2.2-13-6.6-17.8c-7.5-8.2-20-9.2-28.7-2.2c-11,8.8-12.1,25.8-2.3,35.9c6.6,6.8,16.8,8.6,25.2,4.1
                                    C550.8,96.3,554.5,89,554.9,80.7z"/>
                                <path d="M231.4,56.1c-1.7,1.7-3.3,3.3-4.9,4.8c-0.5-0.4-1.1-0.9-1.6-1.4c-3.1-2.8-6.8-4-10.9-4c-3.1,0-6.1,0.3-8.9,1.8
                                    c-3.7,2.1-5.1,5.5-4.2,9.6c0.4,2,1.9,3.3,3.6,4.2c2.5,1.3,5.2,2.5,7.9,3.6c3.5,1.3,7.2,2.3,10.7,3.7c2.2,0.9,4.3,2,6.3,3.4
                                    c5.5,3.7,7.4,9.3,5.6,15.7c-1.5,5.4-5.1,8.9-10,11.3c-4.7,2.2-9.7,2.5-14.8,2.1c-7.3-0.6-13.2-3.9-17.8-9.6
                                    c-0.2-0.2-0.4-0.5-0.6-0.8c1.8-1.3,3.6-2.6,5.5-4c0.2,0.2,0.4,0.4,0.6,0.6c4.4,5.3,10.1,7.5,16.8,7.4c3.2,0,6.3-0.7,9.1-2.4
                                    c3.4-2.1,5.2-5.9,4.6-9.8c-0.3-1.9-1.3-3.4-2.8-4.4c-2-1.3-4-2.5-6.1-3.4c-3.4-1.4-6.9-2.3-10.4-3.5c-4.2-1.5-8.3-3.3-11.6-6.4
                                    c-1.6-1.6-2.7-3.4-3.3-5.6c-1.6-6.6,1-12.9,6.8-16.4c4.1-2.5,8.5-3.5,13.3-3.5c6-0.1,11.2,2.3,15.8,5.9
                                    C230.5,55.3,231,55.7,231.4,56.1z"/>
                                <path d="M451.7,38.3c0,2.1,0,4.2,0,6.2c0,2,0,3.9,0,6c5.1,0,10,0,15.1,0c0,2.3,0,4.6,0,6.9c-5,0-9.9,0-15,0c0,0.4-0.1,0.7-0.1,1.1
                                    c0,10.3-0.1,20.6,0,30.9c0,2.1,0.4,4.2,0.9,6.2c1.3,4.7,5.1,7.4,10.6,7.7c1.1,0.1,2.3,0,3.5,0c0,2.2,0,4.3,0,6.5
                                    c-6.1,0.6-11.8-0.1-16.3-4.7c-3-3.1-4.7-6.9-5.4-11.1c-0.2-1.6-0.4-3.2-0.4-4.8c0-16.5,0-33,0-49.6c0-1.2,0-1.2,1.2-1.2
                                    C447.8,38.3,449.7,38.3,451.7,38.3z"/>
                                <path d="M499.4,102.2c0,2.3,0,4.4,0,6.5c-8.2,1.5-16.9-1.6-20.3-11.3c-1-2.8-1.4-5.7-1.4-8.7c0-20.6,0-41.3,0-61.9
                                    c0-0.9,0.3-1.1,1.1-1.1c1.9,0.1,3.8,0,5.8,0c0,0.5,0,0.8,0,1.2c0,20.5,0,41,0,61.4c0,1.9,0.3,3.8,0.7,5.6c1.2,5,5,8.1,10.1,8.3
                                    C496.8,102.2,498.1,102.2,499.4,102.2z"/>
                                <path d="M729.4,108.7c-6.9,0.8-13-0.3-17.5-6.1c-2.7-3.5-3.8-7.6-4.2-12c-0.1-0.8-0.1-1.6-0.1-2.4c0-20.5,0-41,0-61.4
                                    c0-1.3,0-1.3,1.3-1.3c1.5,0,3,0.1,4.5,0c1-0.1,1.2,0.3,1.1,1.2c-0.1,2.9,0,5.8,0,8.7c0,17.6,0,35.3,0,52.9c0,2,0.3,4,0.8,5.9
                                    c1.2,4.7,4.9,7.6,9.9,7.9c1.2,0.1,2.3,0,3.5,0.1c0.2,0,0.7,0.3,0.7,0.5C729.4,104.7,729.4,106.7,729.4,108.7z"/>
                                <path d="M435.4,56c-1.1-0.1-2.2-0.1-3.3-0.2c-3-0.2-5.9,0.1-8.7,1.1c-6.1,2.1-9.4,6.6-10.5,12.8c-0.3,1.5-0.4,3-0.4,4.5
                                    c0,11.5,0,23,0,34.5c0,0.4,0,0.7,0,1.1c-2.3,0-4.6,0-6.9,0c0-0.4,0-0.7,0-1c0-11.7,0-23.4,0-35.1c0-5.8,1.4-11.2,4.9-15.9
                                    c3.7-4.9,8.8-7.4,14.7-8.4c3.1-0.5,6.3-0.4,9.4-0.2c0.6,0,0.9,0.2,0.9,0.9c0,1.7,0,3.4,0,5.1C435.5,55.5,435.5,55.7,435.4,56z"/>
                                <path d="M735.6,31.5c0.4-1.3,0.9-2.6,1.3-3.9c0-0.1,0-0.1,0.1-0.2c0.7-1.9,0.7-1.9,3-1.7c0.2,2.7,0.4,5.4,0.6,8.1
                                    c-1.6,0.3-1.6,0.3-1.7-1.1c-0.1-1.8-0.2-3.7-0.4-5.6c-0.3,0.8-0.6,1.7-0.8,2.5c-0.4,1.2-0.8,2.4-1.2,3.7c-0.2,0.6-0.5,0.7-1.1,0.7
                                    c-0.6,0-0.9-0.1-1.1-0.7c-0.5-1.7-1-3.4-1.5-5.1c-0.1-0.2-0.2-0.4-0.4-0.6c-0.1,1.8-0.2,3.5-0.3,5.3c-0.1,1.3-0.1,1.3-1.5,1.1
                                    c0-0.7,0.1-1.4,0.1-2c0.1-1.8,0.3-3.5,0.4-5.3c0-0.6,0.2-0.9,0.9-0.9c1.9,0.1,1.4-0.3,2.1,1.5C734.6,28.6,735.1,30.1,735.6,31.5z"
                                    />
                                <path d="M729.9,25.8c0,0.3,0,0.5,0,0.7c0,0.2,0,0.4-0.1,0.6c-0.8,0-1.6,0-2.5,0c0,2.3,0,4.6,0,6.9c-0.6,0-1.1,0-1.6,0
                                    c0-2.2,0-4.5,0-6.9c-0.8,0-1.5,0-2.2,0c-0.2,0-0.5-0.4-0.5-0.6c0-0.3,0.3-0.7,0.5-0.7C725.7,25.7,727.8,25.8,729.9,25.8z"/>
                            </svg>
                            <span class="button_smart-label__text paragraph_style-3">
                                See Nutrition Facts,<br>Ingredients and More
                            </span>
                        </a>
                    </div>
                </li>
        </ul>
        <span
            aria-hidden="true"
            class="star-container product-cta__star-container"
        >
            <svg
                class="star star__color-03"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 52 57"
            >
                <use xlink:href="/svgs/star.svg#star"></use>
            </svg>
        </span>
    </div>
</section>
