{% import "macros/badge.twig" as badge %}

<div
    is="product-index"
    v-cloak
>
    <div slot-scope="index">
        <intersection
            @enter="index.toggleNav(false)"
            @leave="index.toggleNav(true)"
        >
            <div class="product-index__hero">
                <div class="product-index__inner">
                    <div class="product-index__hero__header-group">
                        <h1 class="heading_style-3 copy_blue">{{ heading }}</h1>
                        <p class="paragraph_style-2">{{ subheading }}</p>
                    </div>
                    <div class="product-index__hero__nav">
                        {% for group in groups %}
                            <base-jump-link
                                jump-to="{{ group.category.name|replace({' ': '-'}) }}"
                                class="product-index__hero__nav__button"
                            >
                                {{ badge.type(group.category.color, group.category.letter) }}
                                <span class="heading_style-5 copy_black">{{ group.category.name }}</span>
                            </base-jump-link>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </intersection>
        <div
            :class="{ 'product-index__nav-wrap_active': index.navActive === true }"
            class="product-index__nav-wrap"
        >
            <div class="product-index__inner">
                <div class="product-index__nav">
                    {% for group in groups %}
                        <base-jump-link
                            jump-to="{{ group.category.name|replace({' ': '-'}) }}"
                            :class="{ 'product-index__nav__item_active': index.currentSection === '{{ group.category.name }}' }"
                            class="product-index__nav__item"
                        >
                            <div class="badge__button badge__button_ghost">
                                <span class="badge__button-icon">
                                    <span class="badge__copy">
                                        {{ group.category.letter }}
                                    </span>
                                </span>
                                <span class="heading_style-6 badge__button-copy">
                                    {{ group.category.name }}
                                </span>
                            </div>
                            <button
                                type="button"
                                class="badge__button"
                                style="background-color: {{ group.category.color }}"
                            >
                                <span
                                    class="badge__button-icon"
                                    style="background-color: #fff"
                                >
                                    <span
                                        class="badge__copy"
                                        style="color: {{ group.category.color }}"
                                    >
                                        {{ group.category.letter }}
                                    </span>
                                </span>
                                <span
                                    class="heading_style-6 badge__button-copy"
                                    style="color: #fff"
                                >
                                    {{ group.category.name }}
                                </span>
                            </button>
                        </base-jump-link>
                    {% endfor %}
                </div>
            </div>
        </div>
        <section class="product-index__grids">
            {% for group in groups %}
                {% include "components/product-grid.twig" with group %}
            {% endfor %}
        </section>
    </div>
</div>
