{% import "macros/badge.twig" as badge %}

<section class="recipe-details">
    <div class="recipe-details__inner">
        <div class="recipe-details__content">
            <div class="product-details__category heading_style-5 copy_black">
                {{ badge.type(category.color, category.letter) }}
                {{ category.name }}
            </div>
            <h1 class="heading_style-2 copy_blue">{{ header }}</h1>
            <ul class="recipe-details__overview recipe-details__desktop">
                <li class="recipe-details__overview__item heading_style-6 copy_black">
                    <svg
                        class="recipe-details__icon"
                        viewBox="0 0 24.9 24.9"
                    >
                        <path d="M0,12.5c0,6.9,5.6,12.5,12.5,12.5c6.9,0,12.5-5.6,12.5-12.5C24.9,5.6,19.3,0,12.5,0C5.6,0,0,5.6,0,12.5z M17.4,6.7l-2.9,6.8c0,0.1-0.1,0.2-0.2,0.2c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.3-0.1L11,11.4c-0.1-0.1-0.2-0.3-0.2-0.4c0-0.1,0-0.2,0.1-0.3l5.8-4.6C16.8,6,17,6,17.2,6.1C17.4,6.3,17.5,6.5,17.4,6.7"/>
                    </svg>
                    {{ minutes }} min
                </li>
                <li class="recipe-details__overview__item heading_style-6 copy_black">
                    <svg
                        class="recipe-details__icon"
                        viewBox="0 0 19.9 25.4"
                    >
                        <path d="M16.5,13.1c-0.3-0.3-0.9-0.3-1.2,0c-1.4,1.4-3.3,2.2-5.3,2.2c-2,0-3.9-0.8-5.3-2.2c-0.3-0.3-0.9-0.4-1.2,0
                        c-2.1,2-3.4,5-3.4,8.3c0,1,0.1,2,0.4,3c0.1,0.2,0.2,0.4,0.4,0.5l0.3,0.2c0.2,0.1,0.3,0.2,0.5,0.2h17c0.4,0,0.7-0.2,0.8-0.6
                        c0.1-0.4,0.5-2.2,0.5-3.3C19.9,18.1,18.6,15.2,16.5,13.1"/>
                        <path d="M5.2,11.1c0.1,0.1,0.2,0.3,0.3,0.4c1.1,1.2,2.7,2,4.4,2s3.3-0.8,4.4-2c0.1-0.1,0.2-0.3,0.3-0.4
                        c0.1-0.1,0.2-0.3,0.3-0.4c0.7-1.1,1.2-2.5,1.2-3.9C16.2,3,13.4,0,10,0C6.5,0,3.8,3,3.8,6.7c0,1.5,0.4,2.8,1.2,3.9
                        C5,10.8,5.1,11,5.2,11.1"/>
                    </svg>
                    {{ serves }} serv
                </li>
            </ul>
            <ul class="recipe-details__social recipe-details__desktop">
                <li class="recipe-details__social__item">
                    <a
                        href="https://twitter.com/"
                        class="social-icon__primary"
                    >
                        <span class="access-hidden">Twitter</span>
                        <svg
                            class="social-logo__primary"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                        >
                            <use xlink:href="/svgs/twitter.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="recipe-details__social__item">
                    <a
                        href="https://www.facebook.com/"
                        class="social-icon__primary"
                    >
                        <span class="access-hidden">Facebook</span>
                        <svg
                            class="social-logo__primary"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                        >
                            <use xlink:href="/svgs/facebook.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="recipe-details__social__item">
                    <a
                        href="/"
                        class="social-icon__primary"
                    >
                        <span class="access-hidden">Email</span>
                        <svg
                            class="social-logo__primary"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20.9 16"
                        >
                            <path d="M10.4,11.3c-0.6,0-1.3-0.2-1.7-0.7L0.4,2.2C0.2,2,0,2.1,0,2.3v11.9c0,1,0.8,1.7,1.7,1.7h17.4c1,0,1.7-0.8,1.7-1.7V2.3c0-0.2-0.2-0.3-0.4-0.2l-8.3,8.4C11.7,11.1,11.1,11.3,10.4,11.3"/>
                            <path d="M10.8,8.9l9.1-8.4C20.1,0.3,20,0,19.7,0H1.3h0C1,0,0.9,0.3,1.1,0.5l9.1,8.4C10.3,9,10.7,9,10.8,8.9"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="recipe-details__image">
        <img class="recipe-details__img" src="{{ image.src }}" alt="{{ image.alt }}" />
    </div>
    <div class="recipe-details__inner recipe-details__inner_mobile">
        <ul class="recipe-details__overview">
            <li class="recipe-details__overview__item heading_style-6 copy_black">
                <svg
                    class="recipe-details__icon"
                    viewBox="0 0 24.9 24.9"
                >
                    <path d="M0,12.5c0,6.9,5.6,12.5,12.5,12.5c6.9,0,12.5-5.6,12.5-12.5C24.9,5.6,19.3,0,12.5,0C5.6,0,0,5.6,0,12.5z M17.4,6.7l-2.9,6.8c0,0.1-0.1,0.2-0.2,0.2c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.3-0.1L11,11.4c-0.1-0.1-0.2-0.3-0.2-0.4c0-0.1,0-0.2,0.1-0.3l5.8-4.6C16.8,6,17,6,17.2,6.1C17.4,6.3,17.5,6.5,17.4,6.7"/>
                </svg>
                {{ minutes }} min
            </li>
            <li class="recipe-details__overview__item heading_style-6 copy_black">
                <svg
                    class="recipe-details__icon"
                    viewBox="0 0 19.9 25.4"
                >
                    <path d="M16.5,13.1c-0.3-0.3-0.9-0.3-1.2,0c-1.4,1.4-3.3,2.2-5.3,2.2c-2,0-3.9-0.8-5.3-2.2c-0.3-0.3-0.9-0.4-1.2,0
                    c-2.1,2-3.4,5-3.4,8.3c0,1,0.1,2,0.4,3c0.1,0.2,0.2,0.4,0.4,0.5l0.3,0.2c0.2,0.1,0.3,0.2,0.5,0.2h17c0.4,0,0.7-0.2,0.8-0.6
                    c0.1-0.4,0.5-2.2,0.5-3.3C19.9,18.1,18.6,15.2,16.5,13.1"/>
                    <path d="M5.2,11.1c0.1,0.1,0.2,0.3,0.3,0.4c1.1,1.2,2.7,2,4.4,2s3.3-0.8,4.4-2c0.1-0.1,0.2-0.3,0.3-0.4
                    c0.1-0.1,0.2-0.3,0.3-0.4c0.7-1.1,1.2-2.5,1.2-3.9C16.2,3,13.4,0,10,0C6.5,0,3.8,3,3.8,6.7c0,1.5,0.4,2.8,1.2,3.9
                    C5,10.8,5.1,11,5.2,11.1"/>
                </svg>
                {{ serves }} serv
            </li>
        </ul>
        <ul class="recipe-details__social">
            <li class="recipe-details__social__item">
                <a
                    href="https://twitter.com/"
                    class="social-icon__primary"
                >
                    <svg
                        class="social-logo__primary"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <use xlink:href="/svgs/twitter.svg#twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="recipe-details__social__item">
                <a
                    href="https://www.facebook.com/"
                    class="social-icon__primary"
                >
                    <svg
                        class="social-logo__primary"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                    >
                        <use xlink:href="/svgs/facebook.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="recipe-details__social__item">
                <a
                    href="/"
                    class="social-icon__primary"
                >
                    <svg
                        class="social-logo__primary"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20.9 16"
                    >
                        <path d="M10.4,11.3c-0.6,0-1.3-0.2-1.7-0.7L0.4,2.2C0.2,2,0,2.1,0,2.3v11.9c0,1,0.8,1.7,1.7,1.7h17.4c1,0,1.7-0.8,1.7-1.7V2.3c0-0.2-0.2-0.3-0.4-0.2l-8.3,8.4C11.7,11.1,11.1,11.3,10.4,11.3"/>
                        <path d="M10.8,8.9l9.1-8.4C20.1,0.3,20,0,19.7,0H1.3h0C1,0,0.9,0.3,1.1,0.5l9.1,8.4C10.3,9,10.7,9,10.8,8.9"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>
