<section
    class="recipe-cta-two {{
         threeColumns
            ? 'recipe-cta-two__odd'
            : 'recipe-cta-two__even'
     }}"
>
    <img
        class="recipe-cta-two__decoration"
        aria-hidden="true"
        src="images/recipe-cta-decoration.png"
        alt="null"
    >
    <img
        class="recipe-cta-two__decoration-desktop"
        aria-hidden="true"
        src="images/recipe-cta-decoration-desktop.png"
        alt="null"
    >
    <h2 class="heading_style-3 recipe-cta-two__heading">{{ heading }}</h2>
    <ul class="recipe-cta-two__list">
        {% for recipe in recipes %}
            <li class="recipe-cta-two__list-item">
                {% if loop.index == 3 %}
                    <div class="curved-arrow__container recipe-cta-two__graphic-container">
                        <svg
                            class="curved-arrow-short"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 117 119"
                        >
                            <use xlink:href="/svgs/curved-arrow-short.svg#curved-arrow-short"></use>
                        </svg>
                    </div>
                {% endif %}
                <a
                    class="recipe-cta-two__link"
                    href="{{ recipe.link }}"
                >
                    <div class="recipe-cta-two__image-container">
                        <img
                            class="recipe-cta-two__image"
                            src="{{ recipe.image.src }}"
                            alt="{{ recipe.image.alt }}"
                        >
                    </div>
                    <p
                        is="global-intersect-wrap"
                        class="paragraph_style-1 recipe-cta-two__item-copy"
                    >
                            {% set maxNumber = 155 %}
                        <span>
                            {{ recipe.copy|length >= maxNumber
                                ? recipe.copy|slice(0, maxNumber) ~ '...'
                                : recipe.copy
                            }}
                        </span>
                    </p>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="recipe-cta-two__button-container">
        <a
            is="global-intersect-wrap"
            class="button_main button_main_translucent recipe-cta-two__button"
            href="{{ button.href }}"
        >
            <span>
                {{ button.copy }}
            </span>
        </a>
    </div>
</section>
