<section class="recipe-cta-three">
    <h2 class="heading_style-3 recipe-cta-three__heading">{{ heading }}</h2>
    <ul class="recipe-cat-three__list">
        {% for recipe in recipes %}
            <li class="recipe-cta-three__list-item">
                <a
                    class="recipe-cta-three__link"
                    href="{{ recipe.link }}"
                >
                    <span class="recipe-cta-three__image-container">
                        <img
                            class="recipe-cta-three__image"
                            src="{{ recipe.image.src }}"
                            alt="{{ recipe.image.alt }}"
                        >
                    </span>
                    <p
                        is="global-intersect-wrap"
                        class="paragraph_style-1 recipe-cta-three__item-copy"
                    >
                        <span>{{ recipe.copy }}</span>
                    </p>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% for index in 1..3 %}
        <img
            class="recipe-cta-three__decoration-0{{ index }}"
            aria-hidden="true"
            src="images/recipe-cta-toast-0{{ index }}.png"
            alt="null"
        >
    {% endfor %}
</section>
