{% import "macros/badge.twig" as badge %}

<section class="search-results" aria-label="Search Results">
    <div class="search-results__inner">
        <div class="search-results__main">
            <h1 class="search-results__header heading_style-4 copy_red">{{ result_title }}</h1>
            {% for item in results %}
                <div is="global-intersect-wrap" class="search-results__item">
                    <div class="search-results__item__inner">
                        <h2 class="search-results__item__header heading_style-5 copy_black">{{ item.title }}</h2>
                        <a class="search-results__item__url heading_style-6" href="{{ item.url }}">{{ item.url }}</a>
                        <p class="search-results__item__p paragraph_style-3">{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="search-results__sidebar">
            {% if featured_product %}
                <h2 class="search-results__header heading_style-4 copy_red">Featured Product</h2>
                {% include "components/product-grid-item.twig" with featured_product %}
            {% endif %}
        </div>
    </div>
</section>
