{% import "macros/badge.twig" as badge %}

<div is="product-index">
    <div slot-scope="index">
        <div
            :class="{
                'product-index__nav-wrap_active': index.navActive
            }"
            class="product-index__nav-wrap"
        >
            <div class="product-index__inner">
                <div class="product-index__nav">
                    {% for group in groups %}
                        <base-jump-link
                            :offset-amount="-100"
                            jump-to="{{ group.category.name|replace({' ': '-'}) }}"
                            :class="{
                                'product-index__nav__item_active': index.handleSection === '{{ group.category.name }}'
                            }"
                            class="product-index__nav__item"
                        >
                            <div class="badge__button badge__button_ghost">
                                <span class="badge__button-icon">
                                    <span class="badge__copy">
                                        {{ group.category.letter }}
                                    </span>
                                </span>
                                <span class="heading_style-6 badge__button-copy">
                                    {{ group.category.name }}
                                </span>
                            </div>
                            <button
                                type="button"
                                class="badge__button"
                                style="background-color: {{ group.category.color }}"
                            >
                                <span
                                    class="badge__button-icon"
                                    style="background-color: #fff"
                                >
                                    <span
                                        class="badge__copy"
                                        style="color: {{ group.category.color }}"
                                    >
                                        {{ group.category.letter }}
                                    </span>
                                </span>
                                <span
                                    class="heading_style-6 badge__button-copy"
                                    style="color: #fff"
                                >
                                    {{ group.category.name }}
                                </span>
                            </button>
                        </base-jump-link>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div
            is="locator"
            class="store-locator"
        >
            {% set input_label = 'Zip code' %}
            {% set label = select_label|lower %}

            <template slot-scope="locator">
                <section
                    v-if="!locator.showActive"
                    class="store-filter"
                >
                    <div class="store-filter__headings">
                        <h1 class="heading_style-3 store-filter__heading">{{ heading }}</h1>
                        <h2 class="paragraph_style-1 store-filter__subheading">{{ subheading }}</h2>
                    </div>
                    <form
                        role="form"
                        class="store-filter__primary-container"
                    >
                        <div class="store-filter__input-wrapper">
                            <div class="store-filter__input-inner">
                                <label
                                    for="{{ input_label|lower|replace({' ': ''}) }}"
                                    class="access-hidden"
                                >
                                    Enter your {{ input_label|lower }}
                                </label>
                                <span
                                    id="{{ input_label|lower|replace({' ': ''}) }}"
                                    is="store-input"
                                ></span>
                                <span class="input-label__secondary">
                                    {{ input_label}}
                                </span>
                                <div
                                    class="store-filter__error-container error--desktop"
                                >
                                    <div
                                        is="transition-fade"
                                    >
                                        <p
                                            v-if="!locator.handleZip"
                                            class="paragraph_style-2 store-filter__error-copy"
                                        >
                                            {{ form_success_copy }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="store-filter__input-wrapper select-secondary__container">
                            <label
                                for="{{ label }}"
                                class="access-hidden"
                            >
                                {{ select_label }}
                            </label>
                            <div
                                tabindex="0"
                                class="select-secondary__wrapper"
                            >
                                <div class="select-secondary__inner">
                                    <div
                                        is="disclosure-button"
                                        controls="{{ label }}"
                                        expanded-class="select-secondary__expanded"
                                        class="select-secondary select-secondary--filter"
                                    >
                                        <span class="select-secondary__heading"><% locator.handleDistance %> miles</span>
                                        <span class="select-secondary__arrow-container-outer select-secondary__arrow-container--revised">
                                            <span class="select-secondary__arrow-container-inner">
                                                <svg
                                                    class="select-secondary__arrow"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 507.128 321.729"
                                                >
                                                    <use xlink:href="/svgs/acute-arrow.svg#acute-arrow"></use>
                                                </svg>
                                            </span>
                                        </span>
                                    </div>
                                    <div
                                        is="disclosure-container"
                                        id="{{ label }}"
                                    >
                                        <div is="disclosure-item"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="store-filter__button-container store--button--desktop">
                            <button
                                :class="locator.handleValidation ? 'button--enabled' : null"
                                @click.prevent="locator.toggleActive()"
                                class="button_main_gray--filter store-filter__button"
                            >
                                {{ button_copy }}
                            </button>
                            <div class="store-filter__error-container error--mobile">
                                <div
                                    is="transition-fade"
                                >
                                    <p
                                        v-if="!locator.handleZip"
                                        class="paragraph_style-2 store-filter__error-copy"
                                    >
                                        {{ form_success_copy }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="store-filter__reset-buttons">
                            <div class="store-filter__reset-buttons__inner">
                                <button
                                    class="store-filter__reset-button store-filter__reset-button-copy"
                                    @click.prevent="locator.selectAllItems()"
                                >
                                    {{ reset_button_primary }}
                                </button>
                                <div
                                    is="reset-filter"
                                    button-copy="{{ reset_button_secondary }}"
                                    class="store-filter__reset-button store-filter__reset-button-copy store-filter__reset-button--secondary"
                                ></div>
                            </div>
                        </div>
                        <div class="store-filter__button-container store--button--mobile">
                            <button
                                :class="locator.handleValidation ? 'button--enabled' : null"
                                @click.prevent="locator.toggleActive()"
                                class="button_main_gray--filter store-filter__button"
                            >
                                {{ button_copy }}
                            </button>
                            <div
                                is="transition-fade"
                            >
                                <div
                                    v-if="!locator.handleZip"
                                    class="store-filter__error-container"
                                >
                                    <p class="paragraph_style-2 store-filter__error-copy">
                                        {{ form_success_copy }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="product-index__grids">
                            <intersection @intersect="locator.intersectTop">
                                <div></div>
                            </intersection>
                            {% for group in groups %}
                                {% set category = group.category %}
                                <intersection
                                    root-margin="-60px 0px 0px 0px"
                                    @leave="locator.toggleSection('{{ category.name }}', 'top', $event)"
                                >
                                    <div></div>
                                </intersection>
                                <div class="store-filter__product-grid">
                                    {% if category.name %}
                                        <div class="product-grid__header">
                                            <h2
                                                class="heading_style-5 copy_black"
                                                style="border-color: {{ category.color }}"
                                            >
                                                {{ badge.type(category.color, category.letter) }}
                                                {{ category.name }}
                                            </h2>
                                        </div>
                                    {% endif %}
                                    <div
                                        id="{{ group.category.name|replace({' ': '-'}) }}"
                                        class="product-grid__items product-grid__inner"
                                    >
                                        {% for item in group.products %}
                                            {% set item = item|merge({ 'category': category }) %}
                                            <div
                                                is="product-grid-item"
                                                sku="{{ item.sku|json_encode }}"
                                                class="product-grid__item-wrap"
                                            >
                                                {% include "components/filter-grid-item.twig" with item %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <intersection
                                    root-margin="0px 0px -120px 0px"
                                    @leave="locator.toggleSection('{{ category.name }}', 'bottom', $event)"
                                >
                                    <div></div>
                                </intersection>
                            {% endfor %}
                            <intersection @intersect="locator.intersectBottom">
                                <div></div>
                            </intersection>
                        </div>
                        <div class="store-filter__reset-buttons">
                            <div class="store-filter__reset-buttons__inner">
                                <button
                                    class="store-filter__reset-button store-filter__reset-button-copy"
                                    @click.prevent="locator.selectAllItems()"
                                >
                                    {{ reset_button_primary }}
                                </button>
                                <div
                                    is="reset-filter"
                                    button-copy="{{ reset_button_secondary }}"
                                    class="store-filter__reset-button store-filter__reset-button-copy store-filter__reset-button--secondary"
                                ></div>
                            </div>
                        </div>
                        <div class="store-filter__button-container store-filter__button-container--center">
                            <button
                                :class="locator.handleValidation ? 'button--enabled' : null"
                                @click.prevent="locator.toggleActive()"
                                class="button_main_gray--filter store-filter__button"
                            >
                                {{ button_copy }}
                            </button>
                            <div
                                v-if="!locator.handleZip"
                                class="store-filter__error-container"
                            >
                                <p class="paragraph_style-2 store-filter__error-copy">
                                    {{ form_success_copy }}
                                </p>
                            </div>
                        </div>
                        <div
                            is="transition-fade"
                        >
                            <div
                                v-if="locator.showButton"
                                class="store-filter__button-container_secondary"
                            >
                                <button
                                    :class="locator.handleValidation ? 'button--enabled' : null"
                                    @click.prevent="locator.toggleActive()"
                                    class="button_main_gray--filter store-filter__button-secondary"
                                >
                                    {{ button_copy }}
                                </button>
                            </div>
                        </div>
                    </form>
                </section>
                <section
                    v-if="locator.showActive"
                >
                    <div
                        is="store-results"
                        image-src="{{ modal_image.src }}"
                        image-alt="{{ modal_image.alt }}"
                    >
                        <h1
                            class="heading_style-3 store-results__heading"
                            slot="heading"
                        >
                            {{ results_heading }}
                        </h1>
                    </div>
                </section>
            </template>
        </div>
    </div>
</div>
