<div is="global-header">
    <div slot-scope="header">
        <div
            class="header"
        >
            {{ header.foo }}
            <div
                class="header__inner header__inner_desktop"
            >
                <button
                    @click="header.toggleActive('menu')"
                    :class="{ header__hamburger_active: header.active === 'menu' }"
                    aria-hidden="true"
                    class="header__hamburger"
                ><span></span></button>
                <button
                    @click="header.toggleActive('search')"
                    :class="{ header__searchbtn_mobile_active: header.active === 'search' }"
                    class="header__searchbtn_mobile"
                >
                    <span class="access-hidden">Search</span>
                    <svg
                        v-if="header.active !== 'search'"
                        viewBox="0 0 18.5 17.6"
                        class="header__navigation__search-icon"
                    >
                        <path d="M18.5,15.4l-3.7-3.3c1.9-3.2,1.4-7.4-1.5-10h0C10-0.9,5-0.6,2.1,2.6C0.6,4.2-0.1,6.2,0,8.4c0.1,2.1,1,4.1,2.6,5.5C4.1,15.2,6,15.9,8,15.9c0.1,0,0.3,0,0.4,0c1.6-0.1,3.1-0.6,4.4-1.6l3.7,3.3L18.5,15.4z M8.2,12.9c-1.3,0.1-2.6-0.4-3.6-1.3c-1-0.9-1.6-2.1-1.6-3.4C2.9,6.9,3.4,5.6,4.3,4.6C5.3,3.6,6.6,3,8,3c1.2,0,2.4,0.4,3.3,1.3c2,1.8,2.2,5,0.4,7C10.8,12.3,9.5,12.9,8.2,12.9z"/>
                    </svg>
                    <svg
                        v-if="header.active === 'search'"
                        viewBox="0 0 13.9 13.9"
                        class="header__navigation__search-close"
                    >
                        <line x1="2.8" y1="2.1" x2="11.8" y2="11.1" class="st0"></line>
                        <line x1="2.1" y1="11.8" x2="11.5" y2="2.4" class="st0"></line>
                    </svg>
                </button>
                <ul class="header__navigation header__navigation_desktop">
                    <li class="header__navigation__item">
                        <a class="header__navigation__link" href="/">Products</a>
                    </li>
                    <li class="header__navigation__item">
                        <a class="header__navigation__link" href="/">Why Arnold</a>
                    </li>
                    <li class="header__navigation__item">
                        <a class="header__navigation__link" href="/">Recipes</a>
                    </li>
                </ul>
                <a href="/">
                    <img class="header__logo" src="images/logo.svg" alt="logo">
                </a>
                <ul class="header__navigation header__navigation_desktop">
                    <li class="header__navigation__item">
                        <a class="header__navigation__link" href="/">#BreadLife</a>
                    </li>
                    <li class="header__navigation__item">
                        <a class="header__navigation__link" href="/">Find in Stores</a>
                    </li>
                    <li class="header__navigation__item">
                        <button
                            @click="header.toggleActive('search')"
                            :class="{ header__navigation__link_active: header.active === 'search' }"
                            class="header__navigation__link"
                        >
                            Search
                            <svg
                                v-if="header.active !== 'search'"
                                viewBox="0 0 18.5 17.6"
                                class="header__navigation__search-icon"
                            >
                                <path d="M18.5,15.4l-3.7-3.3c1.9-3.2,1.4-7.4-1.5-10h0C10-0.9,5-0.6,2.1,2.6C0.6,4.2-0.1,6.2,0,8.4c0.1,2.1,1,4.1,2.6,5.5C4.1,15.2,6,15.9,8,15.9c0.1,0,0.3,0,0.4,0c1.6-0.1,3.1-0.6,4.4-1.6l3.7,3.3L18.5,15.4z M8.2,12.9c-1.3,0.1-2.6-0.4-3.6-1.3c-1-0.9-1.6-2.1-1.6-3.4C2.9,6.9,3.4,5.6,4.3,4.6C5.3,3.6,6.6,3,8,3c1.2,0,2.4,0.4,3.3,1.3c2,1.8,2.2,5,0.4,7C10.8,12.3,9.5,12.9,8.2,12.9z"/>
                            </svg>
                            <svg
                                v-if="header.active === 'search'"
                                viewBox="0 0 13.9 13.9"
                                class="header__navigation__search-close"
                            >
                                <line x1="2.8" y1="2.1" x2="11.8" y2="11.1" class="st0"></line>
                                <line x1="2.1" y1="11.8" x2="11.5" y2="2.4" class="st0"></line>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div
            :class="{ header__search_active: header.active === 'search' }"
            class="header__search"
        >
            <div class="header__inner">
                <label class="header__search__label">
                    <span class="access-hidden">Search Input</span>
                    <input type="text" placeholder="Search" aria-label="Search Input" class="header__search__input">
                    <button
                        @click="header.toggleActive('search')"
                        class="header__search__button"
                    >Search</button>
                </label>
            </div>
        </div>
        <div
            :class="{ header__menu_active: header.active === 'menu' || header.active === 'search' }"
            class="header__menu"
        >
            <ul
                :class="{ header__navigation_mobile_active: header.active === 'menu' }"
                class="header__navigation header__navigation_mobile"
            >
                <li class="header__navigation__item">
                    <a class="header__navigation__link" href="/">Products</a>
                </li>
                <li class="header__navigation__item">
                    <a class="header__navigation__link" href="/">Why Arnold</a>
                </li>
                <li class="header__navigation__item">
                    <a class="header__navigation__link" href="/">Recipes</a>
                </li>
                <li class="header__navigation__item">
                    <a class="header__navigation__link" href="/">#BreadLife</a>
                </li>
                <li class="header__navigation__item">
                    <a class="header__navigation__link" href="/">Find in Stores</a>
                </li>
                <li class="header__navigation__item">
                    <button
                        @click="header.toggleActive('search')"
                        class="header__navigation__link"
                    >
                        Search
                        <svg
                            viewBox="0 0 18.5 17.6"
                            class="header__navigation__search-icon"
                        >
                            <path d="M18.5,15.4l-3.7-3.3c1.9-3.2,1.4-7.4-1.5-10h0C10-0.9,5-0.6,2.1,2.6C0.6,4.2-0.1,6.2,0,8.4c0.1,2.1,1,4.1,2.6,5.5C4.1,15.2,6,15.9,8,15.9c0.1,0,0.3,0,0.4,0c1.6-0.1,3.1-0.6,4.4-1.6l3.7,3.3L18.5,15.4z M8.2,12.9c-1.3,0.1-2.6-0.4-3.6-1.3c-1-0.9-1.6-2.1-1.6-3.4C2.9,6.9,3.4,5.6,4.3,4.6C5.3,3.6,6.6,3,8,3c1.2,0,2.4,0.4,3.3,1.3c2,1.8,2.2,5,0.4,7C10.8,12.3,9.5,12.9,8.2,12.9z"/>
                        </svg>
                    </button>
                </li>
            </ul>
            <label
                :class="{ header__search__label_mobile_active: header.active === 'search' }"
                class="header__search__label header__search__label_mobile"
            >
                <span class="access-hidden">Search Input</span>
                <input type="text" placeholder="Search" aria-label="Search Input" class="header__search__input">
                <button
                    @click="header.toggleActive('search')"
                    class="header__search__button"
                >Search</button>
            </label>
        </div>
    </div>
</div>

