<footer class="footer">
    <div class="footer__top">
        <div class="footer__inner footer__inner_top">
            <a class="footer__logo" href="/">
                <img src="images/logo.svg" alt="logo">
            </a>
            <div
                is="fade-slider"
                class="footer__pitch"
                :auto-change-timer="4000"
            >
                <div
                    class="footer__pitch__wrap"
                    slot-scope="slider"
                >
                    <p
                        :class="{ 'footer__pitch__item_active': slider.activeSlide == 1 }"
                        class="footer__pitch__item heading_style-4 copy_white slide"
                    >

                        LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISING
                    </p>
                    <p
                        :class="{ 'footer__pitch__item_active': slider.activeSlide == 2 }"
                        class="footer__pitch__item heading_style-4 copy_white slide"
                    >
                        DOLOR SIT AMET CONSECTETUR AMET
                    </p>
                    <p
                        :class="{ 'footer__pitch__item_active': slider.activeSlide == 3 }"
                        class="footer__pitch__item heading_style-4 copy_white slide"
                    >
                        SIT LOREK AMET CONSECTETUR AMET
                    </p>
                </div>
            </div>
            <ul class="footer__navigation">
                <li class="footer__navigation__item">
                    <button class="button_main button_main_red">Careers</button>
                </li>
                <li class="footer__navigation__item">
                    <button class="button_main button_main_red">Contact</button>
                </li>
                <li class="footer__navigation__item">
                    <button class="button_main button_main_red">FAQ</button>
                </li>
            </ul>
            <ul class="footer__social">
                <li class="footer__navigation__item footer__social__header">
                    <p class="paragraph_style-2 copy_white">Social Media Call to Action</p>
                </li>
                <li class="footer__navigation__item">
                    <a
                        href="https://twitter.com/"
                        class="social-icon__primary"
                    >
                        <span class="access-hidden">Twitter</span>
                        <svg
                            class="social-logo__primary"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                        >
                            <use xlink:href="/svgs/twitter.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__navigation__item">
                    <a
                        href="https://www.facebook.com/"
                        class="social-icon__primary"
                    >
                        <span class="access-hidden">Facebook</span>
                        <svg
                            class="social-logo__primary"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                        >
                            <use xlink:href="/svgs/facebook.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__inner">
            <ul class="footer__navigation">
                <li class="footer__navigation__item">
                    <a class="footer__bottom__navigation__link" href="/">Arnold</a>
                </li>
                <li class="footer__navigation__item">
                    <a class="footer__bottom__navigation__link" href="/">Brownberry</a>
                </li>
                <li class="footer__navigation__item">
                    <a class="footer__bottom__navigation__link" href="/">Oroweat</a>
                </li>
                <li class="footer__navigation__item">
                    <a class="footer__bottom__navigation__link" href="/">California Supply Chain Act</a>
                </li>
                <li class="footer__navigation__item">
                    <a class="footer__bottom__navigation__link" href="/">Privacy Policy</a>
                </li>
                <li class="footer__navigation__item">
                    <a class="footer__bottom__navigation__link" href="/">Terms of Use</a>
                </li>
                <li class="footer__navigation__item">
                    <a class="footer__bottom__navigation__link" href="/">Español</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
