<template>
    <div>
        <div class="block-carousel__list-container">
            <ul
                :style="handleItem"
                class="block-carousel__list"
            >
                <slot/>
            </ul>
        </div>
        <div class="block-carousel__buttons">
            <div class="block-carousel__button block-carousel__button_primary">
                <button
                    type="button"
                    class="arrow-container__primary"
                    @keyup.left="previousItem"
                    @click="previousItem"
                >
                    <span class="access-hidden">Navigate Carousel Left</span>
                    <svg
                        class="arrow-primary-left"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 11 23"
                    >
                        <use xlink:href="/svgs/arrow.svg#arrow"/>
                    </svg>
                </button>
            </div>
            <div class="block-carousel__button block-carousel__button_secondary">
                <button
                    type="button"
                    class="arrow-container__primary"
                    @keyup.right="nextItem"
                    @click="nextItem"
                >
                    <span class="access-hidden">Navigate Carousel Right</span>
                    <svg
                        class="arrow-primary-right"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 11 23"
                    >
                        <use xlink:href="/svgs/arrow.svg#arrow"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import windowWidth from '@/components/windowWidth';

export default {
    name: 'CarouselContainer',
    mixins: [windowWidth],
    data() {
        return {
            items: [],
            activeItem: undefined,
        };
    },
    computed: {
        itemIndex() {
            return this.items.indexOf(this.activeItem);
        },
        handleItem() {
            return {
                width: `${this.items.length * 268}px`,
                transform: `translateX(${this.itemIndex * (this.handleWindow)}px)`,
            };
        },
        handleWindow() {
            return this.windowWidth > 640 ? -318 : -302;
        },
    },
    mounted() {
        const { items } = this;

        this.activeItem = items[items.length / 2];
    },
    created() {
        this.$on('add-item', item => this.items.push(item));
    },
    methods: {
        nextItem() {
            const { itemIndex, items } = this;

            this.activeItem = itemIndex < items.length - 1 ? items[itemIndex + 1] : items[0];
        },
        previousItem() {
            const { itemIndex, items } = this;

            this.activeItem = itemIndex > 0 ? items[itemIndex - 1] : items[items.length - 1];
        },
    },
};
</script>
