<template>
    <li>
        <slot/>
    </li>
</template>

<script>
export default {
    name: 'CarouselItem',
    data() {
        return {
            item: undefined,
        };
    },
    created() {
        const { $parent } = this;

        $parent.$emit('add-item', this);
        this.item = this;
    },
};
</script>
