<template>
    <component
        :id="id"
        :is="is"
        :role="role"
        :type="type"
        :tabindex="tabindex"
        :aria-expanded="expanded.toString()"
        :aria-controls="controls"
        :aria-disabled="disabled.toString()"
        @click="handleClickEvent"
        @focus="handleFocusEvent"
        @keydown="handleKeydownEvent"
    >
        <slot/>
    </component>
</template>

<script>
import container from '@/js/util/accordion';
import dynamicComponent from '@/js/mixins/dynamic-component';

export default {
    name: 'AccordionContainerHeaderButton',
    defaultTag: 'button',
    mixins: [dynamicComponent],
    inject: { container },
    props: {
        id: {
            type: String,
            required: true,
        },
        controls: {
            type: String,
            required: true,
            validator: value => !value.includes(' '),
        },
    },
    computed: {
        role() {
            return this.tag === 'button' ? null : 'button';
        },
        type() {
            return this.tag === 'button' ? 'button' : null;
        },
        tabindex() {
            return this.role ? '0' : null;
        },
        panel() {
            return this.container.panels.find(this.isControlledPanel);
        },
        expanded() {
            return this.panel ? this.panel.expanded : false;
        },
        disabled() {
            if (!this.panel) {
                return true;
            }

            return this.container.shouldNotCollapse && this.panel.expanded;
        },
    },
    created() {
        this.$on('focus', this.focus);

        this.container.$emit('create:button', this);
    },
    methods: {
        focus() {
            this.$el.focus();
        },
        handleFocusEvent() {
            this.container.$emit('focus:button', this);
        },
        handleClickEvent() {
            this.container.$emit('click:button', this);
        },
        handleKeydownEvent(event) {
            const { key } = event;
            const eventToEmit = {
                ArrowUp: 'focus:header.previous',
                ArrowDown: 'focus:header.next',
                Home: 'focus:header.first',
                End: 'focus:header.last',
                PageUp: 'focus:header.previous',
                PageDown: 'focus:header.next',
            }[key];

            if (!eventToEmit) {
                return;
            }

            if (['PageUp', 'PageDown'].includes(key) && !event.ctrlKey) {
                return;
            }

            event.preventDefault();

            this.container.$emit(eventToEmit);
        },
        isControlledPanel({ id }) {
            return id === this.controls;
        },
    },
};
</script>
